volumes/iot-conf/flows.json
[{"id":"7e6e19.d13c31e8","type":"tab","label":"Kraydel Sim","disabled":false,"info":""},{"id":"e0e84680.291178","type":"tab","label":"Monitoring UI","disabled":false,"info":""},{"id":"31c0d3a4.3441ac","type":"tab","label":"dev-qa-prod","disabled":false,"info":""},{"id":"22206cc.ed21b14","type":"tab","label":"Flow 2"},{"id":"84cfc0d6.96368","type":"tab","label":"Flow 3"},{"id":"ff549e0d.dec25","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#008000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b792b34e.e7d8f","type":"ui_group","z":"","name":"Profiles","tab":"aca3e307.62074","disp":true,"width":"21"},{"id":"72f5dc26.a0ae64","type":"ui_tab","z":"","name":"Simulation","icon":"dashboard"},{"id":"aca3e307.62074","type":"ui_tab","z":"","name":"Profiles","icon":"dashboard"},{"id":"214081f4.c46abe","type":"Device Schema","z":"","deviceType":"Kafka","props":[{"guid":"24286c88f1bb","name":"Light","random":{"func":"bool","args":{"likelihood":30}}},{"guid":"6f1057517ec2","name":"Motion","random":{"func":"bool","args":{"likelihood":30}}},{"guid":"24e80502be2a","name":"Sound","random":{"func":"bool","args":{"likelihood":30}}},{"guid":"d1ef4864aa25","name":"Temperature","random":{"func":"integer","args":{"min":21,"max":50}}}],"evts":[{"guid":"8ecc88d48bf1","name":"data","payload":{"properties":{"0":"24286c88f1bb","1":"6f1057517ec2","2":"24e80502be2a","3":"d1ef4864aa25","length":4,"prevObject":{"0":"24286c88f1bb","1":"6f1057517ec2","2":"24e80502be2a","3":"d1ef4864aa25","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1504366290345":{"parentNode":[27555,47,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1504366290345":{"parentNode":[27544.238214009878,33,true]}},"length":1},"context":{"sizzle1504366290345":{"parentNode":[27544.238214009878,33,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1504366290345":{"parentNode":[27544.238214009878,33,true]}}},"context":{"sizzle1504366290345":{"parentNode":[27544.238214009878,33,true]}}}}}]},{"id":"973422fa.9859a","type":"mqtt-broker","z":"","broker":"ec2-52-212-72-231.eu-west-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ba3a41f9.5efe1","type":"mqtt-broker","z":"","broker":"ec2-54-76-61-210.eu-west-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4ff18d5b.057254","type":"mqtt-broker","z":"","broker":"52.211.95.154","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"74da9d90.b3996c","type":"ui_group","z":"","name":"Kraydel Devices","tab":"72f5dc26.a0ae64","disp":true,"width":"21","collapse":false},{"id":"718221b2.34a6a","type":"websocket-listener","z":"","path":"/ws/audio-pro","wholemsg":"false"},{"id":"ea524d21.87d0e","type":"websocket-listener","z":"22206cc.ed21b14","path":"/ws/nao-webkit","wholemsg":"false"},{"id":"8f53e84e.dc797","type":"websocket-listener","z":"","path":"/ws/selfie-qms","wholemsg":"false"},{"id":"c71bd723.3e6388","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"2c8e906174.cert.pem","keyname":"2c8e906174.private.key","caname":"root-CA.crt","verifyservercert":true},{"id":"4168f12b.77464","type":"mqtt-broker","z":"","broker":"a2yo86dq9lq690.iot.eu-west-1.amazonaws.com","port":"8883","tls":"c71bd723.3e6388","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"115d5ba3.f67114","type":"ui_template","z":"e0e84680.291178","group":"","name":"Montoring","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\nHow","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":281,"y":131,"wires":[[]]},{"id":"2acb90bd.14069","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b1","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":40.51953315734863,"wires":[["d977b2ce.8f13f"]]},{"id":"6ed95ce4.747824","type":"start virtual device","z":"7e6e19.d13c31e8","name":"","deviceId":"","schema":"214081f4.c46abe","outputs":1,"x":896,"y":247,"wires":[["27c03f3d.d0694","888ae9b8.053d38","e7a85da4.90416"]]},{"id":"2e5165e7.bb846a","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"false","x":1004.85546875,"y":868.234375,"wires":[]},{"id":"27c03f3d.d0694","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"false","x":924.6171875,"y":198.04296875,"wires":[]},{"id":"7eaf89ef.07a608","type":"stop virtual device","z":"7e6e19.d13c31e8","name":"","deviceId":"","schema":"214081f4.c46abe","x":922.234375,"y":916.25,"wires":[["2e5165e7.bb846a"]]},{"id":"6fad3c7c.90b3a4","type":"mqtt in","z":"31c0d3a4.3441ac","name":"kraydel-data-topic - qa","topic":"kraydel-data-topic","qos":"2","broker":"973422fa.9859a","x":200,"y":780,"wires":[["b45d92ea.bfe62"]]},{"id":"b45d92ea.bfe62","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":453.99999237060547,"y":779.9999694824219,"wires":[]},{"id":"f4933d60.6dc78","type":"mqtt out","z":"31c0d3a4.3441ac","name":"kraydel-data-topic - qa","topic":"kraydel-data-topic","qos":"","retain":"","broker":"973422fa.9859a","x":481.99993896484375,"y":705.9998898506165,"wires":[]},{"id":"b009aee7.4a1a8","type":"inject","z":"31c0d3a4.3441ac","name":"sensor data - qa","topic":"","payload":"{\"BS_ID\":\"b8-27-eb-4a-d8-b2\",\"TIME\":1501769641,\"PIR\":-1,\"AT\":10.4,\"LIGHT\":78,\"SOUND\":-1,\"WRIST_STRAP_DATA\":[]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":204.49993133544922,"y":705.9998917579651,"wires":[["f4933d60.6dc78"]]},{"id":"2ce07eeb.5a4ce2","type":"mqtt in","z":"31c0d3a4.3441ac","name":"customized-reminder-topic - qa","topic":"customized-reminder-topic","qos":"2","broker":"973422fa.9859a","x":229.9999771118164,"y":913.9998626708984,"wires":[["48d03d37.f01bb4"]]},{"id":"961b6b9d.0fba28","type":"mqtt in","z":"31c0d3a4.3441ac","name":"device-initialization-topic - qa","topic":"device-initialization-topic","qos":"2","broker":"973422fa.9859a","x":226.99998474121094,"y":856.0000133514404,"wires":[["7bbd532f.15d42c"]]},{"id":"7bbd532f.15d42c","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":459.00001525878906,"y":857.0000591278076,"wires":[]},{"id":"48d03d37.f01bb4","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":457.99999237060547,"y":914.9998941421509,"wires":[]},{"id":"f52bf3cf.80448","type":"http request","z":"31c0d3a4.3441ac","name":"Device Initialization - dev","method":"POST","ret":"txt","url":"http://ec2-54-76-61-210.eu-west-1.compute.amazonaws.com:9091/Kraydel-server/rest/submit_device","tls":"","x":504.37889862060547,"y":163.03890705108643,"wires":[["b6488e1e.adc8d"]]},{"id":"b6488e1e.adc8d","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":759.0039825439453,"y":165.6756191253662,"wires":[]},{"id":"bb9205e3.463f48","type":"http request","z":"31c0d3a4.3441ac","name":"Device Initialization - prod","method":"POST","ret":"txt","url":"http://52.210.20.102:8080/Kraydel-server/rest/submit_device","tls":"","x":497.76563262939453,"y":1077.750051498413,"wires":[["51531508.06377c"]]},{"id":"e9367d37.52d61","type":"http request","z":"31c0d3a4.3441ac","name":"Device Initialization - qa","method":"POST","ret":"txt","url":"http://ec2-52-212-72-231.eu-west-1.compute.amazonaws.com:9091/Kraydel-server/rest/submit_device","tls":"","x":512.7655258178711,"y":646.7498941421509,"wires":[["e320dda0.f4933"]]},{"id":"4072a02e.da8e4","type":"inject","z":"31c0d3a4.3441ac","name":"Device Initialization - dev","topic":"","payload":"{\"macId\":\"b8-27-eb-4a-d8-b1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":234.7655792236328,"y":162.74981307983398,"wires":[["f52bf3cf.80448"]]},{"id":"11103593.01787a","type":"inject","z":"31c0d3a4.3441ac","name":"Device Initialization - qa","topic":"","payload":"{\"macId\":\"b8-27-eb-4a-d8-b1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":224.76551055908203,"y":647.7499027252197,"wires":[["e9367d37.52d61"]]},{"id":"e320dda0.f4933","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"payload","x":765.765552520752,"y":647.7499361038208,"wires":[]},{"id":"51531508.06377c","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":729.7656135559082,"y":1072.7499284744263,"wires":[]},{"id":"3ddb3dae.4d8ca2","type":"comment","z":"31c0d3a4.3441ac","name":"dev","info":"","x":154.3788070678711,"y":82.78104782104492,"wires":[]},{"id":"2dbcde80.532e12","type":"comment","z":"31c0d3a4.3441ac","name":"qa","info":"","x":160.7655258178711,"y":577.7497978210449,"wires":[]},{"id":"d7bedfe3.df37d","type":"comment","z":"31c0d3a4.3441ac","name":"prod","info":"","x":162.7655258178711,"y":992.7497978210449,"wires":[]},{"id":"a0c979a5.c93968","type":"mqtt in","z":"31c0d3a4.3441ac","name":"kraydel-data-topic - dev","topic":"kraydel-data-topic - dev","qos":"2","broker":"ba3a41f9.5efe1","x":200.76556396484375,"y":441.999849319458,"wires":[["b2acf9b0.1d8a38"]]},{"id":"b2acf9b0.1d8a38","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":458.7655715942383,"y":442.9998550415039,"wires":[]},{"id":"fb1b39f1.87bb28","type":"mqtt out","z":"31c0d3a4.3441ac","name":"kraydel-data-topic - dev","topic":"kraydel-data-topic","qos":"","retain":"","broker":"ba3a41f9.5efe1","x":466.765625,"y":227.99985885620117,"wires":[]},{"id":"cf068d13.3ca28","type":"inject","z":"31c0d3a4.3441ac","name":"sensor data - dev","topic":"","payload":"{ \"BS_ID\":\"b8-27-eb-4a-d8-b1\", \"TIME\":1501769641, \"PIR\":-1, \"AT\":10.4, \"LIGHT\":78, \"SOUND\":-1, \"WRIST_STRAP_DATA\":[] }","payloadType":"json","repeat":"","crontab":"","once":false,"x":208.2656364440918,"y":226.99985218048096,"wires":[["fb1b39f1.87bb28"]]},{"id":"8f156994.a15db8","type":"mqtt in","z":"31c0d3a4.3441ac","name":"customized-reminder-topic - dev","topic":"customized-reminder-topic","qos":"2","broker":"ba3a41f9.5efe1","x":229.76561737060547,"y":369.9998416900635,"wires":[["6f0a14e4.d12e6c"]]},{"id":"6fdc7461.fec88c","type":"mqtt in","z":"31c0d3a4.3441ac","name":"device-initialization-topic - dev","topic":"device-initialization-topic","qos":"2","broker":"ba3a41f9.5efe1","x":222.7655792236328,"y":292.9998288154602,"wires":[["64c68cef.dfdcb4"]]},{"id":"64c68cef.dfdcb4","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":460.76558685302734,"y":291.9998321533203,"wires":[]},{"id":"6f0a14e4.d12e6c","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":459.7656478881836,"y":369.9998722076416,"wires":[]},{"id":"25349138.b8157e","type":"mqtt in","z":"31c0d3a4.3441ac","name":"kraydel-data-topic - prod","topic":"kraydel-data-topic","qos":"2","broker":"4ff18d5b.057254","x":217.7655487060547,"y":1199.7498874664307,"wires":[["ed20a86c.73a8e8"]]},{"id":"ed20a86c.73a8e8","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":460.76554107666016,"y":1195.749828338623,"wires":[]},{"id":"c48525ff.96a518","type":"mqtt out","z":"31c0d3a4.3441ac","name":"kraydel-data-topic - prod","topic":"kraydel-data-topic","qos":"","retain":"","broker":"4ff18d5b.057254","x":505.7655258178711,"y":1142.749912261963,"wires":[]},{"id":"646492e1.4d0bfc","type":"inject","z":"31c0d3a4.3441ac","name":"sensor data - prod","topic":"","payload":"{\"BS_ID\":\"b8-27-eb-4a-d8-b1\",\"TIME\":1501769641,\"PIR\":-1,\"AT\":10.4,\"LIGHT\":78,\"SOUND\":-1,\"WRIST_STRAP_DATA\":[]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":221.2655029296875,"y":1141.749870300293,"wires":[["c48525ff.96a518"]]},{"id":"8084b1c0.043c4","type":"mqtt in","z":"31c0d3a4.3441ac","name":"customized-reminder-topic - prod","topic":"customized-reminder-topic","qos":"2","broker":"4ff18d5b.057254","x":237.76555633544922,"y":1334.7497930526733,"wires":[["a072e8a4.cffa88"]]},{"id":"437e83b7.97ac3c","type":"mqtt in","z":"31c0d3a4.3441ac","name":"device-initialization-topic - prod","topic":"device-initialization-topic","qos":"2","broker":"4ff18d5b.057254","x":238.765625,"y":1269.750012397766,"wires":[["d27a51e8.61df3"]]},{"id":"d27a51e8.61df3","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":465.7656784057617,"y":1270.7500562667847,"wires":[]},{"id":"a072e8a4.cffa88","type":"debug","z":"31c0d3a4.3441ac","name":"","active":true,"console":"false","complete":"false","x":471.7655563354492,"y":1334.749855041504,"wires":[]},{"id":"b0bc15c2.50e108","type":"inject","z":"31c0d3a4.3441ac","name":"Device Initialization - prod","topic":"","payload":"{\"macId\":\"b8-27-eb-4a-d8-b1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":241.53108978271484,"y":1079.4998197555542,"wires":[["bb9205e3.463f48"]]},{"id":"5ee74273.7116bc","type":"http request","z":"7e6e19.d13c31e8","name":"Device Initialization - qa","method":"POST","ret":"obj","url":"http://ec2-52-212-72-231.eu-west-1.compute.amazonaws.com:9091/Kraydel-server/rest/submit_device","tls":"","x":1171,"y":356,"wires":[["e32b8af0.895b18","fa6cf67.e26f108"]]},{"id":"e32b8af0.895b18","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload","x":1308,"y":314.00006103515625,"wires":[]},{"id":"bb5fa45.e15c258","type":"inject","z":"7e6e19.d13c31e8","name":"Device Initialization - qa","topic":"","payload":"{\"macId\":\"b8-27-eb-4a-d8-b1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":914,"y":405,"wires":[["5ee74273.7116bc"]]},{"id":"76956b40.294b14","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b1","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.14444732666016,"y":965.7656030654907,"wires":[["94060f34.af086"]]},{"id":"442a37ab.240f98","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload.deviceId","x":539.7733764648438,"y":25.792953491210938,"wires":[]},{"id":"e7a85da4.90416","type":"template","z":"7e6e19.d13c31e8","name":"set mac","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"macId\":\"{{{payload.deviceId}}}\"}","output":"json","x":1087.0077514648438,"y":299.04295349121094,"wires":[["cf44ba19.e762a8","5ee74273.7116bc"]]},{"id":"cf44ba19.e762a8","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"false","x":1154.3983154296875,"y":259.66015625,"wires":[]},{"id":"fa6cf67.e26f108","type":"switch","z":"7e6e19.d13c31e8","name":"","property":"payload.message","propertyType":"msg","rules":[{"t":"eq","v":"Already_Exists","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1287,"y":442,"wires":[["4a73ae19.75c81"],["73f4274f.f33d78"]]},{"id":"4a73ae19.75c81","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload","x":1347.9998779296875,"y":397,"wires":[]},{"id":"73f4274f.f33d78","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload.message","x":1407.38671875,"y":499.15234375,"wires":[]},{"id":"888ae9b8.053d38","type":"device function","z":"7e6e19.d13c31e8","deviceId":"","schema":"214081f4.c46abe","name":"device behaviour","func":"// motion=(Math.random() >= 0.5);\n// temperature=Math.random()\n// light=(Math.random() >= 0.5);\n// sound=(Math.random() >= 0.5);\n\n//node.warn(motion)\nMotion=rnd(0,1)\nTemperature=rnd(15,45)\nLight=rnd(0,1)\nSound=rnd(0,1)\n\nreturn msg;\n\nfunction rnd(min, max) {\n    return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1346.9999885559082,"y":148.08333683013916,"wires":[["920166f4.378c28","a75cb15a.cf96","87049513.d8d978"]]},{"id":"a75cb15a.cf96","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload","x":1510,"y":100,"wires":[]},{"id":"920166f4.378c28","type":"delay","z":"7e6e19.d13c31e8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337.9010276794434,"y":94.00000858306885,"wires":[["888ae9b8.053d38"]]},{"id":"df55bbfd.afa0f8","type":"device listener","z":"7e6e19.d13c31e8","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"214081f4.c46abe","props":[],"name":"","x":1864.000015258789,"y":1620.0000305175781,"wires":[["617a5f5c.a0a02"]]},{"id":"617a5f5c.a0a02","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload","x":2099.166748046875,"y":1644.6666259765625,"wires":[]},{"id":"ca51311c.0a882","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b2","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["d977b2ce.8f13f"]]},{"id":"87049513.d8d978","type":"generate event","z":"7e6e19.d13c31e8","deviceId":"","schema":"214081f4.c46abe","evt":"8ecc88d48bf1","name":"data event","x":1451.7343673706055,"y":197.66666507720947,"wires":[["cc07cd05.9dc8a","166129b.21ea6d6"]]},{"id":"5e319bc7.aeff14","type":"debug","z":"7e6e19.d13c31e8","name":"","active":true,"console":"false","complete":"payload","x":1647.9011268615723,"y":322.66669368743896,"wires":[]},{"id":"c1b4da24.936288","type":"template","z":"7e6e19.d13c31e8","name":"Kafka Payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"BS_ID\":\"{{deviceId}}\",\n    \"TIME\":\"{{timestamp}}\",\n    \"PIR\":\"{{payload.d.Motion}}\",\n    \"AT\":\"{{payload.d.Temperature}}\",\n    \"LIGHT\":\"{{payload.d.Light}}\",\n    \"SOUND\":\"{{payload.d.Sound}}\",\n    \"WRIST_STRAP_DATA\":\"[]\"\n}","output":"json","x":1568.0677070617676,"y":281.66666889190674,"wires":[["5e319bc7.aeff14","5a2494f3.2b39cc"]]},{"id":"cc07cd05.9dc8a","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload","x":1600.9009895324707,"y":146.66666221618652,"wires":[]},{"id":"166129b.21ea6d6","type":"function","z":"7e6e19.d13c31e8","name":"timestamp","func":"// node.warn(Date.now())\nmsg.timestamp=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":1524.0677375793457,"y":243.6666717529297,"wires":[["c1b4da24.936288","bef62060.fae0a"]]},{"id":"bef62060.fae0a","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"payload.d.motion","x":1734.9009895324707,"y":208.666654586792,"wires":[]},{"id":"5a2494f3.2b39cc","type":"mqtt out","z":"7e6e19.d13c31e8","name":"kraydel-data-topic - qa","topic":"kraydel-data-topic","qos":"","retain":"","broker":"973422fa.9859a","x":1745.9009895324707,"y":370.666654586792,"wires":[]},{"id":"6543c18d.052e7","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b3","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":160,"wires":[["d977b2ce.8f13f"]]},{"id":"fca68ffa.af786","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-99-72-f6","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":220,"wires":[["d977b2ce.8f13f"]]},{"id":"719ece24.07ec8","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b2","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.99996948242188,"y":1021,"wires":[["94060f34.af086"]]},{"id":"5c2644d6.a08bec","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b3","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.99996948242188,"y":1081,"wires":[["94060f34.af086"]]},{"id":"1cc1ab1b.4cbebd","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-99-72-f6","payloadType":"str","repeat":"","crontab":"","once":false,"x":164.00000762939453,"y":1157.0000038146973,"wires":[["94060f34.af086"]]},{"id":"a727008d.ed2308","type":"ui_template","z":"7e6e19.d13c31e8","group":"74da9d90.b3996c","name":"Simulation Dashboard","order":0,"width":"21","height":"21","format":"<link data-require=\"bootstrap-css@3.0.2\" data-semver=\"3.0.3\" rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css\" />\n\n<style>\n.glyphicon {\n    font-size: 30px;\n    text-align: center;\n}\nimg {\n    display: block;\n    border-radius: 50%; \n    transform: scale(1);\n    height:80px;\n    width:80px;\n    margin: auto;\n    /*margin-left: 950px;*/\n    /*margin-top: -5px;*/\n    /*position: absolute;*/\n}\ntd {\n  text-align: left;\n  vertical-align: middle;\n}\n</style>\n<!--<div>-->\n<!--  <img src=\"http://www.kraydel.com/wp-content/uploads/2017/03/pillplug2.gif\"/>  -->\n<!--</div>-->\n\n\n<div ng-app=\"simulator\">\n  <div>\n    <div  ng-repeat=\"(schemaName, data) in msg.payload\" >\n      <!--<h6>Device Type: {{data.schema.deviceType}}</h6>-->\n      <md-button background=\"#9ee3f900\" color=\"#fff0\" ng-init=\"instances=1\" ng-click='send({topic: \"createDevice\" , payload: {deviceType: data.schema.deviceType, macId: macId}})'>Add</md-button>\n      <!--<label><input type=\"number\" name=\"input\" ng-model=\"instances\"-->\n      <!--  min=\"1\" max=\"99\" required> instance(s)</label>-->\n      <input type=\"text\" name=\"macId\" placeholder=\"Mac Id\" pattern=\"^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$\" required ng-model=\"macId\">\n\n      <md-button background=\"#9ee3f900\" color=\"#fff0\" ng-init=\"instances=1\" ng-click='send({topic: \"createDevice\" , payload: {deviceType: data.schema.deviceType, instances: instances}})'>Add Bulk</md-button>\n      <label><input type=\"number\" name=\"input\" ng-model=\"instances\"\n        min=\"1\" max=\"99\" required> instance(s)</label>\n        \n        \n        <table class=\"table table-striped\" style=\"font-size:x-large\">\n          <thead>\n            <tr>\n              <th></th>\n              <th>Kraydel Device</th>\n              <th>Mac Id</th>\n              <th ng-repeat=\"property in data.schema.properties | orderBy : 'name'\">\n                {{ property }}\n              </th>\n              <th>Configuration</th>\n            </tr>\n            <tbody ng-repeat=\"(deviceId, device) in data.devices\" ng-model=\"data.devices[deviceId]\" id={{deviceId}}>\n              <tr >\n                <td vertical-align=\"middle\">\n                    <a class=\"btn btn-link\" ng-init=\"toggle[$index] = false\" ng-click=\"toggle[$index] = !toggle[$index]\">\n                      <span class=\"glyphicon glyphicon-plus-sign\" ng-if=\"!toggle[$index]\"></span>\n                      <span class=\"glyphicon glyphicon-minus-sign\" ng-if=\"toggle[$index]\"></span>\n                    </a>\n                </td>\n                <td>\n                  <!--<md-switch aria-label=\"stopDevice\" ng-model=\"device.isOn\" ng-change='send({topic: (!device.isOn) ? \"stopDevice\" : \"startDevice\" , payload: {deviceType: data.schema.deviceType, deviceId: deviceId, properties: device.properties}})'></md-switch>-->\n                  <img src=\"http://www.kraydel.com/wp-content/uploads/2017/03/pillplug2.gif\"/>  \n\n                </td>\n                <td>{{ deviceId }}</td>\n                <td ng-repeat=\"devPrp in data.schema.properties | orderBy : 'name'\" ng-init='editMode=false; editVal'>{{ device.properties[devPrp] }}\n                  <a href=\"#\" ng-show=\"device.isOn && device.properties[devPrp] !== undefined && editMode==false\" ng-click=\"editMode = true; editVal = device.properties[devPrp]\">\n                    <i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i>\n                  </a>\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"text\"' type=\"text\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"checkbox\"' type=\"checkbox\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"number\"' type=\"number\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <a href=\"#\" ng-show=\"editMode && device.isOn\" ng-click=\n                  'payload={deviceType: data.schema.deviceType, deviceId: deviceId};\n                  payload[devPrp] = editVal;\n                  send({topic: \"changeProperty\", payload: payload}); editMode=false'>\n                  <i class=\"fa fa-floppy-o\" aria-hidden=\"true\"></i>\n                </a>\n                <a href=\"#\" ng-show=\"device.isOn && editMode\"ng-click=\"editMode=false\">\n                  <i class=\"fa fa-eraser\" aria-hidden=\"true\"></i>\n                </a>\n              </td>\n              <td>\n                <md-button  ng-click='send({topic: \"deleteDevice\", payload: {deviceType: data.schema.deviceType, deviceId: deviceId}})'>\n                  delete\n                  <ng-md-icon iconType===\"angular-material\" icon=\"delete_forever\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\"> <path d=\"M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z\"></path></svg></ng-md-icon>\n                </md-button>\n              </td>\n            </tr>\n            <tr ng-if=\"toggle[$index]\">\n                <td  colspan=\"8\">\n                    <div class=\"container\">\n  <h2>Simple Collapsible</h2>\n  <p>Click on the button to toggle between showing and hiding content.</p>\n  <button type=\"button\" class=\"btn btn-info\" data-toggle=\"collapse\" data-target=\"#demo\">Simple collapsible</button>\n  <div id=\"demo\" class=\"collapse in\">\n    Lorem ipsum dolor sit amet, consectetur adipisicing elit,\n    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,\n    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\n  </div>\n</div>\n                    <fieldset>\n                           <legend>Generic Reminders</legend>\n                           \n                           <legend>Video Call</legend>\n                           <legend>Picture Messaging</legend>\n                     </fieldset>  \n                    <!--<div colspan=\"8\">-->\n                    <!--    {{$index}}-->\n                    <!--<button>Test</button>-->\n                    <!--<button>Test</button>-->\n                    <!--<button>Test</button>-->\n                     \n                    <!--    <form>-->\n                    <!--     <fieldset>-->\n                    <!--         <table>-->\n                    <!--             <tbody>-->\n                    <!--                 <tr>-->\n                    <!--      <legend>Personalia:</legend>-->\n                    <!--      Name: <input type=\"text\"><br>-->\n                    <!--      Email: <input type=\"text\"><br>-->\n                    <!--      Date of birth: <input type=\"text\">-->\n                    <!--      </tr>-->\n                    <!--      </tbody>s-->\n                    <!--      </table>-->\n                    <!--     </fieldset>-->\n                    <!--    </form>-->\n                    <!--</div>                  -->\n                </td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n    </div>\n  </div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":913.0000152587891,"y":636.0000171661377,"wires":[["41e668bf.933f38"]]},{"id":"dafa51b2.575338","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.36669921875,"y":579,"wires":[["3aefca9a.d9ec4e"]]},{"id":"3aefca9a.d9ec4e","type":"function","z":"7e6e19.d13c31e8","name":"dummy","func":"var simulation = flow.get(\"simulation\") || {};\nvar deviceId = \"b8-27-eb-4a-d8-b1\";\nvar deviceType = \"Kafka\";\ndelete simulation[deviceType].devices[deviceId];\nflow.set(\"simulation\", simulation);\nvar uiMsg = {payload: simulation};\nreturn uiMsg;","outputs":1,"noerr":0,"x":642,"y":586,"wires":[["a727008d.ed2308"]]},{"id":"94060f34.af086","type":"change","z":"7e6e19.d13c31e8","name":"set deviceId","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":453.9999465942383,"y":915.0000038146973,"wires":[["7eaf89ef.07a608"]]},{"id":"d977b2ce.8f13f","type":"change","z":"7e6e19.d13c31e8","name":"set deviceId","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["6ed95ce4.747824","442a37ab.240f98"]]},{"id":"c006a31d.b0e4d","type":"set properties","z":"7e6e19.d13c31e8","deviceId":"","schema":"214081f4.c46abe","name":"","propAll":true,"prop":"","valueType":"msg","value":"payload","x":1309.000015258789,"y":1641.9999694824219,"wires":[["b1ca73a0.7880c"]]},{"id":"f78b0f0e.f3cce8","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"b8-27-eb-4a-d8-b1","payloadType":"str","repeat":"","crontab":"","once":false,"x":859.0000152587891,"y":1661.9999694824219,"wires":[["d7b62093.aba3a8"]]},{"id":"b1ca73a0.7880c","type":"debug","z":"7e6e19.d13c31e8","name":"","active":true,"console":"false","complete":"true","x":1399.000015258789,"y":1581.9999694824219,"wires":[]},{"id":"d7b62093.aba3a8","type":"change","z":"7e6e19.d13c31e8","name":"set deviceId","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1079.000015258789,"y":1641.9999694824219,"wires":[["c006a31d.b0e4d"]]},{"id":"c4b7b633.f2238","type":"device listener","z":"7e6e19.d13c31e8","monitor":"stop","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":true,"allProps":true,"schema":"","props":[],"name":"","x":265,"y":641,"wires":[["b7b3b805.c568c"]]},{"id":"b7b3b805.c568c","type":"function","z":"7e6e19.d13c31e8","name":"update flow context with device changes","func":"var simulation = flow.get(\"simulation\") || {};\nswitch (msg.topic) {\ncase \"deviceSchema\":\n\tif(Array.isArray(msg.payload)){\n\t\t//all schemas update on startup clean old context \n\t\tsimulation = {};\n\t}\n\telse{//single schema update while running\n\t\tmsg.payload = [msg.payload];\n\n\t}\n\t//update schemas\n\tfor (var i = 0; i < msg.payload.length; i++) {\n\t\tvar schema = msg.payload[i];\n\t\tsimulation[schema.deviceType] = {schema: schema, devices: {}};\n\t}\n\tbreak;\ncase \"deviceCreated\":\n\tvar device = {properties: msg.payload.properties, isOn: true};\n\t//set properties input types\n\tdevice.propertiesInput = {};\n\tfor(var k in device.properties){\n\t\tvar prpType = typeof(device.properties[k]);\n\t\tvar inputType = (prpType === \"number\") ? \"number\": (prpType === \"boolean\") ? \"checkbox\" : \"text\";\n\t\tdevice.propertiesInput[k] = inputType;\n\t}\n\tsimulation[msg.payload.deviceType].devices[msg.payload.deviceId] = device;\n\tbreak;\ncase \"deviceDeleted\":\n\tvar device = msg.payload;\n\tif(simulation[device.deviceType].devices[device.deviceId]){\n\t\tsimulation[device.deviceType].devices[device.deviceId].isOn = false;\n\t}\n\telse\n\t\treturn null; //device already deleted\n\tbreak;\ncase \"propertyChange\":\n\tvar device = msg.payload;\n\tvar changedProperty = device.changedProperty;\n\tsimulation[device.deviceType].devices[device.deviceId].properties[changedProperty.name] = changedProperty.newValue;\n\tbreak;\ndefault:\n\treturn null;\n}\nflow.set(\"simulation\", simulation);\nmsg.payload = simulation;\nreturn msg;\n","outputs":1,"noerr":0,"x":561.7142944335938,"y":639.71435546875,"wires":[["a727008d.ed2308"]]},{"id":"d2231e30.bda978","type":"function","z":"7e6e19.d13c31e8","name":"","func":"node.warn(flow.get('simulation'))\nreturn msg;","outputs":1,"noerr":0,"x":1548.366714477539,"y":1638.5000305175781,"wires":[[]]},{"id":"e458151b.f83f","type":"inject","z":"7e6e19.d13c31e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1398.366714477539,"y":1738.0000305175781,"wires":[["d2231e30.bda978"]]},{"id":"41e668bf.933f38","type":"switch","z":"7e6e19.d13c31e8","name":"Switch cmd","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"createDevice","vt":"str"},{"t":"eq","v":"deleteDevice","vt":"str"},{"t":"eq","v":"startDevice","vt":"str"},{"t":"eq","v":"stopDevice","vt":"str"},{"t":"eq","v":"changeProperty","vt":"str"}],"checkall":"false","outputs":5,"x":1189,"y":685,"wires":[["17bcb142.7f3dff","afa5ab97.537808"],["666faf5a.cdb54"],["e28df233.b5b098"],["85cf887b.a1fdd"],["b6b8c65a.8d3a3"]]},{"id":"185ab30c.313d45","type":"comment","z":"7e6e19.d13c31e8","name":"StopDevice","info":"","x":1507.0714111328125,"y":771,"wires":[]},{"id":"4d431b3d.248bec","type":"comment","z":"7e6e19.d13c31e8","name":"StartDevice","info":"","x":1505.78564453125,"y":726,"wires":[]},{"id":"b6b8c65a.8d3a3","type":"set properties","z":"7e6e19.d13c31e8","deviceId":"","schema":"","name":"","propAll":true,"valueType":"msg","value":"","x":1302.71435546875,"y":830.4285888671875,"wires":[[]]},{"id":"4114860e.616998","type":"comment","z":"7e6e19.d13c31e8","name":"Register Device","info":"","x":1517,"y":625,"wires":[]},{"id":"2ceb09dd.64568e","type":"comment","z":"7e6e19.d13c31e8","name":"Unregister Device","info":"","x":1525.357177734375,"y":680.7142944335938,"wires":[]},{"id":"85cf887b.a1fdd","type":"link out","z":"7e6e19.d13c31e8","name":"Simulator StopDevice","links":["cca86035.0ffa3","9c404f1e.45198","d5b82172.fb792","aaff7a1.96f8d88","8b040c35.4eb98","f0afb38d.c557c","18a493df.0c35ac","48b54775.b2ffa8"],"x":1394.5714111328125,"y":769,"wires":[]},{"id":"e28df233.b5b098","type":"link out","z":"7e6e19.d13c31e8","name":"Simulator StartDevice","links":["8f91e3a6.1b6fe","39620351.b34c7c","a989e259.87d89","1868095c.fd06d7","99a30096.aeefd","df2a484f.8672a8","68ef6fac.d3c95","ccf54a54.1076b8"],"x":1393.28564453125,"y":728,"wires":[]},{"id":"666faf5a.cdb54","type":"link out","z":"7e6e19.d13c31e8","name":"Unregister Device out","links":["9695575b.7fb3d"],"x":1391.357177734375,"y":682.7142944335938,"wires":[]},{"id":"17bcb142.7f3dff","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"false","x":1199,"y":625,"wires":[]},{"id":"81cb67b4.64559","type":"function","z":"7e6e19.d13c31e8","name":"Add Device to flow context","func":"if(msg.payload === null) return null;\n\nvar simulation = flow.get(\"simulation\") || {};\nvar newDevices = [];\nvar turnOnMsgs = [];\nfor(var i = 0; i < msg.payload.length; i++){\n    var resp = msg.payload[i];\n    if(!resp.deviceId){\n        node.error(\"error on register device\");\n    }\n    else{\n         var deviceId = resp.deviceId;\n         var deviceType = resp.typeId;\n         if(simulation[deviceType]){\n            simulation[deviceType].devices[deviceId] = {properties: {}, isOn: false};\n            newDevices.push({typeId: deviceType, deviceId: deviceId});\n            turnOnMsgs.push({payload: {deviceType: deviceType, deviceId: deviceId}});\n         }\n    }\n}\n\nflow.set(\"simulation\", simulation);\n//check if need to push changes to db\nmsg.payload = simulation; //message to the ui\nif(msg.updatedb !== false && newDevices.length > 0){\n    var pendingUpdates = flow.get(\"dbUpdates\") || {addDevices: [],deleteDevices: []};\n\tpendingUpdates.addDevices = pendingUpdates.addDevices.concat(newDevices);\n\tflow.set(\"dbUpdates\", pendingUpdates);\n}\nreturn [msg, turnOnMsgs];\n","outputs":"2","noerr":0,"x":601,"y":452,"wires":[["da3b5aab.fb27f","a727008d.ed2308"],["688a8f90.60b2c","6ed95ce4.747824"]]},{"id":"ad9aff2c.b2844","type":"function","z":"7e6e19.d13c31e8","name":"Generate ID","func":"var msgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var mac = Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16);\n    var macStr = mac[0] + mac[1] + \"-\" + mac[2] + mac[3] + \"-\" +\n    mac[4] + mac[5] + \"-\" + mac[6] + mac[7] + \"-\" +\n    mac[8] + mac[9] + \"-\" + mac[10] + mac[11];\n    msgs.push({deviceId: macStr, typeId: msg.payload.deviceType});\n}\nmsg.payload =msgs\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":450,"wires":[["a40c09e4.692748","81cb67b4.64559"]]},{"id":"a40c09e4.692748","type":"debug","z":"7e6e19.d13c31e8","name":"","active":true,"console":"false","complete":"false","x":403,"y":396,"wires":[]},{"id":"688a8f90.60b2c","type":"debug","z":"7e6e19.d13c31e8","name":"","active":true,"console":"false","complete":"false","x":630.5665893554688,"y":495.566650390625,"wires":[]},{"id":"da3b5aab.fb27f","type":"debug","z":"7e6e19.d13c31e8","name":"","active":true,"console":"false","complete":"false","x":629.566650390625,"y":407.76666259765625,"wires":[]},{"id":"db893a71.ed8b8","type":"function","z":"7e6e19.d13c31e8","name":"Delete Device from flow context","func":"var simulation = flow.get(\"simulation\") || {};\nvar deviceId = msg.payload.deviceId;\nvar deviceType = msg.payload.deviceType;\ndelete simulation[deviceType].devices[deviceId];\nflow.set(\"simulation\", simulation);\nvar uiMsg = {payload: simulation};\nvar closeDeviceMsg = {payload: {deviceType: deviceType, deviceId: deviceId}};\n\nif(msg.updatedb !== false){\n    var pendingUpdates = flow.get(\"dbUpdates\") || {addDevices: [],deleteDevices: []};\n\tpendingUpdates.deleteDevices.push({typeId: deviceType, deviceId: deviceId});\n\tflow.set(\"dbUpdates\", pendingUpdates);\n}\n\nreturn [closeDeviceMsg,uiMsg];","outputs":"2","noerr":0,"x":589.566650390625,"y":770.7666015625,"wires":[["7eaf89ef.07a608"],["a727008d.ed2308"]]},{"id":"9695575b.7fb3d","type":"link in","z":"7e6e19.d13c31e8","name":"","links":["666faf5a.cdb54"],"x":348.63330078125,"y":775.7166748046875,"wires":[["db893a71.ed8b8"]]},{"id":"afa5ab97.537808","type":"link out","z":"7e6e19.d13c31e8","name":"Unregister Device out","links":["75f0fa99.981aa4","8402493c.72e3f"],"x":1391.566650390625,"y":633.36669921875,"wires":[]},{"id":"56c35d29.568414","type":"ui_template","z":"7e6e19.d13c31e8","group":"b792b34e.e7d8f","name":"Profiles ","order":0,"width":"6","height":"11","format":"<link data-require=\"bootstrap-css@3.0.2\" data-semver=\"3.0.3\" rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css\" />\n<div>\n<h1>Device Profiles</h1>\n</div>\n<div ng-app=\"simulator\" >\n  <div>\n    <div  ng-repeat=\"(schemaName, data) in msg.payload\" >\n      <h2>{{data.schema.deviceType}}</h2>\n      <md-button background=\"#9ee3f900\" color=\"#fff0\" ng-init=\"instances=1\" ng-click='send({topic: \"createDevice\" , payload: {deviceType: data.schema.deviceType, instances: instances}})'>Create</md-button>\n      <label><input type=\"number\" name=\"input\" ng-model=\"instances\"\n        min=\"1\" max=\"99\" required> instance(s) of {{data.schema.deviceType}}</label>\n        <table class=\"table table-striped\">\n          <thead>\n            <tr>\n              <th>start\\stop</th>\n              <th>Id</th>\n              <th ng-repeat=\"property in data.schema.properties | orderBy : 'name'\">\n                {{ property }}\n              </th>\n              <th>delete device</th>\n            </tr>\n            <tbody >\n              <tr ng-repeat=\"(deviceId, device) in data.devices\" ng-model=\"data.devices[deviceId]\" id={{deviceId}}>\n                <td>\n                  <md-switch aria-label=\"stopDevice\" ng-model=\"device.isOn\" ng-change='send({topic: (!device.isOn) ? \"stopDevice\" : \"startDevice\" , payload: {deviceType: data.schema.deviceType, deviceId: deviceId, properties: device.properties}})'></md-switch>\n                </td>\n                <td>{{ deviceId }}</td>\n                <td ng-repeat=\"devPrp in data.schema.properties | orderBy : 'name'\" ng-init='editMode=false; editVal'>{{ device.properties[devPrp] }}\n                  <a href=\"#\" ng-show=\"device.isOn && device.properties[devPrp] !== undefined && editMode==false\" ng-click=\"editMode = true; editVal = device.properties[devPrp]\">\n                    <i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i>\n                  </a>\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"text\"' type=\"text\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"checkbox\"' type=\"checkbox\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"number\"' type=\"number\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <a href=\"#\" ng-show=\"editMode && device.isOn\" ng-click=\n                  'payload={deviceType: data.schema.deviceType, deviceId: deviceId};\n                  payload[devPrp] = editVal;\n                  send({topic: \"changeProperty\", payload: payload}); editMode=false'>\n                  <i class=\"fa fa-floppy-o\" aria-hidden=\"true\"></i>\n                </a>\n                <a href=\"#\" ng-show=\"device.isOn && editMode\"ng-click=\"editMode=false\">\n                  <i class=\"fa fa-eraser\" aria-hidden=\"true\"></i>\n                </a>\n              </td>\n              <td>\n                <md-button  ng-click='send({topic: \"deleteDevice\", payload: {deviceType: data.schema.deviceType, deviceId: deviceId}})'>\n                  delete\n                  <ng-md-icon iconType===\"angular-material\" icon=\"delete_forever\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\"> <path d=\"M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z\"></path></svg></ng-md-icon>\n                </md-button>\n              </td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n    </div>\n  </div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":957.566650390625,"y":716.36669921875,"wires":[[]]},{"id":"433817ce.aa6108","type":"file in","z":"7e6e19.d13c31e8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1552.633316040039,"y":1529.3166809082031,"wires":[[]]},{"id":"b7143d9e.2b8ed8","type":"http in","z":"22206cc.ed21b14","name":"greetings - POST","url":"/api/v1/greetings","method":"post","swaggerDoc":"","x":275.99998474121094,"y":171.56666564941406,"wires":[["280e6cee.482a74"]]},{"id":"5441c9bc.d65f98","type":"function","z":"22206cc.ed21b14","name":"Extract request params","func":"msg.id = msg.payload.id;\nmsg.branchId = msg.payload.branchId;\nmsg.locale = msg.payload.locale;\n\nreturn msg;","outputs":1,"noerr":0,"x":721.9999847412109,"y":163.56666564941406,"wires":[["c0b6b609.e025b8","9d80cf1e.3c352","51dc3ae2.57ebe4"]]},{"id":"e74f7d22.59fe5","type":"template","z":"22206cc.ed21b14","name":"Create Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"id\": \"{{{id}}}\",\n  \"status\" : \"success\",\n  \"errorInfo\" : null,\n  \"actions\" : {\"greeting\" : \"hlb_ani_grt\"},\n  \"greeting\" : \"{{{payload}}}\",\n  \"locale\" : \"{{{locale}}}\"\n}","x":195.49998474121094,"y":670.5666656494141,"wires":[["b772233d.c69c","8bf703d8.0813b8"]]},{"id":"b772233d.c69c","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"false","x":404.49998474121094,"y":669.5666656494141,"wires":[]},{"id":"414d71a9.c1e3b","type":"inject","z":"22206cc.ed21b14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":430.99998474121094,"y":261.56666564941406,"wires":[["51dc3ae2.57ebe4"]]},{"id":"6a9f2a01.4599a4","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"payload","x":1134.499984741211,"y":350.56666564941406,"wires":[]},{"id":"ffc9b77b.625f18","type":"http request","z":"22206cc.ed21b14","name":"Retrieve wav from Object Storage","method":"GET","ret":"bin","url":"https://dal.objectstorage.open.softlayer.com/v1/AUTH_70c73fc7763f40e8bd246f098685bdcd/greetings/3language.wav","tls":"","x":1010.4999847412109,"y":399.56666564941406,"wires":[["6a9f2a01.4599a4","e237d458.c8281"]]},{"id":"924307de.7e6aa","type":"http request","z":"22206cc.ed21b14","name":"Get softlayer token","method":"POST","ret":"obj","url":"https://identity.open.softlayer.com/v3/auth/tokens","tls":"","x":1007.4999847412109,"y":210.56666564941406,"wires":[["8f375db9.045f68","eb616969.3b6de"]]},{"id":"51dc3ae2.57ebe4","type":"function","z":"22206cc.ed21b14","name":"Acquire token payload","func":"msg.payload = {\n        \"auth\": {\n            \"identity\": {\n                \"methods\": [\n                    \"password\"\n                ],\n                \"password\": {\n                    \"user\": {\n                        \"id\": \"f69b61233183433480ae4f841c8a0b32\",\n                        \"password\": \"nZXuG1!bo.2q?Tup\"\n                    }\n                }\n            },\n            \"scope\": {\n                \"project\": {\n                    \"id\": \"70c73fc7763f40e8bd246f098685bdcd\"\n                }\n            }\n        }\n    }\nreturn msg;","outputs":1,"noerr":0,"x":685.4999847412109,"y":213.56666564941406,"wires":[["924307de.7e6aa"]]},{"id":"8f375db9.045f68","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"headers.x-subject-token","x":1112.499984741211,"y":255.56666564941406,"wires":[]},{"id":"ac7e723f.bbb2a","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"headers","x":826.4999847412109,"y":321.56666564941406,"wires":[]},{"id":"f5e05714.f433e8","type":"function","z":"22206cc.ed21b14","name":"Set token header","func":"msg.headers = {'x-auth-token' : msg.token};\nreturn msg;","outputs":1,"noerr":0,"x":637.4999847412109,"y":347.56666564941406,"wires":[["ffc9b77b.625f18","ac7e723f.bbb2a"]]},{"id":"eb616969.3b6de","type":"template","z":"22206cc.ed21b14","name":"Token header","field":"token","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{headers.x-subject-token}}}","x":663.4999847412109,"y":296.56666564941406,"wires":[["f5e05714.f433e8"]]},{"id":"8bf703d8.0813b8","type":"http response","z":"22206cc.ed21b14","name":"response","x":82.99998474121094,"y":170.56666564941406,"wires":[]},{"id":"e237d458.c8281","type":"function","z":"22206cc.ed21b14","name":"Convert to base64 string","func":"msg.payload = new Buffer(msg.payload).toString(\"base64\");\nreturn msg;","outputs":1,"noerr":0,"x":636.9999847412109,"y":481.56666564941406,"wires":[["6313400c.a0949"]]},{"id":"6313400c.a0949","type":"function","z":"22206cc.ed21b14","name":"Set response headers","func":"// msg.headers = {\n//     'Access-Control-Allow-Origin' : '*',\n//     'Access-Control-Allow-Methods' : 'GET, POST, OPTIONS, PUT, PATCH, DELETE',\n//     'Access-Control-Allow-Headers' : 'X-Requested-With,content-type',\n//     'Access-Control-Allow-Credentials' : 'true'\n// }\nmsg.headers={ \n    'Content-Type': 'application/json',\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":588.1999359130859,"y":543.8667144775391,"wires":[["cbada3fc.567b9"]]},{"id":"cbada3fc.567b9","type":"function","z":"22206cc.ed21b14","name":"Response Body","func":"//msg.id = flow.get(\"requestId\")\nmsg.statusCode = 200\n//msg.question = \"not ready yet\"\n//msg.answer = \"not ready yet\"\n// try \n// {\n//     JSON.stringify(msg.payload);\n// } catch (e) {\n//     msg.statusCode = 107;\n//     msg.payload = \"Broadcast Error: Invalid JSON\";\n//     return msg;\n// }\n\n// if(msg.payload[0][\"devID\"] !== undefined && msg.payload[0][\"room\"] !== undefined)\n//     msg.validJSON = true;\n// else\n// {\n//     msg.statusCode = 108;\n//     msg.payload = \"No devID and/or message provided\";\n//     return msg;\n// }\n\n// //sets the device ID and message to broadcast from JSON\n// msg.deviceId = msg.payload[0][\"devID\"];\n// msg.room = msg.payload[0][\"room\"];\nreturn msg;","outputs":1,"noerr":0,"x":528.6122894287109,"y":603.3540191650391,"wires":[["e74f7d22.59fe5","f67c524e.5a2f1"]]},{"id":"c0b6b609.e025b8","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"branchId","x":873.9999847412109,"y":124.56666564941406,"wires":[]},{"id":"f67c524e.5a2f1","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"id","x":767.9999847412109,"y":609.5666656494141,"wires":[]},{"id":"280e6cee.482a74","type":"function","z":"22206cc.ed21b14","name":"Extract request body","func":"msg.payload = msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":650.9999847412109,"y":118.56666564941406,"wires":[["5441c9bc.d65f98"]]},{"id":"9d80cf1e.3c352","type":"function","z":"22206cc.ed21b14","name":"Save greetings request","func":"var timestamp = new Date().toUTCString();\nmsg.payload =\n{\n    ID : msg.id,\n    BRANCH_ID : msg.branchId,\n    LOCALE : msg.locale,\n    CREATED_DATE : timestamp\n}\nreturn msg;","outputs":1,"noerr":0,"x":1234.999984741211,"y":107.81666564941406,"wires":[[]]},{"id":"94b5b9f6.da7a5","type":"http in","z":"22206cc.ed21b14","name":"answers - POST","url":"/api/v1/answers","method":"post","swaggerDoc":"","x":249.99998474121094,"y":1168.816665649414,"wires":[["cb9e86d4.ca192","1588ca6.157bab6"]]},{"id":"1dc8efe9.195ad","type":"http response","z":"22206cc.ed21b14","name":"response","x":92.99998474121094,"y":1167.1500396728516,"wires":[]},{"id":"8f663a92.cfa058","type":"function","z":"22206cc.ed21b14","name":"Create base64 buffer","func":"try \n{\nvar payload = new Buffer(msg.payload, \"base64\");\n    \n} catch (e) {\n    msg.statusCode = 107;\n    msg.payload = \"Broadcast Error: Invalid JSON\";\n    return msg;\n}\n\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":306.1666259765625,"y":870.4833526611328,"wires":[["7df13b9f.b80884"]]},{"id":"7da26753.02b81","type":"inject","z":"22206cc.ed21b14","name":"wav - hi","topic":"","payload":"UklGRqRDAABXQVZFZm10IBAAAAABAAEAgD4AAAB9AAACABAAZGF0YYBDAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAACAAMA//8FAAcACAAAAAIABQADAAYA AgAGAAIABgAHAAUACgAGAAYABwADAAAAAgAGAAAAAAD+/wAAAQD9/wEAAwADAAAABQACAAAAAgD/ /wMAAwABAAAAAQD9//3/AgAAAAAAAgABAP3//f8AAAAA/v/+//7////8//3/AAACAAAAAAAAAP7/ AQABAAMAAwD+/wAAAgADAAEAAAAGAAQAAgAEAP//AQAFAAYAAAACAAQAAQAFAAUACAAMAAkABwAI AAUACgANAAwABQAFAAwACAADAAkACAAHAAcAAwAHAAAA///+//r//P////j/9//8//X/8v/w//j/ +v/9//n/9P/6//D/7P/t//T/7f/v//H/6//v/+n/7//v//T/9P/6//P/7//6//v/AAAAAAUABgD9 /wAABAABAAAA//8AAAUABgAGAP3/AAAEAAUACQAFAAsACAAKAAEAAAAKAAgABQAAAAAACAAFAAAA BQAGAAQABwABAAkABwAEAAoACwAOAA8ADwAKABAAEwAUABYAFQAXABcAFwAYABgAEgASABkAFgAT ABMAEAASAA4AEQAMAAwACQAJAAsABAAJAAoABwACAAYABgD+//7/AAABAPn/+f/7//T/8f/u//f/ 9P/x//T/7v/s/+z/8P/v//P/7P/s//T/8//1/+z/8P/3//3/+v/2//v/9//+/wAA/////wIA/v/8 /wYABQADAP//AAAGAAoABwAFAAoABAAAAAMABQAGAAoABAD/////BAAHAAwACwAIAA4ABgAMAA8A EwAVAAwAGQARAAwAEQAVABcAEQAYAA0ADQASAAYADAAPAAkABQACAAoACAAEAAYAAAAKAAYA///8 //n/+v/2//H/7v/0//X/8//1//P/7f/q/+r/8v/z/+v/6P/j/+T/5//h/+H/4v/i/+L/6f/n/+T/ 7v/v/+n/6v/v//b/9P/y//X/9//7//b/8//2//z/AwAAAP//AgAAAP7//v8HAAsABQAFAAsADAAD AAMADAAOAAcACAAMAAYAAgD//wAACAAHAAEA///7//z/BAADAPz//f8CAAMABAABAPv/AAADAPv/ +/8AAAEABQAAAPz/AQD6//z/AgD8//r/+/8AAPb/+P/8//j/BAAAAPn/+v///wQAAwD+//j//v// //f//v8AAAAA+v/2//X/8//w//L/+P/y//f/7v/s/+n/6//1/+3/+P/3//n/+v/7//z/9/////j/ AgAEAAMACwAFAP7///8KAA8AEQAKAAYADQAOAAgAEgAYABcAEQAOAAwADQAaABgADQAPABYAGwAU AA4AFQANAA0AFgAVABkAFAAJAAwAEwATABQAGQARAA0AFgAYABMADgAXABoAGAAYABcAHAAdABkA FAAfAB4AHwAhACAAHgAZACEAFAAYACIAIAAnABwAFgAjACIAJAAgABwAIQAZACEAHgAeAB8ADwAZ ABYAEQATAA0AEwAGAAUABAAAAP//+/8EAP//AAD8//D/9v/3/+7/8P/4//H/5//o/+7/7//s/+H/ 5v/t/+r/6//s/+n/5v/u/+P/6f/t/+f/9P/t/+X/6//y//X/8f/w//n/+f/w//X//f8AAP7/+v/7 //7/BQACAAAACQAGAAQABAAGAA8ADQAPAAwACgAUABEADgAOAAwAEAAUABMAEwAWABMADQANAA8A FgAWABMACwAPABEADAAVABAACQAOAA0ACAAOAA0ADQAMAAMABgADAAYABgD///3///8BAPn/+P/2 //X//v/z//P/9v/t/+7/7P/q/+j/6f/w/+n/4v/g/+P/7P/j/+P/5//i/+f/4P/r/+b/4v/v/+n/ 5P/n//D/8P/v//T/8P/z//T/8//5//b//P/3//f/+v/3/wAA///9/wUAAQAAAAcA//8GAAgABgAL AAUADgANAA8AEQAOAAsADAAXABAADwAUAAsAEQASAAoADwAUABEACgANABAACAAOAAwACwANAAcA DwAOAAgABwANAA4ACQAHAAUACAAMAAoACgAKAAkACwAJAAQABQAFAAQAAwAAAAIABgAFAAIA/f/+ //3/AAABAPr/+v/6/wAA/P/4/wAA/P/3//j////7//b//v/8//7/+v/4/wEA+//4//f/+//9//n/ ///2//r/AAD7//r////9//v/AAD3//7/AAD8/wIA+f/8//r//v8AAPn/AwD9//z/AgD9//3/AgAA APn///8AAPr//P/5//n/+f/1//n/+//z//L/9P/5//f/9//5//f/8P/1//j/9P/5//D/9P/6//b/ +//2//X/+v/9//n/+f////n/+v/+/wAA/v8DAAQABAAHAAcACwAMAA4ADwATABIAEAAbABcAFAAU ABcAHgAeABwAGgAgABgAHQAiABkAHQAbABoAGwAgABwAGAAfABwAHQAVABgAHQAbABgAEwAbABgA GAAZABQAEgAWABUAFAASAAsAEAARAAkACQAIAAUABwAHAAAAAQAGAAAA/v8CAAAA+v/7//f/+//6 //X/+f/y//n/9f/v//D/7f/t/+3/8P/m/+r/7P/k/+X/5f/p/+H/4v/f/+L/5P/d/+b/5P/i/93/ 3//o/+H/4//k/+L/6P/p/+j/5v/t/+//7v/p/+7/8//w//b/7v/1//j/8/////j/+v////r//P// /wMA/P8AAAQA/f8EAAUAAQACAAAAAgAIAAYACAAHAAIAAwABAAQACAAIAAUAAAABAAAAAQAHAAAA AAABAP//AgD7//v//f8AAP////////f/+f/5/wAA/P/2//j/9f/3//z/+f/0//T/8//1//r/+P/2 //P/+//2//b/+//0//b/9v/9//n/9v////r/+f////z//P8AAAIAAAD+//3/AgADAAEABAADAAUA BAAGAAQACQAKAAoADQAKAAcACwAOAAoADwAIAAwAEAAHAA4ADgAIAAkAEQALAAoADQAJAA0ACAAN AA8ACQAJAAoACQAKAAUABAAGAAoABgABAAkAAwACAAYA//8BAP//AAAFAAAA/f8DAAAA/f8EAAAA /v8DAAEAAwADAAEAAAAHAAEAAQAGAP//AAABAAMA/////////f////r///8AAPj/+P/6/////v/8 //b/+P/9//v/+//z//n/+//0//P/9P/5//j/9f/w//H/8v/x//H/8P/2//T/9P/0//X/9//5//f/ 9v/6//f//v/+//3/AgD+/wAAAgACAAUAAwAJAAwACAAKAA0ADgAPAA8AEQARABMAEQAYABcAEAAX ABoAHAAZABUAFwAWABYAFwAeABgAFAAbABkAGQAaABcAFgAZABEAFAAZABQADgARABIADgAQAAoA EAAOAAsADgAJAAYABQAGAAMAAgD//wAAAAD6/wAA/f/3//b/+P/7//D/8//4//P/8P/y/+3/7f/r /+3/7//m/+f/6P/u/+j/5v/r/+P/7f/m/+b/6f/l/+z/5P/m/+n/6v/o/+v/7v/p/+v/7//p/+7/ 8P/u//L/7f/2//T/7//z//L/9P/y//P/9f/6//v/+f/1//j/AAD7//r/AAABAAAA+//+/wYAAQAB AAQAAAD//wIABAABAAQAAAAAAAMAAwAAAAAABwAAAAEAAgAAAAMA//8GAAMA/f8AAP3/AQAAAP7/ AwACAAAA/f8FAAAA/v8FAAEA/f8AAAEAAAABAP//AQAAAAEA/f///wUA//8AAAIA/v8AAP3/AAAD AAMAAAD//wIA/v8FAAUAAgD+/wAABQD+/wAAAAAFAP3/AAADAP7/BQABAAQAAwAEAAQAAQAKAAUA AQAFAAcAAQAEAAoACQAHAAMACwALAAwACwAHAAoABgAKAA4ADQAOAA8ADQAJABEADgAKAAsACQAL AAkACAAGAAcACgAKAAgAAgABAAUABAAAAAMA/f8AAAEA+v/7//f/+f/9//b/9f/3//T/9//v//H/ 9f/z//T/8//y/+z/7f/v//T/8v/q//D/8v/r/+7/9f/x/+7/9f/0//j/9f/0//v/8//4//7////+ //j///8CAAQAAwD//wQACAAKAAkABAAJABAADQAIAAwAEgASABEACgARABQADQAPAA8AFgARAA8A FAALABEAEQAOABQAEQARAAoADQARABEAEAAHAAwAEAALAAgADwAKAAcACgAFAAsAAQAGAAcAAQAF AAAABwAEAAIA/v/9////+//9//n/+P/5//r/9f/7//f/9P/7//b/8f/1//f/8//6//b/8P/0//f/ 9//4//X/8//5//H/9P/8//b/9f/7//n/9P/3//b/9//1//f/+//2//7/+f/5//z/9/8AAP7/AAD/ //n/AAAAAP7//f8AAAMA/P8AAAMABAABAP//BwAGAAQAAgAKAAcAAwAMAAsACgAEAAgAEAAJAAkA DQAIAAcACQAQAAsACQAOAAcACAAHAA8ADAAFAAYABwAKAAMADAAGAAQABwACAAkAAAABAAIABwAC AP7/BgACAAMAAwAAAAAAAQD+//3//v/5//7//P/5//z/9v/2//b/9P/z//P/+f/1//f/8//y//f/ 7//y/+//8v/0/+7/9v/y//X/9P/2//X/7//x//T/+P/x//L/8//w//T/9//5//b/8f/1//v/+v/9 //v/+v8AAAIAAQAAAAcABwAIAAsADAAQABEAFAAVABcAGQAcAB4AIAAgABwAIQAoACQAJAAoACYA KwAkACUAKQArACQAJwArACIAJAAjACoAIwAgACMAHAAjAB0AGAAYABQAFAAPAA0ACgAPAAgAAwAG AP7//f/9//z/9v/7//X/8f/0/+v/8//u/+7/7v/u/+z/5f/n/+f/7P/s/+f/5//p/+T/5v/u/+n/ 5v/l/+r/7P/n/+f/7P/u/+n/6f/v/+//7f/z//b/8v/z//f/9f/7//3//P/5//v/BAAAAP//BAAF AAYACAAIAAUABgAGAAgADwAJAAgAEAANAAkACgAKAAkACwAPABAADgAIAAkADAAQAA8AEAANAAkA EQAPABEADgALABQADgAKAAkADAAOAAUACQALAAMACAAHAAUABgAAAAAAAQADAP3//v/8//3////4 /////P/8//z/+//+//r/9//1//r/+//0//T/9f/6//f/7//2//b/9P/3//D/9P/5//f/+f/1//T/ /P/5//f/+//1//b/+P////v/9//4//r//v/1//v////2//z//f/4//r/AAD//wAA///5////AwD/ //7/AwADAAIA/f8BAAYA/f8BAAQABgABAAAABgAAAAAAAAAAAAIAAAD//wQAAQD8//7//f/8//3/ AgD///j/+////wAA+//5/wAA/v/2//z//v/5/wAA/P/2//r/AAD+//j/9//5/wAA/v/9/wEA/f/9 /wAA/f8FAAIA//8AAAAACAAGAAgACAAKAA0ACwAIAAsAFAAPAA4AFQAWABQAEQAZABsAGQAVABYA FwAXAB8AGQAWAB8AGgAaAB0AFgAWABgAHAAbABkAEwAUABMAEgAZABMADgAVAA4ADQAOAAwADgAJ AAsABgALAAkABgAKAAMAAQAAAAAA///8//3/AAD+//7//P/2//n////5//b/+f/1//r/8f/1//n/ 8P/y//D/8P/w//b/8//q/+//8v/1//D/7//0/+3/7P/x//P/8P/y/+//9f/1//X/9f/x//v/9f/2 //r/9f8AAPr/+//+//r/AwAAAPv/AAAEAP3/AAAGAP7/AAACAAQAAAAIAAUAAAABAAEACwAFAAAA AAAEAAUAAAAGAAAACAADAPz/AQAGAAIA//8CAP//AgD//wUAAwD5/wAAAgAFAP///v8GAAIA/P8A AAYABgADAP7/AgAJAAYACQAGAAQADQAOAA0ABgAMABIAEQAPAAwAGQATABEAGAAPABUAGQAbABkA EwAXABUAFwAdABcAFAAaABwAGQATABUAEwAVABYADwAZABMACwARABEADAARAA8ADwAMAAkADQAJ AAsABQAMAAoABwAKAAgABwACAAoAAQACAAEAAgAIAPv/AAAHAAEA/v8FAAYAAwAGAAUACAAHAAoA CAAGAA0ABAALAA4ABQAKAA8ADgAQAA0ADAASAAsACQAPABMAEwAPAAkADQAUAAcADgAPAAoADQAI AAwABgAPAAwAAgAGAAAABwAJAAcACAACAP//BgAGAAYAAwD8//v//f8DAAIA///4//j/+f/0//n/ +//y//L/8f/v/+3/7f/0//H/8v/v/+j/6f/q//P/7//w/+v/6f/x/+f/6//r/+b/7P/r/+j/7P/l /+j/9P/s/+X/5P/p//D/8v/v/+j/6v/p/+z/9v/y//f/8f/w//b/9P/6//b//f/z//n/AQD0//3/ AwAAAPz/BQAEAPr/BAAEAAQABQABAAgAAQD//wcACgAAAP3/BAAIAAoABQAAAAAAAwALAAsABAAA AAsACwANAAkABwAOAAcAEgANAAcAFgAOAA4AEAAOABIADQAUABYAEwAMAAwAEAAJAA8ADwAJAA4A BAAGAAQABAAOAAcA/P///woABwAHAAcABwAGAAAADAALAA0ACAAFAAsABAAPABEACwAEAAEADAAM AAUA//8GAAcAAgAGAAAAAwD+/wYABwAFAAUA+//9/wAABgD9//f//v/+//3//f/4////AwD8//n/ AAAGAAAA/v8AAPv/BwAGAPf/AAADAP3/+P/6/wIABwABAPj/9v/7/wgABAD3/wQAAAD8/woABgD5 /wAACQD7//z/CQAFAPn/9v8HAAYA9P/3/wMA+P/1//X/8P/x/wAA+v/u//H/7//9//P/9v8AAPr/ 7f/t/wkABADu/+///P/9/wYA8v/u/wQA8//2/wQAAgABAPD/9v8IAAYAAgD2/wEAFAATAP//9P/+ /wkAIQAQAAIAAAD//yUAJwD3//L/EwAMAAkAEAD0//b//f/6//f/7P/7/wgABQD0/+T/6//7/xEA CQDy//b//f8AAA0A9//o//T/+P/5/+7/2//h/wAAAwDt/9P/zf/4/w4A9P/i/93/8f/8/wcAAgDU /+v/CwABAAYACAAAAPb/+P8CAAEAAAAKABgAAwDv/xUALgAZAPX/9/8qADEAKgAXAPD/CgA5ABoA AAAdABkACQADAPT/BAAwABkA7P/j//j/KQANANf/6v8TAAQA6//n/9j/5//1/xMA9f+///H/5f/o /w0A0//Z//r/4P///9z/xf8TAPT/zP/M/9L/GwAaANT/5P/h/97/+//5/wAA2/8LAB0A3v/4/+T/ NAA5AN3//v8AACkAIQAoAOj/0f9dACAA8v/F/+D/bAADAKv/+P9TADkA0f/r/z8AUQARABYA8//P /yUAIQDK/4v/+v9gAB8A6f/e/97/5v8QAPX/8/8ZAPT/HwDW/3n/+/9rAA8AGAAZACMA3gFEAbP/ TwDbADgB7gA0AOj/XwCUADgAJADo/93/FQD5/6v/qv/a/2AAUQBc/wX/kP8+AN//vf+Y/xb/2/9d AB0ASP+0/oj/XgANAFz/IP97/6L/uf8VAFL///5Y/5z/RgAHAMn/nv9D//H/lgB1ACMA8v+W/wQA wgBPAE4A3/97/00A6gDpAMr/hf9+ALwA1ACQABAAWADgABEC4gHAALAAtQBtATcByAAUARgBGAFN ADYAxQCHAGwAgQD0/9f/yQD0AAkANv8G/8X/lwAtAKD/Yf/1/kb/vP/e/6X/Uv9M/+T+Gv/C/1r/ yP4B/0X/Lf9L/2b/Rv8H/yz/Rf9C/5r/Jv8Y/2L/QP/T/2P/6f6Y/37/bP/z/+3/d/+z/ycAYwCb ACkA2f/p/1kASAEjAQsA1f/qAGcC4wJiAcUAvAEhAo8CfALSAU4B0AGyApoCgQF/AAIBzAEnAoAB JwEmAZMAbAFgAVgAVwClAOUAOADO/y8AUwCb/1b/tP8P/zL/bv9B/yv/rf4A/zf/FP/p/kb+Lv7V /vT+Tv7e/QX+Mv6U/sX+uv7s/i/+Ef5b/jz+SP+V/7X+7P00/qD/w/+t/i3+gv/xAFoAVf/z/k0A 3gHnAIsAtAKwA3oDKwIAAc8CuQPoA9ICEAFwArUDpgNFAg0B8gHcAjIDywJSAjECsQFaAnMCyQAH AHgAhwFnAfL/ff8i/9n+y/8FAHb+EP21/Rj/QP9M/mv9+PzK/Pz9kv5s/cT8u/wD/uL9YvzQ/LH8 nv1t/lz9r/01/qL+cP6E/iD/2f7R/hv+df76/7EAvQCL/5n/LwGyAkIDtgFGAd0BcAMkB9QG1QTT BIEFLQcmBg4FwAVoBvkFrgQhBdkEFwVLBb8D4wJ0ApQDbQT5As0AqQDVAWcBrAAE/3/9Jv7r/pL+ Cv3e+1z7EPuo+jj6wfpg+iz5m/nk+dL42/gm+UP54vmg+dL5KPrY+ST6Mftw++r62fvN+4j7F/1k /YP9BP6b/RD/jgDL/3gA5QB/AZ8DAQQqA/MCVQTlBFUFFwYWBXQGXwoaCwsKAwoXCsELkwtICggL Rwr3CKYIpQgwBwoGYQU+BQQG6QNbApMBAwG+AdYA4P7Y/Uj+Gf55/C/6nPnE+pX6+/jw9/f3GfiS +I/4OviE96H2MvfX93z3Wveu9274ofgj+FL5Ivmn+Df6pvoH/Fv8HvtL/Pv9Ov4t/j7+eP0h/sn/ qQD4AQQDvQNxBIoFtwZTB5QHbQhzCekJxwleCu4ObxBIENQSGBIzE4ESyA6fDlUMxQq4CzkJhAUJ BE8DxAH6/oD7PftM/UX94fu0+cH3fvic+aD3YfRh8g3zlPW99a/yafAe8RXyWfMh83jwDvBb8OTx 7fSS9U/1TPYW+OX42vh3+dv6Fvvl+uD9kAExAikBJQApACkCVgQCBjwH/gaMCEoMeg1kDTQN2Azq D0ERjg/JEBMQeA7wEMgQFBJqHIwifyTbKFIn0SZKJcAbMBTXDM4FCQP8/e73ovRU8CbuVu7C65jr yexf7AnvCfDL7k/vxOxY6tvq8ueQ5XPlWeKQ4Q3ikuCs4T/hL+Ah5P7nCOkD61numPLG98T5cPqx /Sb/sQARA6wBFwG1AScBoAMaBicFLAYjCr8N3A9uEHESbRVrFkIXGhmrGj0brBw4HyQfLB2ZG+0Z sBgcFxoVExilI20t+TAqNAczAjH6LI4frhO+CZb+OftL91zuweo357jknudQ5L/gZuQN5uDoEO01 6mTnfegl53/kBuHd3DbbQtrm16DV3dXZ1gvX39ok4Aniw+Tq6cXuRvK889H2evzK/lz+zf7V/3sA W//v/+YC8gJEA/4GDwpgDGgPLhI6FQwYpBhNGkUdgR1LHyEi7CB1IDshXR/PHJobNxskGhwY3RrC J9wwPDGONbI3FjQZLQMfXhAwBfr6QPX98ibuM+sd6+7pb+kv6FfnwOdx6E7rpuwI7MrqZubi4p/h D95g2uLXt9TO1TjZHdg72PTb991f4SrntulD7O3vRPE39kH7dvqH/G7/Bv/0/xEAEwAOAecA8AEF BCEG0wiwCzQPahPYFgEZSRunG3YapBsAHH0cox1FG/Qb3x2vGiQZdRgVFoMWwxZaGcYnXTPRNLI6 2zujNNErFBqyB5L8CfAG58bmi+Tv43jpjOrD6eDpyuhk6//tK+7275rxqu9z6pLlnOCW25DZ7def 1vPWWdZk2KXczNw637rl4+iu7brzgPZN+1L9afuW/hUBNP+w/t380Psk/kH9Ev0WAIQCxwZaCx4P 1hFAE/UVuhimGsgaihkvGcEYAhmxGMsWyxYJF/4WlxdiFWQTvhO9E7QTiRZ8JNo0wTpPPm49KDQZ Jv8Rc/0j7Y7gp9zP4HnjnORU587qju6e7uzuBvNx9X34Bvv79p3w9um84TbbQtVgz43PbdOC1l3c KuJW5HToRO438b7z6fUK98j5x/pH+qn8lv65/aD8Nv04/qD9Kf5iAGsCsgX9CAYMuA9wEbsSehWR FnUWlRZHFWkUbhUWFowW9hfRGJ4YABgCFXcSuBKuEf4R8BMDEb8T3SdxOiNB4ELrOrwwwiLtBxrx /+H41dPWYN8A4yDlCeig6a7sFu9C72fyV/cb+Tn6zvga77DjPtye1U3RhtD00LjUX9mR28/fheOe 5IHoDe6S8lb3Dfw0/sr/KQEo/6z+Nf5b+uX6gfwT+0z8hf5rAaUFDwl6Dh0U9RZNGewazhtiHFob 7xkRGcIWoRRnFf8VsRWJFkgWTxaMFwEVrhPsFiYWoBRCFHUUiCYxPe9AP0EGPCssBB3sBT7tCOEU 2CzWAeDG4rffiuGB4m3mx+v37dTzIvpf/GH8O/gg7uPhadjC0iLPBc38zkPTytYZ2+Xe7+Ba5Pbo Ce/B9tz6Qf5VAukASv+f/9n81vr++UT4qPll+0z75/7aA6sG7wrTD/4ScRXwF2AbvB2MHIcbURxi GikW+xQsFVsUrBWKF/YXwRf5FQwVdBZ6FjcW0BcLFeUVPipgP/ZDUEE2NyEreR7kBbTwK+fK3ibf N+Ww41jfXts224/idOhb7A/z5fkM/tX7j/Qs62jfx9ao0xTR18+E0QzSBtPo1brWOtlL31vlZe1c 9Cv3M/tE/rD80vuh/Hr8FPwl+5/6KPwD/W78df59ArYFEAqyD4YUDRjSGqocKB7OHzUeHhxnHOga ChlIFzEVoRZIGGQX1hepFy0W3hY0GPAZnBpbF24TwhYpKhY+IEGXPvg2TyqpHBIHmPP66Hri/+IH 5R3gb9kj1qbWtdw85VbsTPOP+rf9pPkB8XPn194D2enWJNXe0sDRMdCX0OrRGtOS2S7hj+j78S/3 x/lq/YH+P/68/wIA4P4l/s780fvk+WP4vfpy/QAAZQRZCZwO8BK4FvQbJh8PHyQfzh8/IKseKBuX GAAW4BJJEmAU3BbEF2kX0BgOGQYXAhi1Gc0ZxBh8FIAWsClQO1g82jg9MBEltBwBDOz77/N86/Do rul04a/X0dOy1I3bIePS6Ezv/PNF9o30/OzM4yPdH9ln1r7U79L4z0nMl8nmyo3OwNF02GvhVufh 7W7zYPXZ9w75Qfuf/6UAr/9f/57/jP42/Lb8HwAGAzYFegkID7kTkxfwGWIduCEQIv4iSCZjJM0f 7B2JHDAaARjtF8AaPBygGaUX3xcWF58W5hhRG5caIRa1F48rEz1QO+I2tDDCJyYeTg3cAID6fvEO 7YHp9NzNz0XLf87D1g3fa+VS7Njw4++s7OTpeOcO5uTljuQy37PW5c/CzI/L/su9ziXUS9pw3yrl muor7hvyf/jX/44DlwN/A/gCZAGD/4T9k/yh/Zb+lAAkBVYHHgmGDWUR0BYrHC8f6yK3JTMm/SQ3 Iq0fwx6kHe0aNhlnGI0XUhdjF2UXEBbXFeQX0BmhGxQaoBaLFHIWbCiVOqY2NC55KQskxiAiGQUO jAZE/7H2Uu+w5ITXJNLe1APYNdrG3LneWeB84UjhcOFZ4YTgv99b3QrZWtQI0IfMKMurykfLhc4P 0I7Sr9jm3OLih+rb7gX0Rfjb+n3/5AFgAp4DPgNxAqUCVARiBpoGfwg9DT4RYxMzFssbUCBrIi0l SSeDJ/UnaScKJUgjZCBhHvcecx21G+4buhrtF38XBBl+GVgaTBpbGAoVZhX/J4Y7vjaQLacqKycJ JHoaZQ8+C+0DT/de7Yvha9Mgzj7RotNA1KLVrdYh2fbchd0f3k3hJ+ED4DngrNse1aHRv87myxPL VsphybHKRc1H0rzXwNrv4CrpRO5u8lH36/ub/+IBYgKSA7wFuAXWBecG9gf+CowOCBJ8FZgX4Bo2 IakmhyhiKsEtfy/kL4Ewqi5FK2UqaComKdAnmyXKIr4hhyF7IMIeSR4WIDwgdhyTF88asisfNe8s ICYdJLEkmSdgJCAcBhPeCJEB7Pt27xziEd6c3EXZVNTnzZnNzdCQ0FjRetK50GTR0NTw01bQj84L zfjLJ8rYx/vIDMl7xlvIoMwXzzPTS9mI3pzizubN7bz0c/dl+9UAzQIuBPAGPgnNC1gOdw8YEhYU kBTUGe0e/x89I7smsieAKYgr/SyyLvotzyo4Kboo6ibGJMUjJCPDILgerh16Gs8XERh3GhUdZBz6 F94YAyVcK4Yo+CnFKNUmIyj/I1gflBm5DdAEhP+V9WjrseRI3DLWXtRn0ebNX8oEyh7Ouc70zBvN SMtiykfMiMx0y7LGdsBfv7u+SL1BvoG9oLpKuzq/ksJkxsvJYc771oHdNeLI5jTqDfKD+u/+6gP+ BqwIZA7RFWscQR+mH/4kcix9MSQ1qDg/PqxCN0QUSFlMQUxzS8BM2E64T4BLFEcuR/lEwUEcQWk+ ejqGNZswsi99L94rwyi7LD8siiR0IuYgqSEqIr4bixe2EG4HQgOH/2z5WO8l5L7dP9oN1UbOIcg8 w0PAUr8hvf64YreBt7C2rrY5tb2xNbJ1tBi0JrQZsvuv8bMmtoi2Arr6uxq/gsPqxRDLLdKW17/d UuOk5lbs1PNl+s8A8gVfCXIN9RO/GlYgOyXIKLArNi+mNBI7uD+nQXFBRUKhRZ5Jqkt0Sj9IBEfG RpVG00U3RDJBmD68PFc5tDUlNHYyhjBaLTAogilUKiEkkSKJITMfjB4PGcwU8BLTDfQJ1QWk/oD3 mfH67YDqp+Pc3CXYUNQ80rLOesl4xqHE88PFwt2+F7weuy27zrs+uU+2P7a5tsm3ibhnt822V7jy use+AcIUwxbFwMjSzXHUItlt3MjhD+dW7Nryhfi//vADmQd6Dg0VvBg1HjQkgig/LfYwbDRqOWE8 uz5kQqNEW0ULRmtHokj8SB9IsEapRuFFNEO4QaU/fjxoO+w4vDRUMfQu7zCiLwEoVSSOIuohuCIX Hk0X0hEjDgsOrwvMA6r7LfYy8zvxGex85AXfMtzJ2QvWFNLlzt7LZsl8x4XGL8UUwiLA/L++v5K+ I720vSS+IL38vSi/rL9twdjCz8VOycPJYsxR0ZbV4dmh3BTgPOUv6oTvVfQa+Lr7hAAMB/4MfhAf E3EX8hwIItolDymsLCEvdTErNUM4sjmYOkc8Yz0gPSM9iT0lPsI90ztAOnk47jYDNiQ0OjKXLoMq JimAKJQo7yT8Hmsd4Bt0G7kafxXPEfkOows7CnwHwwJV/iH6s/aS88rvt+yU6VjlceFQ3tHcodsb 2AvVSNNn0YvQXc+mza3MiMt3yuPJdcmoycbJdcm3ybXJuMr6zAXOW8+30GLS6NXi2Drb7N3J4ILk X+gS7MPvuvKt9tP70v/7AkIGCQr0DscTBRdoGfEbZx/YIzknzShrKsUsGC+YMBwx0TFrM+80FzWN M+cx+DESMyQzvTBILXIrjipwKT4oRiWnIkgj8yBbHPEaMxpMGqMYJhQ5ERUPow1hDHkJYAV0AWn/ RP1R+Xn1XfPl8XnuJuoP5zLlBOTA4pLgpdxk2SfZd9ms2BzWAtOh0rjSydG50UfRItB5z53PA9El 0tzRY9KR04PU3tae2Zfbf9yH3X3h2eVC6PnpDOwM8Jv0DfgI+2T9bQDpBBAJcQwFD5QRRRWnGKAb mR7GIKkisCRmJ/Ap3ypiKy8sSy35LsQv+y5CLsstry1rLlgtzyp9KUQolSdIJusjqSPcIbgeSB0q G4caxRmIFigUVREsDg4NBww+CV8FnAHP/jL9Gvs9+Lf1PvLn7jrtaesa6eLmyeQH4xzhjN703Knc fNsg2t3YF9c/1qzVlNVd1u7Vp9T504HU8tWc19HYiNhZ2JzZW9xA4Dvi1uF54s3lV+qV7Urvv/BM 8yP3yPpZ/gEBlAIBBgwKuAw4D7oRtxS7F1cZJhsSHnsgTSIpI74jlCU9J6sodymWKMYnNijuKb4q jygDJqMlGybPJTQkqyGYH/Yexx+2HrMaVhe6FmEYrBfAE/EPOA1rDXEOmQzAB5sCnQFlA+ECeP4c +eX2f/ex94f15/DM7IPsFe547V7pGeVI5H/lAeap4wDgut5c3xzgMd+a3H7bldyg3fXcFNuE2nHc e95n3jLdBd3K3nnhSOPO4/Dj0ORZ56rqBu317c7uG/F79GL3JfkS+4v9AgDYAlYFQgeaCSYMrg43 EZISqhMdFrkYeRp2GwYcFh3cHlsgFyEZIfQgbiGAIsMi9yGJIQ8hdSAlIGwfKR9UH2wdSRtoGroZ kBrhGZcWJxSSEi8SKRI2EAIN+QlDCN0H0QYnBP4A8f7g/Zn8oPrs98L1xvSi8zbyD/BX7V7sL+zl 6hbpQ+c45gPmXeU25DjjbOI24pviUeJR4SzhweFs4rnigeII4+fj7OQw5onmFOe76Obqpewf7RDu avCs8rH0lvbW9zP5N/vw/ckAGwL8ArUE0waMCbcLvgyTDf4OHRH8EjQU3RSbFeEWFBjXGBoZHxnH GeMa/BpaGqoZfhluGlwaURlEGIEXsxh/GHQWORVbFBwV8xTGEvgQcg8QD0oPDQ44C8oI1wevBwAH 2ARxAqAAvf8e/5j9rvun+ZH4HvjY9kH1UfP28a3x9vDk74vuC+0b7MPry+sQ66jp1+i86BHp3OgL 6PjnYuip6Lnosug06eHpl+pH67nrduxr7evuQPDE8KbxJPP/9Kf23ffh+CL66vvE/XP/twDpAVED HQX2BgkIEQktCpoLYg02DtEOuA+REL0RshIGE/4SahNCFLkU+xSuFCMUJBSKFLwUIRQWE/ASERSi ExESXBEjEYwR+RC8D9cOxw0hDZAMjAsxCtkI+AdHB+kFbQRUA3YC3QFbAIH+Uv1i/MD76Pp4+e73 rPbM9VX1r/Ry80nyWfF68C3wzu/d7iful+0i7c/sjOyo7KXsDOyg60LsAO317ODsNu3E7bHuh+/6 77nwaPFA8rjzAPXs9af2mPdI+Qb78Pus/CX+0P/6ABECewO6BLoFvQYSCHoJEwrsCjYM5wyWDRUO 2Q7iDxEQZhCwEMEQSBFsET0RBRHdEA0RBRGcEAIQ7Q9wEAIQTA+QDskNEg4IDioNKAzlChEKCgpQ CeEH8AYVBm8FewT3Ah4CwwHaAKD/ff5C/bX8J/w3+3f6EPn696X3Gfda9lr1c/Td82Tz9fJC8obx JfH+8Pnwo/DV75bvBvAs8BnwCvAK8Fnwn/AC8X/xAfJ/8uPytfOC9GT1Yfb19s33nPiZ+Qb7Avza /G/9M/7B/yYBKQLSAkcDKwSPBfkGpwfeB3oIfwlbCtkKQgutCyQMYAy5DCwNKQ0yDVENaA1CDd8M ywyGDA4MwQt6CwELEgprCRIJdAjLBxcHbwZ8BX4EJQSyA6UCpQHzAF4A1v/j/h/+rf3O/Ef88/tg ++z6dPrt+YT5Ivnc+Ar57PhL+Or39vdj+Gz4Ifgs+Er4hPi0+Pr4Zvld+Wr5GfrC+uz69/pP++L7 efzj/A/9U/3e/Wn+1P43/3H/w/9PAKIAAgFEAYYB7QEKAlgCuQIHAxED/wI4A3sDmgOTA6sDpwOf A5sDwwPxA4ADSQNwA3IDeQM1A8YCwwLHArMCjgIOAu4BGALPAX8BaAElAfYA8gCVAF0AQwD9/yUA FgCD/2H/k/97/0L/8/7T/hv/4v6K/pz+hf6i/rj+eP5L/lj+of6u/mz+RP6D/qf+bv5f/pv+wP6V /qj+8f4D/+T+CP9V/yv/BP9D/63/rf9L/2r/0P/3/+v//v8hACAASgBiAFYAUgBfAI8AoACAAIEA ngDLAOQAsQCuAOIA6ADGAKcA0QDlALUAnQCaANIA3gCdAHQAXwCPAK4AogBvABwAIABkAGwAFADu /xEAKAAPAAgAFwDk/6b/oP/p/wQAzf+H/4j/tv+a/6L/oP+P/6v/qf+u/7b/oP+r/6H/mP/D/7z/ rv+n/5r/sf/A/6P/rv/S/9n//v/y/8f/5f8EABEAGQAVABsABAAAABoACgAMAAsAGgA4AEMAUAA3 ACoALQBBAEwAMAApACcAKwAfAAkA9//j/9P/z//2/wYA9P+z/5r/5v/+/7r/l/+//77/nv+G/6P/ vP9i/2D/m/+T/4r/bP+X/8j/sv+Y/5r/p/+Y/6X/k/99/7b/w//E/+D/vv+x/+D//P/y/w4AIQD/ /yEAKwAZAFUAVQAkAD8AbQCYAK8AZwA7AGsArQCqAHEAfACpAM0AugCsAIIAfQDEAKkAgQBeAHUA kgBdADkASQBRADEAKwAYAPb/4v8NACQA0/+k/53/t//G/6r/kf+B/5z/kf98/1v/Gv8x/2H/dv9n /zL/HP9N/3b/P/9K/2z/UP9v/5T/rP+w/3f/ff+r/7n/w//C/+f/0P/M/yYAMQAHAOz/DgB1AH4A PABZAGAAYwCfAGYAVgBzAHQArQCLAGoAogC+AJoAcwBuAFUAZQCJAIIAQwApAGQAXgAqAPT/8v8W APz/z//Q/9z/rv/K//D/zv+p/5L/ov+f/6H/lf+t/6//df+q/8//rv+P/67/vP+0/6L/lP/N/7n/ tv/P/+T/2/+6/+3/DQDr/9v/FgAUAPL/7P8OAE8ANQAGABsANwAkABwAEgD5/+//9f82AC4A7v8C AA8AQAA0AO//IgANAAYAKQD9//f/6v/8//7/AwATABIAGQD4//T/8v8FABsADQD7/x8ASAANAPH/ GwA3ADAANgAjABcAKwAtACUAKwAYABEAYgBiAEkAZwBQAEMAZwBzAGUASgAaACwAYABSACYACgAx AGsAagAmAPn/AwAgAEQA9v/H//r/9f/q/73/tf/X/7X/qv/N/9P/x//R/6f/mf+q/5P/tv+N/1D/ e/+y/6j/ZP+E/6n/pP/F/6j/ov/F/7r/4v/G/4X/zP8QAAwAw/+0/wcARAA9APv/7P8LAEYAbAA7 AAMAPACSAGgAKQAtAGsAoABiAD8AbABPAEgAfgBdACIAVgCAAHAAXgAMACMAeQBJAA4AFgAxABkA BwANAAQA5//Y/w4A9P/A/8f/xv/5/9b/ov/g/8P/oP+h/5b/rv+H/4D/uv+a/4L/nf+d/7P/jf+D /9L/r/+N/5P/oP+4/5r/rv/c/9j/v//x/xgA3P/Q/9T/8P8dAAYA5f/9/xYAEAAyAP7/7P9HAC4A IgBFADYAIwAoAEsAUAAmAP3/KwBcACYAIAAYABMAQQAQAAsAFwD3/yEAJgAWAPD/4P8iAC0A6f/A //3/OgAtAO3/xf/y/w8A+P8FAAYA2f/7/ysAHgABAAkALgA/ADgA/v8HAD4ABQAEAB8AAwApABoA 7v/8/xAAKgA6AA0A7P/7/wEABADW/6f/yf/w/+H/zf+o/57/uP+u/7//k/+I/8H/vf+v/3//jv/T /8r/rP+r/67/1f/4/7v/tf/T/9r////q/9r/+f8dABgA+P/5/xwAWQBYABwAFgBaAHYARgAgABMA PQByAEMAFgATABQAMQBLACYAAAAPAC4AOAAJAOv/AAAfAAsA9/8BAP3/FgASAO7/AAAGAPP/7f/d //T/CQDc/8//AQAIAPX/BgDr//P/HgADACAAJQDu/xEALgD+/w4AHwAIADkAQQArABgABQAdABwA JQAgAAkABwD8/xoAGQDi/9T/+P8cAO//xf/s//3/6P/w/+7/zf/G/8X/x/+u/4r/wv/x/7j/kf+/ /93/wP+e/6L/2//9/+//z/+6/97/8v/d/9z/8/8cACUA+v/r/wEADgArABUA+v8oACYAIwAuAP7/ CgBJAFgATQAlAAcAIABBAC8ACAAKAAsAFQAVAN//6v8OAP//9f/b/8b/1P/Z/8v/tv+s/8z/8f/g /7L/yf/o/9n/6P/t//z/BwDm//j/+//d//v/+//x/xUAIwATABAAJwA7AC4AIwA5AEAALwAoAD0A UQBMADIAMwA7ACQAMgAtABcAGgAOAAoADgABAAAAEQAVAA4A+P/q/+n/2//P/+T/6f/X/9n/w//I /9T/0f/v//3/5v/c/9L/yv/Y/8n/vf/D/8H/4P/p/8z/yP/X/93/4//2//3/6v/r//P/6f/p/+P/ /P/8/+P//P8RABUA9//0/w8AAwAVACQADQAJABsAKgAvAC8ANgA2ADUAMwAoAD0ATQBXAGAAOQAt AE8AWwBWAFYAXABwAG8ASQBOAFMANwAvACwAPgA8ACAAJQATAP3/+//5//f/4f/Z/+3/8//U/7b/ yv/T/6z/ov+z/6//nf+R/5z/pf+a/53/q/+v/6v/wv/T/8P/t//H/+L/zf+7/9v/9P8CAAAA8/8A ACUALgArADMALwBHAD4AIgA2AEMAPQA8ADIALwA+ADUAQQBJACgALAA+ACYACgAFABsAKAAEAPT/ AgD1/+7/7v/0//b/6v/z/+X/xv+8/9b/7f/i/8n/zP/l/8//wv/d/+z/5f/h//T/9//d/9j/+P/0 /+z/+f8AAAcA9f/7//7//f8MAAkABQD//wQABAARABMA//8DABQAFAAIAAYAAAAYABkAAAAMAAAA 8//4/wIADgAQAAUA/P///wcACAAHABEACgAXABsAEQAVAB4AIAAZABsAFAAeAB4AHQAQAAoAHgAU AAgABgAQABUAGwAJAAAAFAAQABQAEQD6//n/9v/v//L/3v/a/+z/3//j/+L/zv/R/+X/4v/a/+D/ 3P/q/9v/v//H/9n/6P/l/9r/5//x/+v/9P/m/+f/AAAOAA8A/f/y/wAAEQD+//j/FQAnACsAEgAK AB0AFQAXACMAFQAUAB8AFgAXAAAAAAAYABQADQAIAA0ABQAKAAsA9v/+/wAAAAD//+//9/8HAAAA 8//8/wUACQANAPn/+f8HABAADwAFAAYABwAUABoAEgATAB8AGwAWACIAIgAbABkAIAAkACcAIAAZ ACoAJgASABUAHQAOAAwAEQABAP7/9//y/+//5f/t//z/+P/i/+j/8P/p/9b/0//j/9j/yv/H/87/ vv+5/8b/xf/R/8j/yf/J/8D/z//f/+T/1f/U/9L/z//e/+D/3f/h/97/4//r/93/1//i/+//+v/7 //H/8P/y/+r/6P/k/+v/AAADAPD/6P/j/+z/9v/t//n/CAAGAAAA///y/+7/9P/x//f/BgAGAAMA BgD7/wgAFgAeACgAIwA0ADMAKAAuADMAOgA/AEIASABIAEEARwA+AD4ASgBEAD8APQA/ADQAKwAn ACEAKAApACAAFgATABIACAALAAYA+v/y/+n/7P/r/+H/2f/a/8//0P/T/9L/1P/J/8f/w//C/87/ zf/I/9D/1f/Z/97/5P/p/+X/5v/q//v/+//5/wEA/P8IAAoABwAXAB4AKQAtACUAJQAwADMANwA4 ADEAMAAzADMALgAyAC4AOQA4ACwANwAyACoAMAAqACQAJgAcACEAGgAOABAABwAMAAwACQAAAPv/ 9v/z//j/7P/o/+j/7P/v/+n/4//q/+3/7P/v//D/8//1//P/5//p/+7/6f/2//X/7f/x//z//v/4 //z/CQAMAAkAEAAUABQAFgAXAB0AGgAaAB8AHQAeABgAIQAhABUAGgAcABcAFAATABAADAALABIA EAAGAAMA///+//7/9v/+//f/8P/v/+j/6P/i/+b/3//a/93/2//Y/9v/3P/d/9z/1//g/+H/5P/k /9z/4f/l/9//4//p/+P/5P/n//H/8//w//H/9P/+/wEABQAAAAMACwAMABAAEwAUABEAGQAdAB4A GAAaACIAIwAhAB8AJAAgACUAHwAfAB4AHgAjABsAJAAfABYAGAAWABQAFgAPAAwABwAFAAUA/v8F AAAA+//3//X//P/5//r/+//3//L/9//0/+3/9v/x//D/9P/s/+v/6//w//L/8//u/+7/8f/t/+// 7f/v//j/9v/y//r/+v/8//3/AAD/////AgAAAAQA/f/7/wAAAAD//wYABwAAAAIAAgAMAAkABgAQ AAsABwAOAAsACAAMAAMABwALAAMAAwAEAAYA/v/9//3/AwABAPr/+//4//X/9//4//X/9//x/+7/ 8P/v/+z/8f/w//D/7v/p//H/8P/w/+n/7v/w/+v/9P/0//P/8f/2//P/8v/4//v/9//3/wAA/f/7 /wMAAgD//wEACQAHAAQADAAOAA4ACAAKAAkADAAPAAsAFQARAAsADgATABQAFgAWABEAEQASABcA FwAVABYAFQAYABQAFAAZABEAEgAOABAAFQAUABIADQASAAgACwARABAADwAHAAYABwAKAAEAAAD+ //7/AAD6////9v/2//X/8P/z//X/9//x/+3/8f/y/+//6//z//H/6P/s//D/8P/w//D/6f/u//D/ 7v/0/+z/8P/4//X/8f/0//7/+f/4//7///8CAAQABQAAAAUACAAFAA4ADgAPAAkADQASAA4AGAAT ABQAGAASAB0AGQAWABUAGAAaABYAGgAVABsAGwAWABMAEgAbABMAEwAUAA4ADAANAA4ACAAFAAcA BwAAAP//BQD///3//P/6//r/9f/2//P/9P/t/+z/7P/o/+f/5v/p/9//4f/n/+L/3v/b/93/4v/e /9n/2v/c/97/1//a/+D/3v/h/97/3v/m/+T/4P/l/+v/7f/r/+r/8v/0//X/+f/7/wAAAAD+/wIA CQALAAwACQALAA8AFwAVABUAGwAXACEAHQAeACMAIAAmACAAIQAkACcAIQAkACcAIgAlACAAJgAm ACIAHwAcAB8AHgAaAB4AGQAUABEAEwATAA4ADwAKAA0ADAAGAAUACAAFAP3/AAABAAAA//8AAP3/ +v/9//n/AAD8//X/+f/7//v//P/7//X/+v/8//X/+f////z/+P/5//n/+P/6//7//v////7/+f/9 /wEAAQACAAQAAgAAAAAAAwAHAAAAAgAIAAYACAAIAAsACAAFAA4ACwAHAAcACwAMAAgADAAIAA4A DgAMAAgACAAPAAwADwAMAAgACAAJAA0ABAAJAAoABAAFAAQAAwADAAYABQAEAAQAAwAGAAEAAQAD AAAAAgD//wQAAgD7/wAAAQD8//7/AQD6//3/AQABAP//+/8BAAEAAAACAAAA//8EAAMA//8AAAAA BgADAP//AAD//wEAAwAAAAQA/f8BAAIA//8GAAIA/v/9//7/BAAAAP//AQD8//z//f8BAAAAAAD/ //n//f8BAP///v////z/AAAAAAAAAgAAAP3//P8AAAAA/v8AAP3/AwAAAPz////9//7//v8EAAAA +////wIAAgABAAMAAAD//wMA//8AAP//AAADAPv///8DAAAA+//8//3/+f/9////+f/4//n//f/8 //r//f/5//j//f////v/+f////////8AAAAA+////wMA/f8AAAYAAgABAAQAAgAJAAcAAQAIAAgA BQALAAsACwAOAAwACQAJAA0AEAAJAAwAEAAIAA0ADwAKAAkADAANAAgADQANAA0ADAAEAAsACgAH AAkABQALAAUAAwAGAAEACAADAAAA//8AAAMA+v////7/+//+//f/+f/2//j/+P/0//f/8v/4//b/ 9P/w//H/9//0//T/7//x//D/8f/4//L/8v/0//D/9//0//L/+v/2//P/8//3//v/+v/8//v/9v/7 //7/+v/6//3/AQD///n///8AAP7/AwACAP7///8BAAQA/v8AAAUABQACAP//AQAAAAAABgABAAAA AgD9/wAABQABAP7//P///////f////z////4//v////1//r//f/7//P/+P/7//L/9//3//T/+f/2 //D/9f/2//P/9//w//P/9//u//P/+P/1/+//9P/2//L/+f/3//r/9//0////+v/4//j//f/+//r/ AQAAAAAAAwACAAAAAAAFAAcAAgAEAAsABwAFAAwADQALAAcACQALABAADAAMAA8ADAAPAA0ADwAM ABAAEgAOAAwACwAMAA0ADgAKAAwACQALAAUABwALAAEABgAGAAAAAgADAP7///8AAPj//f/8//n/ +//4//r/9P/y//T/9//4//P/8P/u//D/9P/0//L/7f/t//D/8f/t//P/8v/y//H/7f/v//H/9v/2 //T/8f/x//b/9//1//z/+v/z//n//P/6/wAA/v/8/wAA+v8AAAQABQACAAEABwAHAAYABgAKAAYA BQAKAAwABgAIABAACgAIAA8ADQAHAAoAEAAQAA4ABwALABAADwANAAsADwAHAAwADgAJABAACwAG AAgADAANAAoABgAEAAgACQACAAUACQAFAAAAAgAEAAAABwABAP//AwABAAIAAgAAAAAAAwD+//// /v/+/wIAAAACAAAA/f/+//3///8BAAAAAQAAAPz///8EAAAA//8CAAIAAAAAAAQABQADAAAAAQAH AAQAAAAEAAQAAgAGAAEAAQAEAAUAAAABAAYAAgAAAP//AQADAP7/AAAAAP3/AgD///7/AAD7//7/ AAD///////8AAP7//P/7////AAD7//r//P////////////n//f8AAAAA/v/9/wIAAgAAAP//BAAF AAEAAgAEAAMABwACAAMAAgAEAAoABQACAAMAAwAFAAcAAAAEAAQAAQADAAAABAD//////v/7//// ///6//j/9v/4//v/+f/4//n/9f/0//b/9P/3//L/8P/z//P/7v/v//b/7//v//H/7P/s/+//8f/s /+z/7P/s/+z/6v/t//H/7//x/+7/7v/1//T/7//0//b/9P/6//r/+//9//7/AAD//wAABgAEAAQA BwAFAAwACwAOAAwACwATABAADgAQABUAFAAVABMAEgAYABYAEgAUABMAEwAQABMAEgAQABIADgAR AAsACwALAA0ACwALAAkABAAFAAQAAQADAAEAAAAAAP3////7//n/+//6//f/+v/3//T/+v/2//L/ 9P/4//b/9//0//L/+f/2//H/9v/2//X/9//0//j/8v/3//n/9v/7//T/9v/3//z//v/7//n/9//8 ////AAD+//3/AQD7/wAAAQD//wUAAgAGAAMAAAAEAAoABgAEAAgABQAKAAQABgAFAAYACwA=","payloadType":"str","repeat":"","crontab":"","once":false,"x":79.58335876464844,"y":860.650016784668,"wires":[["8f663a92.cfa058"]]},{"id":"3378a8ab.b6ff88","type":"function","z":"22206cc.ed21b14","name":"Get transcription","func":"msg.payload = msg.transcription\nreturn msg;","outputs":1,"noerr":0,"x":753.9999847412109,"y":889.8166656494141,"wires":[["347fd7fb.fe04b8"]]},{"id":"70e898f8.a777d","type":"debug","z":"22206cc.ed21b14","name":"Conversation","active":false,"console":"false","complete":"payload.context","x":1029.0000915527344,"y":1172.8166580200195,"wires":[]},{"id":"b94b0b8a.611cb8","type":"function","z":"22206cc.ed21b14","name":"Get speech","func":"msg.payload = msg.speech;\n// msg.payload = new Buffer(msg.speech).toString(\"base64\");\nreturn msg;","outputs":1,"noerr":0,"x":1177.000259399414,"y":1547.8168487548828,"wires":[["f077004d.88547","c75143c2.d705","bc33f3f0.e575c","b2e3e47f.65362"]]},{"id":"7e55db70.0f7f0c","type":"http in","z":"22206cc.ed21b14","name":"","url":"/audio-pro","method":"get","swaggerDoc":"","x":1562.9998626708984,"y":1393.816665649414,"wires":[["c5d40b27.d0fef"]]},{"id":"fea035fd.26fb48","type":"http response","z":"22206cc.ed21b14","name":"","x":2187.545394897461,"y":1393.0897979736328,"wires":[]},{"id":"c5d40b27.d0fef","type":"template","z":"22206cc.ed21b14","name":"HTML for Websocket","field":"","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio-pro\";\n\n    $(document).ready(function connect(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for Send buttons are clicked...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for Send buttons are clicked...');\n          console.log(\"Connected websocket\");\n          sendInit();\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\");\n          socket.close();\n      };\n      sock.onclose = function () {\n          $('#text').text('Reconnecting ...');\n          setTimeout(function() {\n            connect();\n          }, 1)\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt)\n        console.log(localStorage.deviceId);\n        console.log(evt.data)\n\n        \n        if(typeof evt.data !== \"string\") {\n            output.src = window.URL.createObjectURL(evt.data);\n            output.play();            \n        }\n      };\n    });\n  </script>\n  <style>\n    input[type=\"text\"] {\n    width: 500px;\n    }\n  </style>\n  \n</head>\n<body style=\"font-size: 30px; font-family: helvetica; text-align: left; margin-top: 100px;\">\n  <h3>HLB conversation webapp</h3>\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n  <div id=\"tests\" style=\"width:700px;\">\n      <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Opening new account</legend>\n        <input id=\"a1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('a1')\">Send</button><br>\n        <input id=\"a2\" type=\"text\" value=\"I want to open an account\"> <button onclick=\"postQuestion('a2')\">Send</button><br>\n        <input id=\"a3\" type=\"text\" value=\"It's a current account\"> <button onclick=\"postQuestion('a3')\">Send</button><br>\n        <input id=\"a4\" type=\"text\" value=\"It's a FD account\"> <button onclick=\"postQuestion('a4')\">Send</button><br>\n        <input id=\"a5\" type=\"text\" value=\"It's a saving account\"> <button onclick=\"postQuestion('a5')\">Send</button><br>\n        <input id=\"a6\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('a6')\">Send</button><br>\n        <input id=\"a7\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('a7')\">Send</button><br>\n        <input id=\"a8\" type=\"text\" value=\"Ok\"> <button onclick=\"postQuestion('a8')\">Send</button><br>\n        <input id=\"a9\" type=\"text\" value=\"Thanks\"> <button onclick=\"postQuestion('a9')\">Send</button><br>\n      </fieldset>\n      <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Request bank statement</legend>\n        <input id=\"b1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('b1')\">Send</button><br>\n        <input id=\"b2\" type=\"text\" value=\"I would like to request for bank statement\"> <button onclick=\"postQuestion('b2')\">Send</button><br>\n        <input id=\"b3\" type=\"text\" value=\"Fine\"> <button onclick=\"postQuestion('b3')\">Send</button><br>\n        <input id=\"b4\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('b4')\">Send</button><br>\n        <input id=\"b5\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('b5')\">Send</button><br>\n        <input id=\"b6\" type=\"text\" value=\"Ok\"> <button onclick=\"postQuestion('b6')\">Send</button><br>\n        <input id=\"b7\" type=\"text\" value=\"Thanks\"> <button onclick=\"postQuestion('b7')\">Send</button><br>\n      </fieldset>\n        <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Creditcard</legend>\n        <input id=\"c1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('c1')\">Send</button><br>\n        <input id=\"c2\" type=\"text\" value=\"I  am here about my Credit Card\"> <button onclick=\"postQuestion('c2')\">Send</button><br>\n        <input id=\"c3\" type=\"text\" value=\"I would like to know  my Credit Card Balance\"> <button onclick=\"postQuestion('c3')\">Send</button><br>\n        <input id=\"c4\" type=\"text\" value=\"I would like to know about my Credit Card Application\"> <button onclick=\"postQuestion('c4')\">Send</button><br>\n        <input id=\"c5\" type=\"text\" value=\"I would like to know about  Credit  Card Cancellation\"> <button onclick=\"postQuestion('c5')\">Send</button><br>\n        <input id=\"c6\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('c6')\">Send</button><br>\n        <input id=\"c7\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('c7')\">Send</button><br>\n      </fieldset>\n      <!--  <fieldset>-->\n      <!--  <legend style=\"color:black;font-weight:bold;\">Standing instruction</legend>-->\n      <!--  <input id=\"d1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('d1')\">Send</button><br>-->\n      <!--  <input id=\"d2\" type=\"text\" value=\"I would like change my standing instruction\"> <button onclick=\"postQuestion('d2')\">Send</button><br>-->\n      <!--  <input id=\"d3\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('d3')\">Send</button><br>-->\n      <!--  <input id=\"d4\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('d4')\">Send</button><br>-->\n      <!--  <input id=\"d5\" type=\"text\" value=\"Ok\"> <button onclick=\"postQuestion('d5')\">Send</button><br>-->\n      <!--  <input id=\"d6\" type=\"text\" value=\"Thanks\"> <button onclick=\"postQuestion('d6')\">Send</button><br>-->\n      <!--</fieldset>-->\n    <!--    <fieldset>-->\n    <!--    <legend style=\"color:black;font-weight:bold;\">Payment</legend>-->\n    <!--    <input id=\"e1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('e1')\">Send</button><br>-->\n    <!--    <input id=\"e2\" type=\"text\" value=\"I would like to make a  payment\"> <button onclick=\"postQuestion('e2')\">Send</button><br>-->\n    <!--    <input id=\"e3\" type=\"text\" value=\"Loan Payment\"> <button onclick=\"postQuestion('e3')\">Send</button><br>-->\n    <!--    <input id=\"e4\" type=\"text\" value=\"Credit Card  Payment\"> <button onclick=\"postQuestion('e4')\">Send</button><br>-->\n    <!--    <input id=\"e5\" type=\"text\" value=\"No, I need to meet the branch agent for enquiry\"> <button onclick=\"postQuestion('e5')\">Send</button><br>-->\n    <!--    <input id=\"e6\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('e6')\">Send</button><br>-->\n    <!--    <input id=\"e7\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('e7')\">Send</button><br>-->\n    <!--    <input id=\"e8\" type=\"text\" value=\"Ok\"> <button onclick=\"postQuestion('e8')\">Send</button><br>-->\n    <!--    <input id=\"e9\" type=\"text\" value=\"Thanks\"> <button onclick=\"postQuestion('e9')\">Send</button><br>-->\n    <!--</fieldset>-->\n      <!--  <fieldset>-->\n      <!--  <legend style=\"color:black;font-weight:bold;\">Deposits</legend>-->\n      <!--  <input id=\"f1\" type=\"text\" value=\"Hello\"> <button onclick=\"postQuestion('f1')\">Send</button><br>-->\n      <!--  <input id=\"f2\" type=\"text\" value=\"I would like to make a deposit\"> <button onclick=\"postQuestion('f2')\">Send</button><br>-->\n      <!--  <input id=\"f3\" type=\"text\" value=\"cash\"> <button onclick=\"postQuestion('f3')\">Send</button><br>-->\n      <!--  <input id=\"f4\" type=\"text\" value=\"FD\"> <button onclick=\"postQuestion('f4')\">Send</button><br>-->\n      <!--  <input id=\"f5\" type=\"text\" value=\"Cheque\"> <button onclick=\"postQuestion('f5')\">Send</button><br>-->\n      <!--  <input id=\"f6\" type=\"text\" value=\"15000 ringit\"> <button onclick=\"postQuestion('f6')\">Send</button><br>-->\n      <!--  <input id=\"f7\" type=\"text\" value=\"5000 ringit\"> <button onclick=\"postQuestion('f7')\">Send</button><br>-->\n      <!--  <input id=\"f8\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('f8')\">Send</button><br>-->\n      <!--  <input id=\"f9\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('f9')\">Send</button><br>-->\n      <!--  <input id=\"f10\" type=\"text\" value=\"Thanks\"> <button onclick=\"postQuestion('f10')\">Send</button><br>-->\n      <!--  <input id=\"f11\" type=\"text\" value=\"Bye\"> <button onclick=\"postQuestion('f11')\">Send</button><br>-->\n      <!--  <input id=\"f12\" type=\"text\" value=\"Non cash\"> <button onclick=\"postQuestion('f12')\">Send</button><br>-->\n      <!--</fieldset>-->\n        <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Change contact detail</legend>\n        <input id=\"g1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('g1')\">Send</button><br>\n        <input id=\"g2\" type=\"text\" value=\"I want to change contact details\"> <button onclick=\"postQuestion('g2')\">Send</button><br>\n        <input id=\"g3\" type=\"text\" value=\"Residence Address\"> <button onclick=\"postQuestion('g3')\">Send</button><br>\n        <input id=\"g4\" type=\"text\" value=\"Mailing Address\"> <button onclick=\"postQuestion('g4')\">Send</button><br>\n        <input id=\"g5\" type=\"text\" value=\"Mobile Number\"> <button onclick=\"postQuestion('g5')\">Send</button><br>\n        <input id=\"g6\" type=\"text\" value=\"House Number\"> <button onclick=\"postQuestion('g6')\">Send</button><br>\n        <input id=\"g7\" type=\"text\" value=\"Email Id\"> <button onclick=\"postQuestion('g7')\">Send</button><br>\n        <input id=\"g8\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('g8')\">Send</button><br>\n        <input id=\"g9\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('g9')\">Send</button><br>\n        <input id=\"g10\" type=\"text\" value=\"Thanks\"> <button onclick=\"postQuestion('g10')\">Send</button><br>\n      </fieldset>\n        <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Loan application</legend>\n        <input id=\"h1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('h1')\">Send</button><br>\n        <input id=\"h2\" type=\"text\" value=\"I want to  apply loan\"> <button onclick=\"postQuestion('h2')\">Send</button><br>\n        <input id=\"h3\" type=\"text\" value=\"Mortgage\"> <button onclick=\"postQuestion('h3')\">Send</button><br>\n        <input id=\"h4\" type=\"text\" value=\"Personal\"> <button onclick=\"postQuestion('h4')\">Send</button><br>\n        <input id=\"h5\" type=\"text\" value=\"Auto Loan\"> <button onclick=\"postQuestion('h5')\">Send</button><br>\n        <input id=\"h6\" type=\"text\" value=\"Semi Flexible\"> <button onclick=\"postQuestion('h6')\">Send</button><br>\n        <input id=\"h7\" type=\"text\" value=\"Conventional\"> <button onclick=\"postQuestion('h7')\">Send</button><br>\n        <input id=\"h8\" type=\"text\" value=\"Islamic\"> <button onclick=\"postQuestion('h8')\">Send</button><br>\n        <input id=\"h9\" type=\"text\" value=\"Conventional\"> <button onclick=\"postQuestion('h9')\">Send</button><br>\n        <input id=\"h10\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('h10')\">Send</button><br>\n        <input id=\"h11\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('h11')\">Send</button><br>\n      </fieldset>\n        <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Change ATM card pin</legend>\n        <input id=\"i1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('i1')\">Send</button><br>\n        <input id=\"i2\" type=\"text\" value=\"I want to change  ATM Card Pin Number\"> <button onclick=\"postQuestion('i2')\">Send</button><br>\n        <input id=\"i3\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('i3')\">Send</button><br>\n        <input id=\"i4\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('i4')\">Send</button><br>\n        <input id=\"i5\" type=\"text\" value=\"Thanks you\"> <button onclick=\"postQuestion('i5')\">Send</button><br>\n      </fieldset>\n      <!--  <fieldset>-->\n      <!--  <legend style=\"color:black;font-weight:bold;\">Cash withdrawal</legend>-->\n      <!--  <input id=\"j1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('j1')\">Send</button><br>-->\n      <!--  <input id=\"j2\" type=\"text\" value=\"I want to  do cash withdrawal\"> <button onclick=\"postQuestion('j2')\">Send</button><br>-->\n      <!--  <input id=\"j3\" type=\"text\" value=\"15000 ringit\"> <button onclick=\"postQuestion('j3')\">Send</button><br>-->\n      <!--  <input id=\"j4\" type=\"text\" value=\"5000 ringit\"> <button onclick=\"postQuestion('j4')\">Send</button><br>-->\n      <!--  <input id=\"j5\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('j5')\">Send</button><br>-->\n      <!--  <input id=\"j6\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('j6')\">Send</button><br>-->\n      <!--</fieldset>-->\n        <fieldset>\n        <legend style=\"color:black;font-weight:bold;\">Remittance</legend>\n        <input id=\"k1\" type=\"text\" value=\"Hi\"> <button onclick=\"postQuestion('k1')\">Send</button><br>\n        <input id=\"k2\" type=\"text\" value=\"I want to  perform remittance\"> <button onclick=\"postQuestion('k2')\">Send</button><br>\n        <input id=\"k3\" type=\"text\" value=\"Immediate Credit to Bank Account\"> <button onclick=\"postQuestion('k3')\">Send</button><br>\n        <input id=\"k4\" type=\"text\" value=\"Remit Fund Overseas on Realtime  with Western Union\"> <button onclick=\"postQuestion('k4')\">Send</button><br>\n        <input id=\"k5\" type=\"text\" value=\"Telegraphic Transfer\"> <button onclick=\"postQuestion('k5')\">Send</button><br>\n        <input id=\"k6\" type=\"text\" value=\"Student Banking and Remittance Services\"> <button onclick=\"postQuestion('k6')\">Send</button><br>\n        <input id=\"k7\" type=\"text\" value=\"Yes\"> <button onclick=\"postQuestion('k7')\">Send</button><br>\n        <input id=\"k8\" type=\"text\" value=\"No\"> <button onclick=\"postQuestion('k8')\">Send</button><br>\n        <input id=\"k9\" type=\"text\" value=\"Thank you very much\"> <button onclick=\"postQuestion('k9')\">Send</button><br>\n      </fieldset>\n  </div>\n\n\n  <script>\n      function postQuestion(textId) {\n          var xhr = new XMLHttpRequest();\n          xhr.open('POST', \"https://hlb-nao-demo.mybluemix.net/api/v2/answers\", true);\n          xhr.responseType = 'blob';\n          xhr.setRequestHeader(\"content-type\", 'application/json');\n          xhr.setRequestHeader(\"Access-Control-Allow-Origin\", '*');\n          xhr.setRequestHeader(\"Access-Control-Allow-Methods\", \"PUT, GET, POST\");\n          xhr.setRequestHeader(\"Access-Control-Allow-Headers\", \"Origin, X-Requested-With, Content-Type, Accept\");\n        //   xhr.send(JSON.stringify({\"id\":guid() ,\"deviceId\":\"nao_webapp\", \"branchId\":\"branch_1\", \"locale\":\"en-us\", \"question\":$('#hi').text()}));\n          xhr.send(JSON.stringify({\"id\":guid() ,\"deviceId\":localStorage.deviceId, \"branchId\":\"branch_1\", \"locale\":\"en-us\", \"question\":document.getElementById(textId).value}));\n\n      }\n      function guid() {\n        function s4() {\n            return Math.floor((1 + Math.random()) * 0x10000)\n          .toString(16)\n          .substring(1);\n        }\n        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +\n        s4() + '-' + s4() + s4() + s4();\n      }\n  </script>\n  <script>\n      function sendInit() {\n          var deviceId = localStorage.deviceId;\n          if (deviceId === 'undefined') {\n              deviceId = \"webbot_\"+Math.round(Math.random()*10000); \n          }\n          var payload = {\n              \"deviceId\" : deviceId,\n              };\n          localStorage.deviceId = deviceId;\n          sock.send(JSON.stringify(payload));\n      }\n  </script>\n</body>\n</html>","x":1783.9998626708984,"y":1394.8170318603516,"wires":[["db171a0e.15f9d"]]},{"id":"c8a8ffbd.d993d","type":"websocket out","z":"22206cc.ed21b14","name":"","server":"718221b2.34a6a","client":"","x":2256.999984741211,"y":1248.8166046142578,"wires":[]},{"id":"7f1ca678.ace1c","type":"comment","z":"22206cc.ed21b14","name":"Speech to text","info":"","x":573.0000305175781,"y":800.8166656494141,"wires":[]},{"id":"d33757af.7d04f8","type":"comment","z":"22206cc.ed21b14","name":"Conversation","info":"","x":964.0000915527344,"y":1084.8166580200195,"wires":[]},{"id":"989c4e2b.86e7c8","type":"comment","z":"22206cc.ed21b14","name":"Text to speech","info":"","x":1148.0001525878906,"y":1345.8164901733398,"wires":[]},{"id":"547aef19.31632","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"response","x":1055.9999237060547,"y":851.8166656494141,"wires":[]},{"id":"6d0445cc.d1924c","type":"debug","z":"22206cc.ed21b14","name":"payload","active":true,"console":"false","complete":"transcription","x":575.9999847412109,"y":847.8166656494141,"wires":[]},{"id":"57c69c42.aefae4","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"transcription","x":1018.0000915527344,"y":1135.8166580200195,"wires":[]},{"id":"6cec2eb3.794b4","type":"function","z":"22206cc.ed21b14","name":"Answer text, save context","func":"msg.actions = msg.payload.context.actions;\nmsg.payload.context=null;\nmsg.payload = msg.payload.output.text[0];\nmsg.requestText = msg.transcription;\nmsg.responseText = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":849.0001068115234,"y":1428.8167266845703,"wires":[["22fa67b0.ea0db"]]},{"id":"33b2ce09.b9380a","type":"comment","z":"22206cc.ed21b14","name":"Audio Tests","info":"","x":75,"y":817.8166656494141,"wires":[]},{"id":"9f5c8477.cf5828","type":"comment","z":"22206cc.ed21b14","name":"Answers REST API","info":"","x":124.99998474121094,"y":1101.816665649414,"wires":[]},{"id":"6790a588.059434","type":"comment","z":"22206cc.ed21b14","name":"Websocket Test Page - http://hlb-nao-demo.mybluemix.net/audio-pro","info":"http://hlb-nao-demo.mybluemix.net/audio-pro","x":1769.9998474121094,"y":1123.8166046142578,"wires":[]},{"id":"fbbaee74.a1b888","type":"function","z":"22206cc.ed21b14","name":"Save tone","func":"var timestamp = new Date().toUTCString();\nmsg.payload =\n{\n    ID : msg.id,\n    DEVICE_ID : msg.deviceId,\n    BRANCH_ID : msg.branchId,\n    TONE : msg.response,\n    CREATED_DATE : timestamp\n}\nreturn msg;","outputs":1,"noerr":0,"x":1176.2666473388672,"y":889.0999908447266,"wires":[[]]},{"id":"a714128a.95e72","type":"function","z":"22206cc.ed21b14","name":"Set response headers","func":"// msg.headers = {\n//     'Access-Control-Allow-Origin' : '*',\n//     'Access-Control-Allow-Methods' : 'GET, POST, OPTIONS, PUT, PATCH, DELETE',\n//     'Access-Control-Allow-Headers' : 'X-Requested-With,content-type',\n//     'Access-Control-Allow-Credentials' : 'true'\n// }\nmsg.headers={ \n    'Content-Type': 'application/json',\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":817.9000091552734,"y":1761.9168853759766,"wires":[["5fd2cc24.0416ec","9edec075.7387b8"]]},{"id":"f077004d.88547","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"payload","x":1253.416763305664,"y":1500.9334259033203,"wires":[]},{"id":"22fa67b0.ea0db","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"conversation_context","x":938.1168518066406,"y":1386.9331893920898,"wires":[]},{"id":"c9c1a255.bf7b58","type":"debug","z":"22206cc.ed21b14","name":"payload","active":true,"console":"false","complete":"actions","x":733.9998779296875,"y":1860.816909790039,"wires":[]},{"id":"c17fc94d.b6eeb8","type":"http in","z":"22206cc.ed21b14","name":"nao-pro","url":"/nao-pro","method":"get","swaggerDoc":"","x":1568.9998626708984,"y":1608.0167999267578,"wires":[["4d5d5b79.bdc9f4"]]},{"id":"4d5d5b79.bdc9f4","type":"template","z":"22206cc.ed21b14","name":"recordjs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n<head>\n\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t<title>Live input record and playback</title>\n  <style type='text/css'>\n    ul { list-style: none; }\n    #recordingslist audio { display: block; margin-bottom: 10px; }\n    .red\n    {\n        background-color:red;\n    }\n  </style>\n  <script src=\"https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js\"></script>\n  <script src=\"https://code.jquery.com/jquery-1.10.2.js\"></script>\n</head>\n<body>\n\n  <h1>NAO Web App</h1>\n\n  {{!--<button onmousedown=\"startRecording(this);\" onmouseup=\"stopRecording(this);\">record</button>--}}\n  <button id='rec'>Record</button>\n  <script>\n      $('#rec').click(function() {\n          var clicks = $(this).data('clicks');\n          if (clicks) {\n            $( this ).text( \"Record\" ).removeClass();\n            stopRecording(this);\n          } else {\n            $( this ).text( \"Stop\" ).addClass('red');\n            startRecording(this);\n          }\n          $(this).data(\"clicks\", !clicks);\n        });\n  </script>\n  <h2>Conversation</h2>\n  <ul id=\"conversationlist\"></ul>\n  \n  <h2>Recordings</h2>\n  <ul id=\"recordingslist\"></ul>\n  \n  <h2>Log</h2>\n  <pre id=\"log\"></pre>\n\n  <script>\n  function __log(e, data) {\n    log.innerHTML += \"\\n\" + e + \" \" + (data || '');\n  }\n  var audio_context;\n  var recorder;\n  function startUserMedia(stream) {\n    var input = audio_context.createMediaStreamSource(stream);\n    __log('Media stream created.');\n    // Uncomment if you want the audio to feedback directly\n    //input.connect(audio_context.destination);\n    //__log('Input connected to audio context destination.');\n    \n    recorder = new Recorder(input);\n    __log('Recorder initialised.');\n  }\n  function startRecording(button) {\n    recorder && recorder.record();\n    //button.disabled = true;\n    button.nextElementSibling.disabled = false;\n    __log('Recording...');\n  }\n  function stopRecording(button) {\n    recorder && recorder.stop();\n    //button.disabled = true;\n    button.previousElementSibling.disabled = false;\n    __log('Stopped recording.');\n    \n    // create WAV download link using audio data blob\n    createDownloadLink();\n    \n    recorder.clear();\n  }\n  function createDownloadLink() {\n    recorder && recorder.exportWAV(function(blob) {\n      var url = URL.createObjectURL(blob);\n      var li = document.createElement('li');\n      var lic = document.createElement('li');\n      var au = document.createElement('audio');\n      var hf = document.createElement('a');\n      var br = document.createElement('br');\n      \n      au.controls = true;\n      au.src = url;\n      hf.href = url;\n      hf.download = new Date().toISOString() + '.wav';\n      hf.innerHTML = hf.download;\n      li.appendChild(au);\n      li.appendChild(hf);\n      recordingslist.appendChild(li);\n      conversationlist.appendChild(lic)\n      \n      var xhr = new XMLHttpRequest();\n      xhr.open('POST', \"https://hlb-nao-demo.mybluemix.net/api/v1/answers\", true);\n      xhr.responseType = 'blob';\n\n      xhr.onload = function(e) {\n        if (this.status == 200) {\n          // Note: .response instead of .responseText\n           var blob = new Blob([this.response], {type: 'audio/wave'});\n        //   saveAs(blob, \"hi.wav\");\n        //   var objectUrl = (window.URL ? URL : webkitURL).createObjectURL(blob);\n        //   var audio = new window.Audio();\n        //   audio.src = objectUrl;\n        //   audio.play();\n        var text;\n        var fileReader = new FileReader();\n            fileReader.onload = function() {\n                text = this.result;\n                // console.log(text)\n                // console.log(JSON.parse(text).requestText)\n                // console.log(JSON.parse(text).responseText)\n                var customer = document.createTextNode(\"Customer: \");\n                var robot = document.createTextNode(\"Robot: \");\n                var requestText = document.createTextNode(JSON.parse(text).requestText);\n                var responseText = document.createTextNode(JSON.parse(text).responseText);\n\n                lic.appendChild(br);\n                lic.appendChild(customer);\n                lic.appendChild(requestText);\n                lic.appendChild(br);\n                lic.appendChild(robot);\n                lic.appendChild(responseText);\n\n                var base64string = JSON.parse(text).answer\n                var snd = new Audio(\"data:audio/wav;base64,\" + base64string);\n                snd.play();\n        };\n        fileReader.readAsText(blob);\n        }\n      };\n     var reader = new window.FileReader();\n     var base64data;\n     reader.readAsDataURL(blob); \n     reader.onloadend = function() {\n                    base64data = reader.result;                \n                    // console.log(base64data.substr(base64data.indexOf(',')+1) );\n                          var base64 = base64data.substr(base64data.indexOf(',')+1) \n      xhr.setRequestHeader(\"content-type\", 'text/plain');\n      xhr.send(JSON.stringify({\"id\":guid() ,\"deviceId\":\"nao_webapp\", \"branchId\":\"branch_1\", \"locale\":\"en-us\", \"question\":base64}));\n      }\n      //xhr.send(blob);\n    });\n  }\n    function guid() {\n  function s4() {\n    return Math.floor((1 + Math.random()) * 0x10000)\n      .toString(16)\n      .substring(1);\n  }\n  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +\n    s4() + '-' + s4() + s4() + s4();\n    }\n\n\n  window.onload = function init() {\n    try {\n      // webkit shim\n      window.AudioContext = window.AudioContext || window.webkitAudioContext;\n      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;\n      window.URL = window.URL || window.webkitURL;\n      \n      audio_context = new AudioContext;\n      __log('Audio context set up.');\n      __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));\n    } catch (e) {\n      alert('No web audio support in this browser!');\n    }\n    \n    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {\n      __log('No live audio input: ' + e);\n    });\n  };\n  </script>\n\n  <script>\n(function(f){if(typeof exports===\"object\"&&typeof module!==\"undefined\"){module.exports=f()}else if(typeof define===\"function\"&&define.amd){define([],f)}else{var g;if(typeof window!==\"undefined\"){g=window}else if(typeof global!==\"undefined\"){g=global}else if(typeof self!==\"undefined\"){g=self}else{g=this}g.Recorder = f()}})(function(){var define,module,exports;return (function e(t,n,r){function s(o,u){if(!n[o]){if(!t[o]){var a=typeof require==\"function\"&&require;if(!u&&a)return a(o,!0);if(i)return i(o,!0);var f=new Error(\"Cannot find module '\"+o+\"'\");throw f.code=\"MODULE_NOT_FOUND\",f}var l=n[o]={exports:{}};t[o][0].call(l.exports,function(e){var n=t[o][1][e];return s(n?n:e)},l,l.exports,e,t,n,r)}return n[o].exports}var i=typeof require==\"function\"&&require;for(var o=0;o<r.length;o++)s(r[o]);return s})({1:[function(require,module,exports){\n\"use strict\";\n\nmodule.exports = require(\"./recorder\").Recorder;\n\n},{\"./recorder\":2}],2:[function(require,module,exports){\n'use strict';\n\nvar _createClass = (function () {\n    function defineProperties(target, props) {\n        for (var i = 0; i < props.length; i++) {\n            var descriptor = props[i];descriptor.enumerable = descriptor.enumerable || false;descriptor.configurable = true;if (\"value\" in descriptor) descriptor.writable = true;Object.defineProperty(target, descriptor.key, descriptor);\n        }\n    }return function (Constructor, protoProps, staticProps) {\n        if (protoProps) defineProperties(Constructor.prototype, protoProps);if (staticProps) defineProperties(Constructor, staticProps);return Constructor;\n    };\n})();\n\nObject.defineProperty(exports, \"__esModule\", {\n    value: true\n});\nexports.Recorder = undefined;\n\nvar _inlineWorker = require('inline-worker');\n\nvar _inlineWorker2 = _interopRequireDefault(_inlineWorker);\n\nfunction _interopRequireDefault(obj) {\n    return obj && obj.__esModule ? obj : { default: obj };\n}\n\nfunction _classCallCheck(instance, Constructor) {\n    if (!(instance instanceof Constructor)) {\n        throw new TypeError(\"Cannot call a class as a function\");\n    }\n}\n\nvar Recorder = exports.Recorder = (function () {\n    function Recorder(source, cfg) {\n        var _this = this;\n\n        _classCallCheck(this, Recorder);\n\n        this.config = {\n            bufferLen: 4096,\n            numChannels: 2,\n            mimeType: 'audio/wav'\n        };\n        this.recording = false;\n        this.callbacks = {\n            getBuffer: [],\n            exportWAV: []\n        };\n\n        Object.assign(this.config, cfg);\n        this.context = source.context;\n        this.node = (this.context.createScriptProcessor || this.context.createJavaScriptNode).call(this.context, this.config.bufferLen, this.config.numChannels, this.config.numChannels);\n\n        this.node.onaudioprocess = function (e) {\n            if (!_this.recording) return;\n\n            var buffer = [];\n            for (var channel = 0; channel < _this.config.numChannels; channel++) {\n                buffer.push(e.inputBuffer.getChannelData(channel));\n            }\n            _this.worker.postMessage({\n                command: 'record',\n                buffer: buffer\n            });\n        };\n\n        source.connect(this.node);\n        this.node.connect(this.context.destination); //this should not be necessary\n\n        var self = {};\n        this.worker = new _inlineWorker2.default(function () {\n            var recLength = 0,\n                recBuffers = [],\n                sampleRate = undefined,\n                numChannels = undefined;\n\n            self.onmessage = function (e) {\n                switch (e.data.command) {\n                    case 'init':\n                        init(e.data.config);\n                        break;\n                    case 'record':\n                        record(e.data.buffer);\n                        break;\n                    case 'exportWAV':\n                        exportWAV(e.data.type);\n                        break;\n                    case 'getBuffer':\n                        getBuffer();\n                        break;\n                    case 'clear':\n                        clear();\n                        break;\n                }\n            };\n\n            function init(config) {\n                sampleRate = config.sampleRate;\n                numChannels = config.numChannels;\n                initBuffers();\n            }\n\n            function record(inputBuffer) {\n                for (var channel = 0; channel < numChannels; channel++) {\n                    recBuffers[channel].push(inputBuffer[channel]);\n                }\n                recLength += inputBuffer[0].length;\n            }\n\n            function exportWAV(type) {\n                var buffers = [];\n                for (var channel = 0; channel < numChannels; channel++) {\n                    buffers.push(mergeBuffers(recBuffers[channel], recLength));\n                }\n                var interleaved = undefined;\n                if (numChannels === 2) {\n                    interleaved = interleave(buffers[0], buffers[1]);\n                } else {\n                    interleaved = buffers[0];\n                }\n                var dataview = encodeWAV(interleaved);\n                var audioBlob = new Blob([dataview], { type: type });\n\n                self.postMessage({ command: 'exportWAV', data: audioBlob });\n            }\n\n            function getBuffer() {\n                var buffers = [];\n                for (var channel = 0; channel < numChannels; channel++) {\n                    buffers.push(mergeBuffers(recBuffers[channel], recLength));\n                }\n                self.postMessage({ command: 'getBuffer', data: buffers });\n            }\n\n            function clear() {\n                recLength = 0;\n                recBuffers = [];\n                initBuffers();\n            }\n\n            function initBuffers() {\n                for (var channel = 0; channel < numChannels; channel++) {\n                    recBuffers[channel] = [];\n                }\n            }\n\n            function mergeBuffers(recBuffers, recLength) {\n                var result = new Float32Array(recLength);\n                var offset = 0;\n                for (var i = 0; i < recBuffers.length; i++) {\n                    result.set(recBuffers[i], offset);\n                    offset += recBuffers[i].length;\n                }\n                return result;\n            }\n\n            function interleave(inputL, inputR) {\n                var length = inputL.length + inputR.length;\n                var result = new Float32Array(length);\n\n                var index = 0,\n                    inputIndex = 0;\n\n                while (index < length) {\n                    result[index++] = inputL[inputIndex];\n                    result[index++] = inputR[inputIndex];\n                    inputIndex++;\n                }\n                return result;\n            }\n\n            function floatTo16BitPCM(output, offset, input) {\n                for (var i = 0; i < input.length; i++, offset += 2) {\n                    var s = Math.max(-1, Math.min(1, input[i]));\n                    output.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);\n                }\n            }\n\n            function writeString(view, offset, string) {\n                for (var i = 0; i < string.length; i++) {\n                    view.setUint8(offset + i, string.charCodeAt(i));\n                }\n            }\n\n            function encodeWAV(samples) {\n                var buffer = new ArrayBuffer(44 + samples.length * 2);\n                var view = new DataView(buffer);\n\n                /* RIFF identifier */\n                writeString(view, 0, 'RIFF');\n                /* RIFF chunk length */\n                view.setUint32(4, 36 + samples.length * 2, true);\n                /* RIFF type */\n                writeString(view, 8, 'WAVE');\n                /* format chunk identifier */\n                writeString(view, 12, 'fmt ');\n                /* format chunk length */\n                view.setUint32(16, 16, true);\n                /* sample format (raw) */\n                view.setUint16(20, 1, true);\n                /* channel count */\n                view.setUint16(22, numChannels, true);\n                /* sample rate */\n                view.setUint32(24, sampleRate, true);\n                /* byte rate (sample rate * block align) */\n                view.setUint32(28, sampleRate * 4, true);\n                /* block align (channel count * bytes per sample) */\n                view.setUint16(32, numChannels * 2, true);\n                /* bits per sample */\n                view.setUint16(34, 16, true);\n                /* data chunk identifier */\n                writeString(view, 36, 'data');\n                /* data chunk length */\n                view.setUint32(40, samples.length * 2, true);\n\n                floatTo16BitPCM(view, 44, samples);\n\n                return view;\n            }\n        }, self);\n\n        this.worker.postMessage({\n            command: 'init',\n            config: {\n                sampleRate: this.context.sampleRate,\n                numChannels: this.config.numChannels\n            }\n        });\n\n        this.worker.onmessage = function (e) {\n            var cb = _this.callbacks[e.data.command].pop();\n            if (typeof cb == 'function') {\n                cb(e.data.data);\n            }\n        };\n    }\n\n    _createClass(Recorder, [{\n        key: 'record',\n        value: function record() {\n            this.recording = true;\n        }\n    }, {\n        key: 'stop',\n        value: function stop() {\n            this.recording = false;\n        }\n    }, {\n        key: 'clear',\n        value: function clear() {\n            this.worker.postMessage({ command: 'clear' });\n        }\n    }, {\n        key: 'getBuffer',\n        value: function getBuffer(cb) {\n            cb = cb || this.config.callback;\n            if (!cb) throw new Error('Callback not set');\n\n            this.callbacks.getBuffer.push(cb);\n\n            this.worker.postMessage({ command: 'getBuffer' });\n        }\n    }, {\n        key: 'exportWAV',\n        value: function exportWAV(cb, mimeType) {\n            mimeType = mimeType || this.config.mimeType;\n            cb = cb || this.config.callback;\n            if (!cb) throw new Error('Callback not set');\n\n            this.callbacks.exportWAV.push(cb);\n\n            this.worker.postMessage({\n                command: 'exportWAV',\n                type: mimeType\n            });\n        }\n    }], [{\n        key: 'forceDownload',\n        value: function forceDownload(blob, filename) {\n            var url = (window.URL || window.webkitURL).createObjectURL(blob);\n            var link = window.document.createElement('a');\n            link.href = url;\n            link.download = filename || 'output.wav';\n            var click = document.createEvent(\"Event\");\n            click.initEvent(\"click\", true, true);\n            link.dispatchEvent(click);\n        }\n    }]);\n\n    return Recorder;\n})();\n\nexports.default = Recorder;\n\n},{\"inline-worker\":3}],3:[function(require,module,exports){\n\"use strict\";\n\nmodule.exports = require(\"./inline-worker\");\n},{\"./inline-worker\":4}],4:[function(require,module,exports){\n(function (global){\n\"use strict\";\n\nvar _createClass = (function () { function defineProperties(target, props) { for (var key in props) { var prop = props[key]; prop.configurable = true; if (prop.value) prop.writable = true; } Object.defineProperties(target, props); } return function (Constructor, protoProps, staticProps) { if (protoProps) defineProperties(Constructor.prototype, protoProps); if (staticProps) defineProperties(Constructor, staticProps); return Constructor; }; })();\n\nvar _classCallCheck = function (instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError(\"Cannot call a class as a function\"); } };\n\nvar WORKER_ENABLED = !!(global === global.window && global.URL && global.Blob && global.Worker);\n\nvar InlineWorker = (function () {\n  function InlineWorker(func, self) {\n    var _this = this;\n\n    _classCallCheck(this, InlineWorker);\n\n    if (WORKER_ENABLED) {\n      var functionBody = func.toString().trim().match(/^function\\s*\\w*\\s*\\([\\w\\s,]*\\)\\s*{([\\w\\W]*?)}$/)[1];\n      var url = global.URL.createObjectURL(new global.Blob([functionBody], { type: \"text/javascript\" }));\n\n      return new global.Worker(url);\n    }\n\n    this.self = self;\n    this.self.postMessage = function (data) {\n      setTimeout(function () {\n        _this.onmessage({ data: data });\n      }, 0);\n    };\n\n    setTimeout(function () {\n      func.call(self);\n    }, 0);\n  }\n\n  _createClass(InlineWorker, {\n    postMessage: {\n      value: function postMessage(data) {\n        var _this = this;\n\n        setTimeout(function () {\n          _this.self.onmessage({ data: data });\n        }, 0);\n      }\n    }\n  });\n\n  return InlineWorker;\n})();\n\nmodule.exports = InlineWorker;\n}).call(this,typeof global !== \"undefined\" ? global : typeof self !== \"undefined\" ? self : typeof window !== \"undefined\" ? window : {})\n},{}]},{},[1])(1)\n});      \n  </script>\n</body>\n</html>","x":1713.9998626708984,"y":1607.3501739501953,"wires":[["4519713b.6c3b08"]]},{"id":"4519713b.6c3b08","type":"function","z":"22206cc.ed21b14","name":"Set Headers","func":"msg.headers = {\n    'Access-Control-Allow-Origin' : '*',\n    'Access-Control-Allow-Methods' : 'GET, POST, OPTIONS, PUT, PATCH, DELETE',\n    'Access-Control-Allow-Headers' : 'X-Requested-With,content-type',\n    'Access-Control-Allow-Credentials' : 'true'\n}\nreturn msg;","outputs":1,"noerr":0,"x":1884.166488647461,"y":1607.0167999267578,"wires":[["b6e5d2aa.c9018"]]},{"id":"b6e5d2aa.c9018","type":"http response","z":"22206cc.ed21b14","name":"","x":2065.9998626708984,"y":1608.6834259033203,"wires":[]},{"id":"cb9e86d4.ca192","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"payload","x":324.99993896484375,"y":1218.0166473388672,"wires":[]},{"id":"f8ccb270.41f16","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"true","x":1211.6002502441406,"y":1384.0166244506836,"wires":[]},{"id":"c75143c2.d705","type":"function","z":"22206cc.ed21b14","name":"Stringify","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1083.9000396728516,"y":1602.216812133789,"wires":[["4e98ddfb.a5b1cc"]]},{"id":"377fee5.2080592","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"payload.data","x":1215.899917602539,"y":1653.8168487548828,"wires":[]},{"id":"4e98ddfb.a5b1cc","type":"json","z":"22206cc.ed21b14","name":"Json","x":988.6998443603516,"y":1653.6168365478516,"wires":[["377fee5.2080592","d5f18b5a.9b9a98"]]},{"id":"d5f18b5a.9b9a98","type":"function","z":"22206cc.ed21b14","name":"Convert to base64 string","func":"msg.payload = new Buffer(msg.payload.data).toString(\"base64\");\nreturn msg;","outputs":1,"noerr":0,"x":910.7000579833984,"y":1707.6168365478516,"wires":[["a714128a.95e72"]]},{"id":"878a78fe.efe0e","type":"inject","z":"22206cc.ed21b14","name":"ogg - long speech","topic":"","payload":"T2dnUwACAAAAAAAAAADS5lzKAAAAACtqIsoBHgF2b3JiaXMAAAAAAYA+AAAAAAAAgLsAAAAAAACp AU9nZ1MAAAAAAAAAAAAA0uZcygEAAAAzC/4WDkD////////////////FA3ZvcmJpcw0AAABMYXZm NTcuNDguMTAxAQAAAB8AAABlbmNvZGVyPUxhdmM1Ny41NC4xMDEgbGlidm9yYmlzAQV2b3JiaXMi QkNWAQBAAAAYQhAqBa1jjjrIFSGMGaKgQsopxx1C0CGjJEOIOsY1xxhjR7lkikLJgdCQVQAAQAAA pBxXUHJJLeecc6MYV8xx6CDnnHPlIGfMcQkl55xzjjnnknKOMeecc6MYVw5yKS3nnHOBFEeKcacY 55xzpBxHinGoGOecc20xt5JyzjnnnHPmIIdScq4155xzpBhnDnILJeecc8YgZ8xx6yDnnHOMNbfU cs4555xzzjnnnHPOOeecc4wx55xzzjnnnHNuMecWc64555xzzjnnHHPOOeeccyA0ZBUAkAAAoKEo iuIoDhAasgoAyAAAEEBxFEeRFEuxHMvRJA0IDVkFAAABAAgAAKBIhqRIiqVYjmZpniZ6oiiaoiqr smnKsizLsuu6LhAasgoASAAAUFEUxXAUBwgNWQUAZAAACGAoiqM4juRYkqVZngeEhqwCAIAAAAQA AFAMR7EUTfEkz/I8z/M8z/M8z/M8z/M8z/M8z/M8DQgNWQUAIAAAAIIoZBgDQkNWAQBAAAAIIRoZ Q51SElwKFkIcEUMdQs5DqaWD4CmFJWPSU6xBCCF87z333nvvgdCQVQAAEAAAYRQ4iIHHJAghhGIU J0RxpiAIIYTlJFjKeegkCN2DEEK4nHvLuffeeyA0ZBUAAAgAwCCEEEIIIYQQQggppJRSSCmmmGKK Kcccc8wxxyCDDDLooJNOOsmkkk46yiSjjlJrKbUUU0yx5RZjrbXWnHOvQSljjDHGGGOMMcYYY4wx xhgjCA1ZBQCAAAAQBhlkkEEIIYQUUkgppphyzDHHHANCQ1YBAIAAAAIAAAAcRVIkR3IkR5IkyZIs SZM8y7M8y7M8TdRETRVV1VVt1/ZtX/Zt39Vl3/Zl29VlXZZl3bVtXdZdXdd1Xdd1Xdd1Xdd1Xdd1 XdeB0JBVAIAEAICO5DiO5DiO5EiOpEgKEBqyCgCQAQAQAICjOIrjSI7kWI4lWZImaZZneZaneZqo iR4QGrIKAAAEABAAAAAAAICiKIqjOI4kWZamaZ6neqIomqqqiqapqqpqmqZpmqZpmqZpmqZpmqZp mqZpmqZpmqZpmqZpmqZpmqZpAqEhqwAACQAAHcdxHEdxHMdxJEeSJCA0ZBUAIAMAIAAAQ1EcRXIs x5I0S7M8y9NEz/RcUTZ1U1dtIDRkFQAACAAgAAAAAAAAx3M8x3M8yZM8y3M8x5M8SdM0TdM0TdM0 TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TQNCQ1YCAGQAABCTkEpOsVdGKcYktF4q pBST1HuomGJMOu2pQgYpB7mHSiGloNPeMqWQUgx7p5hCyBjqoYOQMYWw19pzz733HggNWREARAEA AMYgxhBjyDEmJYMSMcckZFIi55yUTkompaRWWsykhJhKi5FzTkonJZNSWgupZZJKayWmAgAAAhwA AAIshEJDVgQAUQAAiDFIKaQUUkoxp5hDSinHlGNIKeWcck45x5h0ECrnGHQOSqSUco45p5xzEjIH lXMOQiadAACAAAcAgAALodCQFQFAnAAAgJBzijEIEWMQQgkphVBSqpyT0kFJqYOSUkmpxZJSjJVz UjoJKXUSUiopxVhSii2kVGNpLdfSUo0txpxbjL2GlGItqdVaWqu5xVhzizX3yDlKnZTWOimtpdZq Ta3V2klpLaTWYmktxtZizSnGnDMprYWWYiupxdhiyzW1mHNpLdcUY88pxp5rrLnHnIMwrdWcWss5 xZh7zLHnmHMPknOUOimtdVJaS63VmlqrNZPSWmmtxpBaiy3GnFuLMWdSWiypxVhaijHFmHOLLdfQ Wq4pxpxTiznHWoOSsfZeWqs5xZh7iq3nmHMwNseeO0q5ltZ6Lq31XnMuQtbci2gt59RqDyrGnnPO wdjcgxCt5Zxq7D3F2HvuORjbc/Ct1uBbzUXInIPQufimezBG1dqDzLUImXMQOugidPDJeJRqLq3l XFrrPdYafM05CNFa7inG3lOLvdeem7C9ByFayz3F2IOKMfiaczA652JUrcHHnIOQtRahey9K5yCU qrUHmWtQMtcidPDF6KCLLwAAYMABACDAhDJQaMiKACBOAIBByDmlGIRKKQihhJRCKClVjEnImIOS MSellFJaCCW1ijEImWNSMsekhBJaKiW0EkppqZTSWiiltZZajCm1FkMpqYVSWiultJZaqjG1VmPE mJTMOSmZY1JKKa2VUlqrHJOSMSipg5BKKSnFUlKLlXNSMuiodBBKKqnEVFJpraTSUimlxZJSbCnF VFuLtYZSWiypxFZSajG1VFuLMdeIMSkZc1Iy56SUUlIrpbSWOSelg45K5qCkklJrpaQUM+akdA5K yiCjUlKKLaUSUyiltZJSbKWk1lqMtabUWi0ltVZSarGUEluLMdcWS02dlNZKKjGGUlprMeaaWosx lBJbKSnGkkpsrcWaW2w5hlJaLKnEVkpqsdWWY2ux5tRSjSm1mltsucaUU4+19pxaqzW1VGNrseZY W2+11pw7Ka2FUlorJcWYWouxxVhzKCW2klJspaQYW2y5thZjD6G0WEpqsaQSY2sx5hhbjqm1Wlts uabUYq219hxbbj2lFmuLsebSUo01195jTTkVAAAw4AAAEGBCGSg0ZCUAEAUAABjDGGMQGqWcc05K g5RzzknJnIMQQkqZcxBCSClzTkJKLWXOQUiptVBKSq3FFkpJqbUWCwAAKHAAAAiwQVNicYBCQ1YC AFEAAIgxSjEGoTFGKecgNMYoxRiESinGnJNQKcWYc1Ayx5yDUErmnHMQSgkhlFJKSiGEUkpJqQAA gAIHAIAAGzQlFgcoNGRFABAFAAAYY5wzziEKnaXOUiSpo9ZRayilGkuMncZWe+u50xp7bbk3lEqN qdaOa8u51d5pTT23HAsAADtwAAA7sBAKDVkJAOQBABDGKMWYc84ZhRhzzjnnDFKMOeecc4ox55yD EELFmHPOQQghc845CKGEkjnnHIQQSuicg1BKKaV0zkEIoZRSOucghFJKKZ1zEEoppZQCAIAKHAAA AmwU2ZxgJKjQkJUAQB4AAGAMQs5Jaa1hzDkILdXYMMYclJRii5yDkFKLuUbMQUgpxqA7KCm1GGzw nYSUWos5B5NSizXn3oNIqbWag8491VZzz733nGKsNefecy8AAHfBAQDswEaRzQlGggoNWQkA5AEA EAgpxZhzzhmlGHPMOeeMUowx5pxzijHGnHPOQcUYY845ByFjzDnnIISQMeaccxBC6JxzDkIIIXTO OQchhBA656CDEEIInXMQQgghhAIAgAocAAACbBTZnGAkqNCQlQBAOAAAACGEEEIIIYQQQgghhBBC CCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQggh hBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBC6JxzzjnnnHPO Oeecc84555xzzjknAMi3wgHA/8HGGVaSzgpHgwsNWQkAhAMAAApBKKViEEopJZJOOimdk1BKKZGD UkrppJRSSgmllFJKCKWUUkoIHZRSQimllFJKKaWUUkoppZRSOimllFJKKaWUyjkppZNSSimlRM5J KSGUUkoppYRSSimllFJKKaWUUkoppZRSSimlhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQggh hBBCCCGEAgC4GxwAIBJsnGEl6axwNLjQkJUAQEgAAKAUc45KCCmUkFKomKKOQikppFJKChFjzknq HIVQUiipg8o5CKWklEIqIXXOQQclhZBSCSGVjjroKJRQUiollNI5KKWEFEpKKZWQQkipdJRSKCWV lEIqIZVSSkgllRBKCp2kVEoKqaRUUgiddJBCJyWkkkoKqZOUUiolpZRKSiV0UkIqKaUQQkqplBBK SCmlTlJJqaQUQighhZRSSiWlkkpKIZVUQgmlpJRSKKGkVFJKKaWSUikAAODAAQAgwAg6yaiyCBtN uPAAFBqyEgAgAwBAlHTWaadJIggxRZknDSnGILWkLMMQU5KJ8RRjjDkoRkMOMeSUGBdKCKGDYjwm lUPKUFG5t9Q5BcUWY3zvsRcBAAAIAgAEhAQAGCAomAEABgcIIwcCHQEEDm0AgIEImQkMCqHBQSYA PEBESAUAiQmK0oUuCCGCdBFk8cCFEzeeuOGEDm0QAAAAAAAQAPABAJBQABER0cxVWFxgZGhscHR4 fICEBAAAAAAACAB8AAAkIkBERDRzFRYXGBkaGxwdHh8gIQEAAAAAAAAAAEBAQAAAAAAAIAAAAEBA T2dnUwAAAD4AAAAAAADS5lzKAgAAAPHIW1IoMF1RTG91gISLTlxek4WOXGJnYl2QfX99fX6LTmFk aWddjIV/d241YgSjchNaVM0g8Dux/bTKGgfH4d8In6pJQUpFHx+j3339jfHv5/Gv/zHiAv4j/HcX AHoY+umIyYQDXq0w5pgASyQOZ13dG9KXB4a0O/LqqbIV8hXsBCdylIUSrqy4CZeJ4slzRoQst8Jw OuPFRDOgVGAEv0wJ0QV/7jyzjS3PlldN6AxMR1vi59Pi9bvPAL73eXIfTAJAdunkbAo4oHndBMjt tdzy6LiseCoRqU7isgxc8q4d+6LWqAwkG2VxXLFppr/VJvLUo9IKIZf948MqthlsRpXUC6XK8wQk 51JDAl7Y+eKIcQIL5KxyYpQOArwG7ah0yvdW3NmqAElHtNmGIdXA7KujPvnEGj6ReXun6OFSAHnP V8NF7ehqq63RecAqXtlcgjrX3ZZLoAF+yHlu+WHKi4tx8AGbAMUEc/L4UK2QcWUwcv1FutnPJj08 UOhAtFE8BBnZ82AXoFvbPzdnddl/rtWjP6uP3+L6ZeiOur8LFSYbSL9AN1jpVTUggIZYytlN/dyu wgjGUx0Z1wrHiZBs+0brnr4mHydeCNocdmN8DkqCl3fYTHpYKS8tUE+XN/3/SbW7bnl0z710nuSB 9xjJsInwUz4mH3HlsMPVpNRF7O4y+px5xBfaiPKzh7lG6FxwxDgt/bkLgaGTTJ4j5icq8FJwzv2d eimMNEg+FnbIczObFgWwz+cQrtLzMQA+OCoP2yhWA4vhvM+3HBbUqhFq8Q45n4LQw2pZuH3K/CyI sqLNyXmtk6aX3jDTADO4XxDUkY7/pfuNmwhitMLhWJH9xzMu6Jg6AQir9gXbdyr+mmIvU5eeP+WX ToGlKSqWYXdsxqLFRezVpwmaX4bb6WNeexMjWy+8l22LSAMcAP7YSrd4AwBS+2GOWgwCmkm7VJ2/ Stz67Giqy45sBAlx3BWcZSL/yq/tb+v+Qd1DUKsvSkc+23gz/0zvVz/RdMGTwwgjgHyjPGz5DHhw vV6/PFHBpAPh9t6vreFmW97JOPTOrdhg9SztTsGM77gqkT85ytvVoB+iXldWoDVZ+rSlyycLAHY6 2/RAYjWQu9FuZhMAcAG0C2d7gQY7leZPK/GHE+q9KKrvq+94MHJnDGQsuo8BNlWaruXRqrPJoWjr K5jWQA+cZKEqqQpCCrZL/HoH+83be550pjYE5tQuW0uoT9sASaeQjw4x2h3UWmsoa+6mmru2sdgK qnBZzc+uowlBPvbDJhWvhfjvqvrJNgBcNUPD+ymRjAQI0MMAi8LYJK04da/D1VVvPoindb+7/XSi ae19IGSl8dp0sO5t180NMS+s3PwbilOZr6KFx+5zow5QNfbW6+30Kacp8QB0O72k+6MvyAZoaJ6A zLdSLG4Nfue7ti4yjQVGc6X/nD0PqdNQoNErOD3Z7CxSU9Y9t9tJGE8Pz/kAqeZGyXNLp4sDEG91 ngc9s/5yTU2BbpIcy3KwkGY/brsBAGw9tQH3+1bfgN1hS2hcD8j04fyhw2aeMKQj5ZHATYzckfLF o+fCKRaBNwvfqXN1a9um7BYGcZEEIz8LY2UQMVPUq0lGFIY2SCnLqK0aEO1xaFxP5j52JO9cu7Z0 BwC6uhMSiDAM8WJuNPOQLPs2wAVGtLOdXQCghbCg39b7z8soOEy3ksvNi4OL7HNwZ6L2GQ+Fvc9C KJxHvjD4+Lfh0lgGeTjhQHq3CR3W8tsT2v7jPkYCqUADBysNBeHi6emnk+HXDZWtg6b9kywacnMX NtUbQpc3XvTwCl86UoNAWLbE85WoRAz+okdPt9S9N/1QKwC++gsapCMAwrtxwL8k6NKtdAAg2SyW zEuqoMZi28WD2a9gVveLRx+QvgFyHgMJ9Xy/1+nrewWW8zv657VLjAFa19lHOfKYt0rX2AWgBhMy 9LM+Oij55Kqbzc/ud1E3Gk4hsQRge+f3meox/mceRlfi6l7XtPS6mHPG01/Lv6PB9jD7jZMAlqpr Fc2mo4DEbrZFqQSd+UoAYIE9HABDg3lJY5i/Ov/k41oYbifE7qSae+0IBgLzSoZkdsPyE4h/LGyX VKIzdY2itR2Of6n4Y3APXdRR5HHVzXi4vlFIw9KepfKP1dGQcjs5534Kc58eW2fvFLnoffa2+yYj 5ajF0hYxOWoxdQ54/mc/jT5/uvgR3/wcAFy1Ixu1fU8lLABICw/pBEr4msOJznrbu6EIqeb+5XQu GYw2Zcj2gZMgEo7BSV2Fn13bDR2lIFAYjC6fjv2duqoE1nwvV99PNa/idVnXuxrwvPA7ysp3UP5W tQsAVCv6ZqymV+RlEmCwRxM0HwCA4l+1Kzv+9vUGZAzcWIHHL9u07r9Mv49XriJWoxrr4E5Yx/// Z/KIIAAAYAAe5STTr4O1tRAEveD8+O6BCOpshO7n0rTPzEQTKfPz87I6kQNEq+MU2fuvK4MBOGh/ tDYDeAdofsDC3/hl76u79SsSQQrmdhLi2HHdM/v2CeadE1PYScBRkWo8KEUbmihyGtM2l07u1M6X n5oCAAB8fyqIQUOIzWxjC9r/DhkpWO9sUVLv6XBt5hYBPL+xKH4vLDiOLd2WAGkx1nZX8DXxp+PY vtBlWTWmw4e99z/P5vbr/f7b/8WRxdh3fUpHw4tm0JQGI6N4e3xNSTGdvV/S09SMvzEkjeZ2jnVW NN5x6sEHGDP5VfxQTz8P8gB0wWMbrOZL34QFcBPY6zI8cL79y0/ne4Isc/pesyY83SR2282beNfo +HbEiST2+nKwn7n3SWftXirZbLPTHxkHZ0+5xm3/nqJGUtU7S5AYWMbZNCR2PVQ0fMwDAAA6u7uM OkmrhfSO97F8J02fVlppLTvmFRy+4Fgndtoh0Nz3e9vDk0tkrwyWk4xpUq9PA48dPxbNIEtCV3KU 0kAuDMJJNrxeJx5x9Tm45XLvFb/rtqPgUIcuu9MXOvoQTndR8t0ETkrDCWurtGlkqF5nvChXK8zt p9mFfQWwdDGAJFGLWlZzpokj79y5J8a4CQB+e7u0ALBAYtdI91fmh5+u7b1ayosAqKByvZ3O+I74 40wshyrzKIvdRRPX5z1xLGF7DK1x4lJA79/+TMdY9Eadq6jsi7+vjojc2+L9x2DPBrJNSqA1m5DV by0chY7sQIBT1YF0qawmXRkTAPDurkol52+mqLXtuRk5Gu08AP56u++JGJ82CO8a13x+wHGQmsWq t7wIdHyFvCq/1++2ve02h8+HsvfRaeOJK9X7+jW+nA6mLZQMLPQDr6phgw19daDYTPRMyaCTQNNz iGjE05CucLzxgoQlPWE1oPKeYOt7Yu0IniOfdxzI2ASKcrO73oN8Fg7g2iVvwRjzVgr+mrutVEx+ LbDiPXzQa9IeBC2eol3KCOCtELUGr1e/9a8Yj8Lfv91m2gzatgPZzq3m2Dr7vbiWdtCRjqY2AZAu m4nqcLFzNNLMbFeRWOkx1rQFkwRb5OcP7qWB5RYnypvQS0GFQ4rPLQCi5jAfitprlruz/8fjfZol pBEAAH7bu1JQ9L5AdI8dPrvtTK+YYjRLeUkFLz9dof18rpo3z58+B3/Mo8kQNjfmmcSrwHv6G3E8 edSwezLLWtKGLauVi1b2ycOGHrfd8cXV8HTgWR6tEXix05W96liwDRTAobTNGbcrYwmPe+Ei/IM2 Qz7balUayN9+nXevXWoBXnu71ADVH6Tz9tgwhyem2r7J1op2qQKAL9LVp3myGDsuvpzq3H42OQe2 3uooy+S4bDNbxh6qGdKGsJfwB/1V6SNr1HEuzOALBU/gSUedrXtffW383T8PQKm8Ij+NfCM5tDzS 7s4xYoqMQm8AsreNNTcrTLG6ud+17tk2dSkANou7d0IzeEHSs8we2zKnU5tldgDacm8V0CUNkUdf 5Uujg9rQR1zX5ivM/tZsNkmV3huM/uR0fwwNRtfmJ/bLVymD+e7E/heO20qa1hn+rr2t82KDfqxL xLWOMlpsapTQ7j2e3a2VM6B9HGN5jM/TkvZzMnSvmc+jALC0s7ryWMATb3q8G3u47W4CAGS9o4Ea X6uRkIAWC8QJLGLUzP+ly4vjqgDWwxFN3u5It+17OciFowAlWVvv6bsfb7/NcvXryEsacRIXZSgl uMXHbj33PYSxO0DiZFMAAHy5Vk9l3205mTgFBjsy0QfaaZMA+S/xy2GtySkLQEJXHV9nmx+/3W0C MpoJH/Znlp/2dS/OXYtAS3EB2UxXbr30xYc7/tw+aSlcAgAAgOrqaqyc0b1teuboAwCsidSBbgFc NezKinplNCwJsFC5Sj5QbQCEE+dwS+m/xd7riYhmMXSyLaYfPtr9s/fgX3+tULF0q1Xb5p+vn9/6 epK0bllEAQCghsrXW3j1zYmtGSvZto2pJ1IhVnT/1q3DgCTKE+e2xLkBdLPcJOJ+V7sAfsHCRgt2 wZsgkM9Ovki37D7m3T7BKNOaE0a8/bazSU164FQRqWxtP9qdpixG73yftjah0Gy2H6avr1K/GJ+T wiGNZY23UiYCdz7ziAcOAACC49D1leo+7sf5f/c9RwAAdDUb6m7DdwAcngSQTpDI01q6NQ8uJyaf BQTI04EM/k58UdsWQY00NMSRs8v3B27vD/ffE7xeGvmJ92FGpZGS6M1gltVBYDzdWmObE67td5c+ j3t7KxT3CBCkjO3trYqRUfYGXZgBAFw5tt55NgDaB2rsgU5+VkLzfPg+cc2EjVPHRWpcSn0STqdR FREs2zc+pxOTD5fM96WJVwMWj/3hx+D9Uyzz41cZt++/ra0eNtBkj5Kb1x/dx6521AC23hv5B18u AlpKIwhou4FsPzJ+tSP9dhOgbRtXkq74wtfxcy+PtlL0kRrt+n+/NZdfPBwuTbUKbXJzrLPOWzQ+ TqPDbeZWFqmDvchfAlJwoUThC+ZBo+A5o+H3Gml5ouXEVHSjzSx2FMPFWDT9tiMxBmzq3nOvHi64 UoSJSis5CeMK/PSp/3d6gwz581iq4y0bg0QAvhnjDmh/pZGlmt2kLVoQqQqgte5K1h4WGgqduR56 /vu39frHyfXSxUvrQ2vyDEJBaBh6Jl+zXn7NKXtHR30pzyH6nU7USGFi54JKlhMU8j5vLx62rLtT lskTbUw1+k15UeaJ1im5DyqgOdOGl1yvAB4YSUz/4ZvTQQpRV2bDFAef3SAXAN7ZUgIoP3NkO6Ne tCG3egf0ooJ0gQVfsi3/rrm5wKG8T5qmv78vGFHKo+YceVjaMAw/EoStoUlqI31sKu5FVU7NNNjw bNw2SHhQLzL8YdOi6QiYjmH5FdeP8/U9R4xi3ZHa/LE9hu95kW25TaFb/u5yeRudHc69b30vJF/e ngI+KVp7oN04GL3L73IL6j0u2IqPsjN9ff1ifHR0dMj2eFdW7qfTHlUp8Hg9h6pkCrtzrDCsjsKX KGNBntRDcvc6EQhEA0MEPA/0aLyMirMOsQ7JbSX2ZQFAMVswzxfDgHusIkIH44T3cqiyez4+wVwa Yx3+mG25D9bneSd+FAZgos2VinPMY2G4HtuRYZ6vJiL0gv/Y7LDOxKwolctC593uTz/xZe3J0yFr 7nsEIAc06Sj78GnveNlTa55KoJ4v68L3Ygy09TIhSRKwPNToZUNSri0IOQAKyXgOdXJ9TqN3qTm1 ZSIABJ93I5NMydFeZ8zqWpMoGAYmsayNYdfqdIORQ4dNKbxKeGfT8Rhe2zYJIRRyU1EHlq0QFQAE o8OSxuUFWA54E2QIxn7PteKnL/aFAqqWV6sWZ+F/DgxGAuOktazQaBCMGIt48s/r/ovNpHh6CK4f Ahzn8xnXVyUU4zj++ywasZkZ3dg0LIg5LxzZcRxdfx51Df8bz/EEAE9nZ1MAAAB9AAAAAAAA0uZc ygMAAAA1p6k2K1xiYmJeWFxlj0hlZmKQYGCMgIN+fXp+hYCFiIODhYtNYV9jYotjZ46JSmUMM2fs 7X3AchJJC9CW+PwqsH4cu3fLUWW+llZKevTv6ZOuPS+eDLVaqt6oV9Zs3dWD9lMdPgp/xauVSkqr s+TYrv9U9HBbWcZMBMcWM2fkiaoYkrHLNw7r67cJATwz7GUFntQBYJHgTYCEhHUPF9o3nx+Qc+fo 5czs48qx28yDUJWalefRD5Ok+6JmcxMMEldJaNRdZnM5DnYmLezXu1Z0Gg1GQ08zbdL+0m7WdY3R edVQ20NdfV8dnc9dGQAAbDfPyXdHFRhYFCQ9UEIdJy3L2MbuJ+mfkYRePKa9teh8t56wWlplNm6m +4QfJm0sW8GISzxBF9pKWE1I/vlzTp/PU6TbxIJ010SfO+f4k9o973K2WrSYpNvTOiSzdtu5CABs NdTE29nDBIDjOwAo9zgwXpxkxWZoWb9zy61a7W4OfOf5HSP2V2avWpoDw/hr27I+rzuTkmao2qRW 7IOwjqKB+ihRVvXxp6sVNLunx6TwdZVZdYAimXhiZU436e0c8s4TAGw5o8X7hYQHDU09QFqPHzZ5 EUqZ29ZajNkHjXl5wvWy/bbMhFDvaZoqWx8cPBwMd/4cwdP729/V9dtfQTh40axIOMufLl40tmY7 RqTsi57gnBViOO2bGRNUkPLnPQBkvW7VXO/osAMWQLkFHct+euA6ZPPGF7u2AxFvZl+d8NdKj6gW gLtxa+VA37YhYaBLV9JnIHA2zf4923WclPfhG8UbhQc5XRI9cbJiYLmL0+OD42ckODcBfLsFGMxp dQuq/aBxLTBkv2fnFkHre+TgpmMR1BD7Y1091URXbxwlyGo0ZZxsjouuq6llCjqm9/PD/1replgm 6Z3XJunKpMooCLvPTyOV0anXg4vb7iwlvVN3bwBctTZhdL7uhZUAwCIg6UGifPzc0SHgbcz3JnRd lK3RdWN3nFrCZuGOEMOL6Wir8+KbUFvIXMxVhqFLwfvqf3HSC8upZ4tQHEzLHqwyC4xo7s/NHL/N 4n27BSPAq+64XSXVV+wlAdJKSxHA2QzZ23wz6YYBrdxOoN0GwByr8z21Hzp10y//qTgXg2JrnZ+X UsoyrkswFRpjdO6RMZcuX7MOWcoiU1auB7RSf1KrO3waOri97e9WFYbh+jaybnPSclvrgq0AuCuN dfzs0f2EPX3LGKBhgdtzYupRhVi27dTWPLyH8fctlHv+ffv4536ZeHI08wIAXDNfr6HcawM6AFj0 //PTNjS/rpEYtaYHnVh/LbWNDsPbYZWSfwenqp3I3T27CC+AjPOmesNldIrmRwFAob5axCXc7kH/ 4hYADLXh8AgswBBsQ/dgd3epXHq1P1ysPv//UtwZExZnF392l2WxfGZ++P/AyMjIxRM0CPBAllsn Lw+2vjy/9r/Pw+nqT08F6LibMa//75if8FTJ7n97C8YqKDMIABj9k98PdupaBQAMw95IvtiaEhNs nXpgFgDZfHdf7m4dODiysDTS2ozKqjEy/HPrpdb29aUJveFCaZlGu78ut17cZwQjf6KoAADwWpUo jyXpjYSlfQ+bhYyjch2pb2OBp4uV9bQ5lADOxZPxNDtNlgcEw/5YcKhEAJayWuImYMl9Hh9d/LUj 7dImTeSSJYZ3WZE4WkvphUc/Hhp/zvUn++9Z04++1wxVgejySXpPtN5z+7OuMGQ1yr0nQ4XfXffZ FS9gZMZu7/tV6NIWKo6NcpELABKp29wMhkQBk7dgKUDbBwBQaXuhMVZ//7OWLy4ONfPiaiW8/VKo 5kTitIm7oaUl00OTazg2ZHkwrGOZyW4T2OuKay0ZMQLsgtwTt4rCpSUjbxAIbl7WkdsjeKtyWGF8 qspgCunnZijce+a8KB9AkVd0yKY9IwURKgBLzWZyEPLxfnvs10B/9vGCfzM69jIBAHw7epOW+xgM DCQTFPn90v+6J/Tvl+u3xhbmWPaWdeeL1h1x0khuId6KLlXDYT2542ePkXhu+SwqUsd0FoNR7WMc n9vKfHvGx6m9og+Z8fh2OPeBFCoe2qVOE9dd+bIAAHw5ItL4JVtW3QSWO/B6MIhxzc+218FYU9x5 pk6MOevynhO7uysdXm5iFG+aGI3r3li8jPWSLw8PKMqHOansFM1unCnd50VW1rfjkpTMLK2D1tlU 3RHFh87tjufaF2AlANqK6zRYgtbA9d34GnMYkpLf8OAXQDcwDKW84Cs4wx/eB8EZepA755p82KbZ 7Ig+gnZShx3QptJnuC6Xy67zXdlc29rEg6Y5NIhzm1d2mBeGT8rB37x9rKArUrYJxmnlhTV5kEy0 iFAWEvIkQ4QEfdB+c9ffUI702PDDun5zA9ZUSz5Dtg/pCPAIJ1sAnnpLIwAk6JQbn8K2kbRd04O6 yRzzkmqE7JzI0Xu/PW5Htrj+9WVjEdP4GBR4oRXhLbgUdPM8HKzuVxbgifPEkHRG5nTxo87iW3Ev BnKyoMaoXFdCi33bhZHH2nfrGk0v4GpR2g/xbcs59FHUCXVcsozaLURayB2a8npb5MrNrQaeCnMa mLoTdHVuNPMRJBuWAc3ULlmdH0zM41939AkHk4nOjXWf7khzW6+sZgoqnMfP2ibH3GPIrcYSa6YH 6fle2oUvxfu4+GNsbKxuGbEayPluE5lCOKvFr2RmEj/sVkHGDrBKs7/vn1Cm3NUBhTzDi3P0hSDV 8Hi1DRHvwJR/MLkAAL5aSzkw4XFQ726mZw6xbNgAtLMmHfOCr2G9tvEDjucx/YWywdvUVpMwMQYT IUKg1IrTmdVBodGj9w2pCr0RAkPOFXDV/DW8TPeqQT3PueMVpMKnTGRbGUTqhWhmeVbxSuDA1ZFn WDUjuqFucWX749BfX9m4ZvqJJ2GtovhMEf5622mg6PME9WYf1TRJG2krHu6tBcBXkAvNQy0+VXth 27k3mA0tg+C40ml+Dd1u3O7jU+l8dZ08i0qUaGDydtRvJo8087zgE71Si8u20hvev+5K2E9BZgP9 Q6yOf13aU6sH5tLtXFaTyBEGHPRBnHOESBAs7SFPd10vCdcPXjpDBah7OMC6bjbtCZZhdaCVwTlW ZwnO9QvBa9/a4YhrJ2ud/r5XQmubE/DSCjAZbZftgWGYxxhPee5/ulcor1h4GV4r8ZyHrGwBrg9+ feUpr9dtVb1G73basQBuKN5x2HBsTOFckLmSjjRJJvAJcY8l4HhrPNUqAAB+CuMZ9D1K0H1utpnT DJBdQuseSDKbeYFqaBxSjndH7q7DwJewo+kvxHixJS8prtSYb7/cXhsJKhBpoQSYq/jhvE59EE9g 1HnT34n7zRLHzmnuAS98oCmoog9Dt9kx+BBHU98fXLB8i8SQsNrR/9A5tp3aQ3orcda96eb6HgBe +rIWTM4/SG69mznNnwEsCVojadu2F6gOXx+jo4OTRVVK+KuYS+virX9ahy+2g4IG2kEJy9V7Xgu7 BoQGw6+e/o3PweTbCllu+Yh/0Vs1RIrNC9yI2nCaKTBKd1hDIdKvfE4mMqC6CGhnjpc68ywYlkqB ePWafyqzV/J4JU6F6YL2WfYNfiqDAgT8AMt34zjcZZDkNljjdWrOtg1+MO6FZYrjqu36kh88dXo0 TyeOSbancgssyjwhnd9aWVPx2c2PM8h6a6zB1Fby9UMMpXXUYVfbYsLx7X1nq7fehDy0R+Si3bgX o0zGCvkXDrhtO55sBcipjd56RmumK2EGHqXSvabLBQDeGuNaKy6cCnTgGz/ozASPhhvYYEnTth2J fQ19yUFr8Xu4eUQeK0w/Bn722nCoECjRHho78l/rdHxNqOZmiTMcS+LQXRtm+sq9fRX66j33tmma QR5PDaeXisSkFjw9CGdFlsxKOC1Wbc6veRWH3rdX5mnOEX2CzWKRpBZlVItxnOLQoV0KPqrTIA1A SuR2o19pOpKHGrQBPNB1wAFIlM5LXw9RKbJ8ORInI5lnDlGpPvEblxRQSVgCTPc5wWNdFJfeJwsX C24ACgXl4IZwWfEuOc7JjnBEbNOkLw4u+5/FQev4YWXcyCBNoDwrX+0K1FFZK/V9m9518ldpV/2h qUZsD0eqDJHnN5Fw2acHAJ76MxGICQeJ3fjCAdIEvcICUFcslrYXAdCCqEZHg+ZHFcdX/vgXOavj Sr3biW1CTAKBh2sksD1pl27Wb/mzEBHMe2VP34tkRsFYJBgYgMoaBc3dWZk6cm84AATQFKBTqZU8 oghII3Zqot0Y1Iw4FwAFY54ymvFXWkYFBQEaa3M3OlECnvpTHGzTAQjuxgdbSS7TBwC8zLzkC4Cv oe67x8VF9ea86zTcxcvT8YZvi0xXYq453hzubqulpDPLhLizJ+Kub9bn8vtQqvviZ7nnU0fMBFzT Vw9/siz1zE46Pd00J1daj19+0bdcodzEW9dsSO+eAFhrRwjlVYsbpl2h3mjd5XVfiQDe2isl2OoL ILqbbfONZbrmIwCAWtFTMi8bCicF17l0ITLV3uhprj2T1LcKeLEQ6vCsLrbUlW1mDYb68uE7NsfI ABLHi9qyyCoePSBfhLWwBblhNxMeLl8g+LlXOliG5itNAAkge+u7hLlkewOtNNV0b2HYbcRAGB/b 87WqPLn4S9Y3IgEANqs7UrBNGNjwbjbMmSG5HQQAtEdBa3bJvAjAFxxVC4rtXf30Pgsde2Qdrv/H qEuTEMZCG491MBj+O7lZSvtwNAxRvcgfR30Wbp1benrhvVDAo5i7UAuMwbhj9WfEIvcsQAO/GBlA wYsl9jWDj4D7hnlT9HooQ4QGMLumVvjR2jYNuL1kUbREW9YAAEyx403kgnrtdLAAMlgqsZ242/mh P/G6hnlHfOUlfhuPXGmnsLdRz9NxIsmHdG4x2NriqCj7M0j9V8CoVfNRMLS3Enq52F47/zIeRQEA NMMd4WBeuxgwsN2AeoBJgOWD3Rcf7e8ZXtxG0+StbJ6tla1B+HDQkTjS1iwHgrMID44VXsL6uvoP QSAAAMCDIHweFiYByLNqUCmYhL3w9Q77SR6aDg7GRgAA4lUs3p+2ClzDI4nkawFT73uX5BOovdBb 291POzuGKUHQE9CxdmdM/ZBh4tles718SWnQ49B3tz7GP9/1JUtWW/Q8aDD4DSm27nqo3siZqvb8 sm1KPl3JDeRgIOnqnqmcb08qYwAAbL0jw0NY26t1sLaBOgHkhY6HnBAk3zaadBKNgSXo3P7/Md7+ sDy2MHuNLo1n7UdaySx/J714bvOhQuNQ4SPODzEAu5JP26VFmxZm4jkeeR21CUkFQOFy1w2bHBke /G28DgAAfEEakwb3ZRcJgAVIW6Dax4ffv7LVbuxi+zV7NjrPcdSnedz+WaiTCUPJgGUreelF27O8 2QSUlsa04cPp1vLBO75H9z9lmB3bsXYIwSSpSfx8/W59vq8WEm0Ne3vk1p3fgwFyqpu1Gk69OAIu uo90nICNC6C1YslI7AsO+3Z93PlyC9cPO313ZXQqPhqVqDn714uW5/9d6PZpsDhqCfeLge+fiE/B asVAUQF7BLD6Y7iEjLryNP9FKA2R5MCVOucvh2/8ORsfFz4/hexc73FAAbPrOtXk9laOBHCJF+r7 aVrrTxHeJ94v6O6DXe4ABLHhOGvbCQ8Hzfa5AMIEsO96Ph3t2z43B2O1aOdyNU+twWXL0y922879 fbt18e+lrf/uyos4EgAaSG4aCPIFc/lx7SK851dGv4k0Cd1uD4GZleICJDRQxpRTWrMsGb2+UgAA DMNpHanFwJJOUJ7AFtF3Dg9Na/LFl+9waaMZji/lJNNueWm+86XbB92SeAFcZXl5LO588dnzf3ZS nwe2DA+i2aak09P5GodiPvXTN0I3w7A+jNwRb4ALRugPfhAgS8mNXzh+PhwAADoqPB0y6U0XB1LP tRACYKVYcc7LRoitEKdnk7duTxjZc+CuLw4cSJAQ7apmq3GpPVfHsjYhDuP46P79wVu88jfl8PvP a3cGAbScXdfpZk/ry+UZ5BKrIi378d3d8hfW345aMFluT303EdTuBpt4Kqc5ptr3Cg6p0/1h1Snr nX4UcV+FP66tnl6cl2lIDQBWm7tGUEQfSKb2kSZJbnVXWiudvPQF08MLrf86xt8x1hnc+VDmFRlr 2G5SLrWOanmh1ozUV/+uxA+J4wLz8y4Ro2cRRawAI0PRRtB0kfO+0WMfYGAKqCI1nS/dK/H5VbGw tZ8ND3cxCR5Kr2+sFON/g8x8esadxHTy/Vft3S7+exd7sGNalUzWAFS5I4kyb6fR1gwAPQAWRtfA luMdd3ahi7Tv2c0xj3d+vHvkYPikHTcg3y/4uNcot0QoaPST+ZoOD4rMSgEUSJz5zaZ599fQIUYA JL1hwvPtNgJsASxAnSC7T/2z6E38am9ZmJugMROMo/48OzkSmsOjXlI5rtqPDY7HTXBurW4tOS0d pA9rZ/eitSfDnbc3VrDa6TKegUaQmeKwD7PWpkbTdfufo/9FYTKs+EhdAwBPZ2dTAACAuwAAAAAA ANLmXMoEAAAA5OFqxi5rjIR5f3yFf4xRZGOMT19jY4WBiFBiZGJdX4NoYWFkZYdIWlteYF1dYGdt j4aM/MBpseAQAYAF8HUgW2YBTj9Og973+5M6ehqYefTesjhce07/v7etreU8XAR1NPrLtxn+mnT9 eJPuzQWUztr9J/Gfk/NWsVzUdXFFAACAFKYjatl7azG96/wvso7oe1xu7y6YhQ5fycplkRY6ODQT DUjCkXkPrRGACxRtmXNeaAjXQ4+P82D08vXZyf7p0BIHi0dqOlBjp2a7Vi0tOA7zw1dLaOPGFDOt y9fyoWwTsrSVxUnPslgCVzvmYJmniQQBaM3ovL92pmJLxKVNdryjTN4A8k1IwkHgtrnZHwCCurj7 xUJej7cFH9eX687D/xdPZ96Gex0BAD4YFD2LShd4auKyEEtrVds5LwLw4lAQtN1WHmJgG7Y9TTnB pbLHZuU2+Up4n/Xb1ZlWSnvcJKi2YUlOq+glikOJofHuNVrNKJgPsl5k7g5r+C8TqUk6wJh9dNJn Z8wHiEe49rgdL2OIj3gJ2OZnJUwZtxbWA1qHgHa9Jn2+IvCGcgAAAP6JYwgoqziyhvc+CzQArVVc KS9pCpvb/+TTv2z5XV/z6D6GL03i0wFxlGooGPwh6CkQtEXv2B2w6kvAZWjL5kf9rlV1zynzrCHC GM6e38YDMADpXV2mQAe/i3zhzPh4W6WP38MRHOa2L63YPS7tlSgunzaet7/bVwAeGsMWMMkETe/g T+gANnTNsH4PknaoSvWZ7l+S8TPfvH4in1pE/7dn9OIiroXZhNcW8coatx/UhwIFGLgm9ZRnxPr1 luSWnSMxGJjmR8a5Eo+EoLCNdmu9uBqGamrVArGcaJumW/Kdl39B7a4G9qOedbGfp58awfb1d+vC p2MAfgrDUnqYyUGzN44LvyRdFG0G1gBJ52yPr0MVTmPr6iH2NsJTltm5NpodewgUDCXvoPPEQW1f agV9CFj+mdapxtby202msDehHFTEfBRR+upLtHJb02Ht7c59gx7hw1+CTbfZPaMMYdM+7HDL3cse Ux3+Xg9sNkzd/+UTAJ4qo0gppj4h1UjN242Pwp+QTA8FAA5CkuYy4SUNph+lx7k5x+AJ1jMp3K6S l4NgCnjBT4R5vXD8IuCqA99JsC0VdUU8m1/MnVpfVDHMzO+gYNnI2Zq2CNKSOK3QdMww9kTf62ri Varz9n7U6TEJ8EI2Q5dpiSGbb0YaxN0rQcfviV3LDAD+ChNeJgDQiW/84BMCqcUKLoCiXarqa1gX RsSjcUITdtqmJwlraQ4TCQoq40GYamU8LSL71+KQF+KB1ZJwADBYIcGl21m68XOe/6TGRxiCLhiT uVVxWA2FzHh5ugtGz0JTWsvtfdwdZWj+PMO2oIt9/0Etbcdx6GmW+o1PbHsBNiubVwDAQeZGK72L sG3vA9oD1FjJvKSK0/D4jC58VnmgJHy7tNycS2hq79/pGo/apKtWctBaCix3hf1g1D5zc+bAU6sw h67vAib52bdRVnlxdqnqGOZmW2Hr8V2V5s9n863wQ2YMD11vXXQL8MArE0/KRVPMtzmh76x91TJ4 iNyFZJ7jXqN+9tg5QwB8rwM5W5h7e9qgAwbS5IVJV9U1tF9nTWhCc/pkuuTphtGLjpZPT5OaPKU/ doGoieFz6/vrvvI0bbsy47YALZfv/WG9umAHn+/THK3ked06aARst8OQhf89VawELMBiNQaxB9mC Cd8O/d5JgepKNzPWFT5uNx7665EAs+cwuGU2pKenCe+f/snPmy/3Gy4QHfa+bKRIQviu/1+2j8zD hbddUJGp+PFPVccMyQKO7s7rfGNcFwEAdDl6qr15fSveK6B9vWAAhBPsJpck2n1WncPlyT2gMV+N Xzq/n35bQlHRJse4tBmu+7S3Y0Su9ntYE9XJwyab536TP387eJp6d/BA9skMTf6pyrctXCaWBfDT X+3F/F0xJQAAsmq7bWJCG0h7hbmZA/PXtfSCAOwAtGWlCphHQ6m2521pyeleb+8mD4bxtGUkLSgA Ta4+bblOh4z2qjsaXk0J2aBdOrx5unkXoxkb2ztVWuB8Tc69MqqAhWfptkExZpDFsD05GcDAh7Kd VyVbt1p0dxauULlJos/1gKUci748nT59cewP2ivUfTN7OQBkuaOCC/JrpnHEArR0wEyQvQuxW1dH LZvSHoCNWXe0JXdfvLx7bIoIoA4qYT9wOrHzjtTrEY9bvYR4ckHJunCzzRjrI8wJAJA9izKiLAEA ZDX6ze3Bb3UQADpgoINNEKvbYuzrUPC9cf2m4Vpc9fWnZbSd7PfRF0jNOWhqvy15lrqz1TSKgoBG LzntNJY/m7i+2boOn3rpD7YfzEzJSSt4JyyMdfWhKW40fnmZEwAst53YftrbGbBgd1H0QOr42Ty8 Lv0J26eDUGgQBIOLQ8FIwtMXzi1//sXawcjABfDQIJRXn774fHPnD+sEnSLyfD6f2ebg6tVRQLfP 51YCzHz54x75WBOwD+8fP47s+tpOfwAsv62ClXU/DgAWONIJqND2Vjrlx/z3Jnk3NnFjthsrR6Pt sIwm/PL2qKm67EbjSw9G3Gq3fR4u1GmCYI7pdUvDj/+fhbq/JMHeWMmRxtDqZq63upsxwn0WwvLQ UdT/GIsxAABaaTseAEMGMNTL5je8+pUac4zEFkt+2zQf7x4MJx4+6bBwYKjfwc83u2/HPpO/4dMk iptL5uHqH6Xl4qhF+RUHarEDbNM+ye9RHdcehNy+rY9nl+MRzaKhmT/pHZYI4pROdvC5Q3aNhdf7 OztRTAnTh9AHWREEOLtNuM7iH28mPNZ7FAAAvrp7XDEBUGDMb1vzZwsJQLPGnEjcMNh5IeHPSOdi v7+2Oyc3w88N3VDeVoTwLcRJZ9M2xvSZkNWlExtWYi1Y/mqqQ1VYGg97pRTn85y1AOTb+f3+jFYG NfoV6j2b8YXaVhWHV9r2TtXAmZA+qfNebVaPitX3ZUzn6Xr8FzfKPRcAllq7nejanXMDu9ln0IS9 uR30mu3s0vaCr1j3a/tXNyrZL790UdwsfFHnSs5UhjKMI44IYrDn/PQ4TxuaqV/Ofem/eYoraNCQ SKZOMv32My5+6mVZlhRo/0WJC8dJm/1MX0D6mC9xWxKgQEzlmIMz0V3ggA4Y0dDe0r7S9bXwFRek UQ9e06EhBVy14+bInNq2fjAsJESB/WaxNv3fh4s1mDbG1yZ592yl36mXRyfa7BfSyCgrcpAt+3b8 ORWGJ5n5jigHB4BR88kSecRO7NVy0/GK9I2utwUAbLljy6xehPUAFg/eAQA47fveErfl3KLFam5X afFtY2y/Z7tfyn7fsUpNDfpm4Omd8YNb+YtbR/NvtQoAAMCLxE6OU3V8VRhPlczI4fOS5DZrzVVk akqrR2UwKx/2+GRxBwZsOxqzjb7cEusOAGB5kEwgEFxvKbrzl86RtxZvOsXRQIdibtz25u24jFFI E7S9/qR0vBAeNB5gDr3Vi7mZLj9O1//bDNVSAw4nSCc9xCmH+ua3whQhQBiOh3Uvk919Lk+ragAA dDvamRZfKMQGAGBxkPTAIiZuWk52pnWnLT1zoSw0GZ3n8PJS4tPw+moQJ1+3d/2t/baIYyi6mIcn 0/Di2Vm+8/H8hLSs1YHVNvFfe/IjH5X6KOQagBesXuL83V8H+6ufBAB8NzozGavbTWBBE3IPLPL5 h7ZD+bRv/VJewogDYCpP/ln39eCXS6Epoo7mxjIf2xahv168Pji88bT3F39u/+bXtZUzJlF97b7e 2RdR00e9axY5GHvuPNjMwhJvqwN0PXq5jbzfvQrQwUCCeqCvBJD04r/v5PXpHJig2mbTnhxf3Pvl pdMgiGHShg4539YkPSRNuGPtVMABvB7z683/T9r+enJgSwoAAEA07y0ydfqCG7+OyIMWTiwA8xfV APKK+9ygopmDLHd4H5P73TYIdgBqzMkI0AjDz7Lzzwe/2taL9c2DoRK+LVwrw3CtyPDzcdWYtTTq +Pl+1GqO7DX/iS9I3T2BBJYtWiximsf3dMfP86nBOsoMH/xgelc1oCFxqWOrejyhv1gIe8JMNkJY NS+sMmmZJiRgDas363JpDQMAPCdgw+PE29sjEID9k2AHjgQ8uzr/ZZu5219aqgBi+lK6vaVL0jQe ZFm8by3vF37aPq9bXb+5fbrsgwA8V+Bx8R3PTfznovBF7r0CAABUHqgojkfHzDvPmuEyF/pyEpdw iKGuR3P9ewAkMf/aVruzgIUF5TLUYbl7MEzp062z1jLDCelNwtZY8Hf7nxdf2rHoopWb9BXSDwKO jvVB1plukvifIViYsH1mCsM3Y8wPGZWUFJa3cZ3ZSA2Yt0n4ttOzNK9L/5V3iAYAFMOAsVruLw9r CfWkE7jW/Gk+cCNPP9dQqGnfDBahzbmu7mDyT+vn3yB82wvtgDra7xk7tuLPf/t/jI5xHmmEous5 DzWVnkZHbcFY94RZt3odLwRWU/tJSiqXiOHaPkoAAATF+dIScu5oTPDgOAAgTHDtm4Djppktsa3t VSVWP02Kadvt9qdXjEwJ51beXtqkf56MT2+lYrVxJSy2s5+TVUIpoNVXoDX82Y1bxuHavz/cfAoN Tbc6Vp3UdXH0abv+1Q+9AAAEx8C7HNvcEwla0C5YAD1h2U0Fr2nL4Tz6xZI1qrq3gvTjfHPpv7e+ TowseKDWD3VUYzp7YG08YJb0aTOa9Png5cu3r/ve5EnGS8WxuJBw2HNGNIoSEScBTZV1F9PRoD9V cVwBADIobFNFDtdduGrnnkNeAg5Q2so5LwLwpX7NvV8tWQJdftEu6Y6keOzxdqaWiqNSM0FQOtsF r+vr6y9Mqw/Hw3Xld4yydyKnbevS3nvP+xV1+6GgxInCn/u0C5Xc023SFbgYvxyNSyY6OZadlbcj qq9rliyg8NL8ojBzONU+gZTsVfaXrbheCiw1WzbPsQ9MNYHGMmFl9/j3gW7ryFjQtNwIgu7PmzPz i32ji/vpKAjIi0NlZN5tSnzjdwAIQPwwmAMwYPYot9Pj/TSY90cAAGSzDwRW2rtl64AG8BUngHH6 c07GP+4XT7QRjOs228Purr3fMXSpr0AENLsxzOHFuEXW2IfWs7aTOOtj/FtrhpBoX1OPSLjv+Hfv hd5Yybr4eTy1Quje8gwAAHyzle4j6IxdCvqqAV/SCcDzt9teR1+P+y5jOubQ8u8LB062br5DI+G1 ZiAVmNHlKG3Bub2v6/5qhtDo5OTh+BVSzz2NUtVZ5/1+jninTQ6AwfBW2p2Mr4vdAAB0t6HG+WLD egBMwgKkLRgpgk7Oe988zdSbUI1SDnzyyfZ+eXoYbjeSD/ShwCVwccQJttp2QpNyrArPfbNS76vt uatrIlOaVDALZguu69q5UItcAE1HdPSeDDPyRksAfLWRGPJHWSUSQLR/oSYHLACsqI1N7mqjaBnV 0i0cg8PZ/uvY05Guj7113KisMvWVY9pm7i9j9z7RfjOSEQAAADWDZ/J5k7M22m/dfGbPeNX3O8pn Fm6PWACAYV8p/WlEfDdgmKnARxAXAB2atAWeGD+Jn74c8juBMzcMvdqjhNVycfx73+jKrZj2WJjz NNzMN8vTZu8Xcp/wrcLzBunLVptkUmFiAeFR3N38VqOrXxEtGhK9dc/KV22wtrUEbDnaTIuPMD4E gP5YGEh7QIhV70fbG6l86fe1aLErLXN6DuX2/dPvY0stCmgwVpaMl4O2ZcQlaACjJQ/PU4zDLzoz ZoPG19ZiQ4BQO7nkX+zhAMNYqiv9ZVD3GQIAVLfDDRHX+10CFMsJSHuAfDqmm9+J+yWtGB6nh5rY iPfH85bRsa9hcahZ8sFj8px8ayzoRYRCc9NKXZc0MTzhjuke5tzi4d/L/87GzYk22yCX0rl1GndF OGuZsvKOLDUATMHWvcMJbrEHnMIC+JrA7vadffcXpbePd1lEN834VdinIqM/tffr/hN3GnVoPC+M n38TzCaXhtQlYLpc88ByEr76IvmjZqxCOL8PH+pggn5O7bgHm6trsi2H9ndoh0gA+qFwrdABABTH jzQftNHCgB/AAhxo3kUGwGq/uCT+tV9rSHjJcseSDI3Q6H3Tmbafg6bcQ+LzB80alkw5s1fWacLr 6nH9is1/3bevXX99MqKGKAAAhpcvk7ntMv/muhcKIlfOy/FSqy8UIF6CP6P1j/x5himauNxdsDCt vHL47Hq7DQCsVGzbFUA5b5kG2x3P1AVfCv3pOH0m2LCwyIn4STC4SOaW4V+T3TL//dK8aq3vGm/b hM01miAc/2i8zzS65E+PfHd1qJZMbC7/ri81LP2mzl/M5j51O/6+p3mntsN4EIcT8PA6F9R8ERCK wje1JQ5ZtwiNzmny4jmzsRbxT5IBAD6oXG6ygY0rh18zT6FLQNWuOOflKgD5r8fvzxN7bTRdT20X dvTZD/PsKrFGYzAboQ8aXhglCADPSj3gpXbcI9peEWxa9OBhhfr2L6Nvo5qqDAQwbFj/ezfqGcZe 16U6OGuzoAXksLRXZpQ/kVISWrdkk0rr7oubs9P7D2vBl9++HAyuSvFiVmi8fcCmsFZF/CJeQQFY qRRZeGEVQOrrzYVJPgrplV/r9H3/OijDxFrKcVwPV0ic/7H4aMQVAGD2ZIHNHwvXYX8xmFb9BWlG xgAIvcmDp8hDb9khP7jM3JaQCr6dgiCrUxMz1iDfFG9wlQaaDIVUsjXSxrRl82qlfwEAmI2N54ke 1/p/+v5+8f3p1idPZ2dTAACA+wAAAAAAANLmXMoFAAAA90TjTCdka2Jgi4SEgn15e3x9gn5+gIaD hYSDf4RlZWRiXWVgYV9dioN+e3b8wI83SVoJHAZsB3A9gCz+u3jS00tbO7nxxblN28D4I4O2l+fp cq6clh2bfuSS/eLSZo80GlCqjhCFIMlyLlxf2Hw5vLr/t5Ls569Bi/O4FdUGp5rQE9bWnPsRr22P I+3rcwUAFMN5nUqLBQcLAMoHZMsBTDdPJj7bXdcxaW3C6kgroWXEigt/NA8PpDW3G/3K3oTRSa2R c/0iIABpyfBI7ssf9n7xM3LRfq+POUAFAIBRUVaUhJE/LySVDMt/FTTHGcg43GkuNVP4d6KdGDA8 w8OcRIuERYA0CxCasP3k77XrTkY3CQmDPltUZZh6cmFCYn9X+8rWuN6RuiQAAADjOQgebnTlNizP LFw8yufg6feLO5cCqbF3PdhlswE+PFdZtOxZFhUt4j5YKhL2/42HE0Q55xBOG+0CDw4FAMIEnJh/ de1Jfn9delLGAjEJzDEmv2AszZILVKZs4uSntJbzyjHddmgsnYY2t911WzgcpUpQH6pX5/bSn8M9 Hef2+741akQdQ4BxJZcQGO3VihkBAPrIUwI4+SQCLvVOE117bgOt46GtC3m1EDTs5GfJupy4MN4n BDWZ3c3B0/Wf7RybhkZVqJHBTiPlH22XJ4x9aGpOL6wp+WSpPZy4/6yXRCgmrQFPFVb8RjolLNgg Um0rMq5ixqkaYlPVZzNZHymw0ciWl9xqpQEWc20rT+kx99LMwPbB/zD9WmYGAADe6WMEKPIxRFxq d5g+RwGWrfRYgLIawbwCNIJE98Ki8t4vjoZIVRvxT9ruBI+LpAuV2KSM1O2h+SbfD8fcnEA2gS3t n3qfKUIuqYIGOKLzsdOraZdGeoeOamyENV3FVpX1+0vMtXx8ojqId7/DQXtbeg8NxTLITzkNw2xd 3Pjoe7glEgA+CmQIaOqnEHGHdweNHBeSFi9pAWANBU90VgBm+Vpxr4nTkGHVKZ3f3kHxqPnZ9MpO P2ggDlswT4yhddqQDE40ws3yMjfprd13a+IkEIt4o+Nvd7tDktG6HlSRejm3C2dR9nTsDEQ6zoOT Yh+GIawA5NH8f5pbb4UK6KRHtXX9qV9JowDe6iMMaPk2JN3GjRYPDOuBVrlYyitAI1h8XRbugU7n sN9+hP2qL8KD3YtkJFE9g1DuV8P7k65czWHCip9kBQ5hHpU+42GNuQjId7rZ7bA9Y/amO1tSFDyx qt+n/ocNXlNZeC1RcA/LH3FEnLoAjA2ff2wujYJUz4bxKB+N1sVBbAAA3ooLBogywCF2Xd0I29kw 9EICrcqydF5oaIjf93m8OuBHkdimX713cOyz8ah4CSVk0kJeYRl+uhioK7PzIaJHgMnp2V9CicKp AlBSMG0GBc2jymdMEYpWN6YXuAqeAIBR2j06U54PAHe0NFxGtZew2Y/yRemv0Y5XfZ0lAAC+ujtK ASVxEL60XSKKtu3CCJxGmvD/7Ukf4n70Z23fP89cdZCQ5TAUpLP5c78aPO3qUIcCXHiOoHevziz8 rjtn6yBJ12sPpMzPhtD9zeL5m3MAxqz/TPXspojPIHxFPYjyWn8ZOjF9uLS1OM8vXw6PJK5POgrD UZMAXunbVGwAjED48g/RWk6ESNxYF/xz20X7l5lgHCY31939b7EW12YQqnMiO6pJAzHlaihDK5y1 TyVwbs9pqJ9eTP50g7kKZqcwr5qaye6OnU0LsSeMZTHhuKBNakMP63p7Vyrf2Wpo6Lm7kaecjeoi 7/8YzkIwlIa5Y40E/nm7lFSZeNBIhm+kjwNLCwDaWBNORoCGD3eDEr03tuoAh3TcTmp9Q4hq4QGl XuE8o6T7q89fvl/JZprwTdh2TJd9MnOgXfXPvZDeXdla+aVk/WHOVotRDzNutqNgzYDGako9iZ6Y pfB2SdTORG+by4nweKrfXfbVbtadAP5qOxkqJ4OBrIZdI3UPZ5NAa2WxlBEovpK3uv3N4QO+HlU9 K3/tN65LrfinLo/2lich02Ld3omOuXKPd6keD/MiQM9cUAUF6f1xGcEOTYj8gbELmqfAS8b2gjtp lF2Nv7Hlv3d6Fd8eMYPmAamJP6PV8A4cv/+j6nfrvmoAfkojGkS/9wLb72Y77BeBoBnQOoDB2c7L hk5GD9k2lvKALot+Grfr8coytKi0QBo/0bx9p0WWzSYIvJpyCUDAfD/uvm9MMREJ5rBbK2O9vTlm r/KYR6ww6UifmO/rdXS9ByrflEQBtHr7NtzkVEAwtBk2vrEwCH+/ZKd5Vx+ZW+cuAH4awwWYd1oB ++9mm/krg6BewQaQtJnz0tfhcKjsrLjnXmmpJqA1oLH440tNDsE2+WGE+NPebIeoQFDAJ8da+Y5E oCV/ZbLdRSpF5Tyctq0hDvMDkULRl9v5yhrUvcSOIFYelGr+5kj5P2KtKdavwRmlLpZ1C3zjwpYP 5/LYBz764hHoQUCXvpnHd9IkSf84WL8FSBy28wLVoy8dzO468NlRyh34157rG2F9wEbwoi4bFXdk +1KIo0uhHD9Wf9HFq897SFhkscuC5lRn/JzC+3iTeHdzDgn875UVeyJLQekfKod6FCbrfzscCMZ5 bzcld6EXY0FypLX/5moNAL4qo1opJtwKdODd6OC7QdLioQBgBzxN55zH13CnuvXzlR1Jwmu5BmyS LfyDSGAqdWUyjbBOGWidhG5BWq87JMdlYtB1+u6i6/+jZobEHhc0rWhJ+1Ye8bFpO8SjdEVazVKq hkr1fNEhHm318xZqwESsWXaOknrtZsaad68jeeEAnnrDHIhYNOLczQZnBmzuKdgBaGOXqqMaZh/E 8aNOZ8dLvWOe3R4/7Z9u/ldmIHowzbgWmflmNPgr597PmegyyAPIwK4HejxpD2jE/ZuvZoiHGhmb rPLKO0OINWq2xZkYxAGhL42uPDO3O6Wd1Wx5JG65uyzDuTSV+lTbRywnO18s8/0E5QG+yhMYFLMO IHOj2EaDsGQHtZF6szqqUJUpryuCvlaL4/3YuXfh0Lhu/k5XH4laytcMIOBCBSfPHrLoqbmHPBIQ cRR7+M7Ctd2mfYlPDFMalXqh8SimO1EVLzuMxe0wm5aZjnKvxZj5+ClFSuNdEH+I1QBb8ZEbWLSd Olhh7fJqRqeSAN6qKy1o6kWDzG6EbqNhwg+XBEBLJemYlw3BWd9dPtKqGv7qbtdr58OK6KBi10kI CrzyKOrUM4zFQrqPmfwiM3RlgIoYq/WN/m/zQazKdNQDBma81vcRlCZxb8gP1alk61H4LQso0Pqv K/PBFYtQzaNXK/2JFfDHbTKZz8E7Puym5RUrGgA+ahOWZgDA8G6EW2FDKwXQ0saF6nyFkTKc6wZF wTyfu/zowed/J96vaGioDoospkideynuhbr0cCzq65f8QhECQBaKoC55ImL/lLrswnKuRexDnuL3 fdMuSV9mS5uzJ/N084AHfF3XceSNfThUYSgukurJXxpaCFGe5CSVOSXEIdUWxAPeyuswWKaYCKVe /0ZaPkC7YrGUVwBf/Pr/4XgX0/3qz6fkz15ka2R/DUyREkryLIN5tOk97zNPt+2G1kAVCqjz5Ce+ InR08VWMY+eSgEt7abazTAPjjrmpNIsiCJOzSe2rzYoKdRAgmwibBrXePB4JyslcY3cTsgIxGCDj c/6RL3nLAR6KOyKBos4BbOjNbkMjwKgvS+YVPA1L//HJIGHNGjGXrtqvfxIfXjSiAgA+Ohquzbg6 eXp48OBnXTqtWbB6yNS+Cld37xUzR4vUsPGuynB5PQFStw8yFrR5mASXWPj6eYHFyj/MD7ILsksA mJjvWD48ETyFAIidSPvL0WYMCQD2OPpHxZeASCH6GpsAwErrACzkhYYxke7hs2kbWbb3jg+IL6Yd U0o1HGdplvGwsVD90Yrj6cB7ez7dQpXU7Jvs6Qk2EPOWmpM/j0NFyVNQfA6ip+ib2SovHwJYJYbe VfZzM8bjLWhWke+Y6iYhFBLf7J758Czho/RN2OF6e47T+zZiEAAEo6MP9oMDABhsgzqB9f/cvtuP 1GoTeng8Y8SIwzg8ecETIHvQtLYOPHZazt38n3DWvpNw0qp2bzQi/VLC7WtW9Oyi6T4jaX1ky2/C pad4VThEcJ8PsClpX95W2OID/6FicfwUAAzDaZGFO2wDwALUA2gGyPO4J/+99/+khQ5yKxh5XPvh cDV8+9JqeW4NgloMR5bWkxkQHG1HQk3jwWwO0sta/mv/Rej4ReJIqAAAAEOeOQ8RW9zX5TD6HMrG x9DQABqrxL8Y+ispBMPeKOsTbJwBAJpkAoSyZVfzpJwsBUtRD+vWvq7Si7t9dGGwjTEdqihNbvly NAdrlt/W0iPkxuf7E//9dfB/2VDAFCP9tEjCeQfXceHaPJ1x3lxozVkm//BM1h+d+tMcLyQAAAy9 gZi8Ehh6tW+vcBMgt31xKqN/T2pZRnqWPp4c665/LUnPk23Hv3bsXEmoRJW+n0rsSr00bxIyFHeW a0GT/CiEFr4LU3Vkdo5/U/aTaciO9J0egr0++oDyavQFPeVxCwAADMOBKLcoWC7A6wFGjv/8aQV3 36ZnLQ1Wpt8eO9/Sz+ynWPffb1zmI44T0FR6pW7dWt+0G4YyV3NA25ZbEOyjEoleyrxnJGQWLJum ksFq7l/07ZxV14vaXYZXzAQATL29sI3dagUwsCygPAG5dNHS5PaR1ruPHlsJzYa4NDRs93y0TViM zAUbU477ntiMrY7KyZiOxjCmTz1rvB8sFkm3bo9C+Lj2pEShHpORlNfuiBZZkTLBlWiYSO9eoM2r vuoaAAB0NV8FX+8JABYebsKCMflSy+7cvfX/+0TTGMQyenLC3rrz2jIWJgQiWl279087X3atqVDp QQtj+WnbpGPtNV4bbGHOD4PRO5F6qVvdXMHBHYN9U6s2c1dWNjJD6eIIAABsNU/Cb9/CyAQIDP7A 9XCSc8l9nik37q9pIdbSiNTezd47L8T955MKpjN5Fjm8yveCbS8x9rMYy2LI4/zX296x8PjSKa/f d+RviD+rZGRiZ5qyFAZXuYVvDqor2/kTbg4AbDPk5LvNABBYBLhi6WdCtt9Mg3Nb6z/NmNMoAbl9 JY7vzq3pMIsWj1dnk88ltexIj06H54BlpZFUuC47TCQUKk0rDGDQqBcZeLK10lcNxoG4hcHap/uv T3/K59WXFQB0M6TyWQAKGukECL7uCc4WOWFsY/t7bHwQLM4WcufB68PDJjx0KZHFiZW+upaWu+dH o08Q6dqXvx++X7V9O8imfHvreZpr21pVT7e004U07x14r8w/ykR50CtiAQDa+nJewSYcoJmbSf/F uASQCy6AlkTpvOArpmmcHPpd71YWII9+8XqBrZAZSorZ1BMpK9PJ3IfjHyN8zsBWeAQWKEGrpoNN urc8xF7lIp1EX6n5At8YM6OABJmBH610JApbd+G8EVmHWGLocUAFyOrdXF+NtpJNJAbnz7xtob+c Y8qjMs7I/5gudwB+ChMcBOVMsLybS2PRI0kbp2BjwHAlq2sUqk/1TjOp6hirOjKL2Yod08R6DNe2 VsAi8F/xD2Z/t9Ml2UJlq0nXv2XdkZ5g9WqrDcn3R2Zz5HlguqG+0coxOxvFa7YCoem+RsAxa/QH bfMuVokhb4Gro7pfs5Au2R21OEIPAVldr169AL5Kawx03hLp6+IbHLIJQwJaqxpK5hXAV3iv9+7f zvTI6+kQ9W3VPh2W1IpUpoSpkF78IpZm2lfsDq5CKNSj3+TjkXBEWgveva5as2U6T2oDqu9KdVi5 TVIvq5wHyZqwRotjf4gI0STrQSgaAPJOUd6TNA8A3kU03N/8t/RbAH5KO5dCBlUHxO7ozZombRq6 JgGtqnJaYNAQKIW2oMizUj3gnZnPjx0aIVMARJrZBo+jy0sf1s1v+w2XwieoK+vxKfq6XvdBLZ7L asP7BzomuYG/rf8wr+82gKC3nQyuzqrRa5uru+U6AaS3hUt1CDMNxEbmiGFERkY3AH4q+yZi03qo SLujG1vDI1drFUlGgFWAIA9v7pjXf73t0WKxuej6zcxLe3P7dssyMeGi1HxdqRhhzTgoAJ9a75DW swtxZK7kvl9Q7lOYAtONZ2DihCzOiWVQBm25VxBwZ5DztFUxL82wypmY0ICnO/BCifVO1gBPZ2dT AATQCwEAAAAAANLmXMoGAAAAMkD5KAqFYWRiiXhtZ146Vmn6l6W3VlAgdUR77MHKDoAn5AXL9Ov3 yFjS189XpmnK+Dix5y0sJ0aRHERvPBzHph6LcMwd8zTxqmgijqgFQVKyC+RSbETm2GsT3DC2Cd8J Wq0AiyvI7CaaUZSIhyXQdKt0ysV6XVngHLR3eqckCEA0jb/lFpWZ6cRjaf0aHaW+etkAAASrdYP5 aPEw4FoIdwAD4CUPzsLTLzsH4iEGe86da23dPhZ6uv4JL4e2bt8XBCPSUCZzvNPQy+mX24NSAABg PKZzf3yOgdmA4/NfjMr4YoWalJz3lTYcuAOsnkD1rIj7lgEUv3nFsRV2eThYAKBPEKVuuheW5NaB OxZ9joc3uQl0u0mvijEh4f/Phos/H+4enYPT3ZUmPHspDQHGqjdvK8lfBv/JntO1iImjVXmFIy6N PPuc4wAQzl/D7FhHvfX2H6XTGgAABL9tTkajxQYcDgDoE3yYBn9b9KR1s781NHoSYqrQSP/78zSY HoxsJ3ds1+DQsnjxajY0R/VqAk8bJWZ6797b/iQ1NyYwzSd6/Df8E7fKJIzlhnFHju29q17HtK1w o7jtBQA6WJsvKjTdhCP8bOBeAl6hMCrOecGbSs/LkxLTlaeh7pPOi/fIgdjKUyNHt41HVpDw1n21 TdfbR8nu0dMUya5jp/2PsDaGt+JQx1i8u7RVzVjuALJAgXWOge2+tslJa1O+NTz4kuSVk2kGKNBG 97vxIyhlbZC9aWnl6JPOMunXTwKrHv/ugQ7CAF4I2m95EGASe3yxC+BlanU2iX3QxYFJd5Qa5mLp 676mXOAwJ6vCB4q8TLOlaXkMMY9DuYP8vhYSAHTs/QwsceX5nrVtAbG7wCSjHj9XuQDxoVQ9OJWc a13D18LpDZAGH1IGd1nlUHs7lFms+nicfKNooPcx2LK1A17IOff8STqFx6UuDtRcdvJQevOw6z/r ulPRY5o5M6ZuYX98/q5UygggcDrLaH+orOqq72NsECRSGCNwNbtd1SZxSql3a7fklnU9LW650lgg a2ITVUl2jyCpUV4qQMl65HCy4FaczZ4y5toZ1Bfe53kLPwAahNuWg4U8PoC3epPx9J1KwCLH7mTx 5H7zcvQm8Rxe7uHbVsAun6MvCXWKneb8ytZ7vZjWwboq8lsDpkrGzEnbdUO7adJVDbzR2Q7eVMs6 BcL9PZ+6s8KJGRiVf793X1IEvvd5Wh+MAaBVsSjmPBTgebXIhYLD4SEctOEY/1Tol2ZbJBP13Arz +iF22DtH7ELvXpwXAKxz1YvVeFNjLZTr5LRBWMxh1fWdIEFdLaWtBcHnOZl77DASyLmHx5VtC37Y +VMRABwGlHpIcASjXE7AFZYPXpHxIoc/LQcm8+wLXjTMUMbHUwDdcLkKwGC4XOWaIEypklo/AgA=","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.16665649414062,"y":900.0833435058594,"wires":[["8f663a92.cfa058"]]},{"id":"6130c3.a242ff3c","type":"function","z":"22206cc.ed21b14","name":"Feed audio","func":"msg.id = msg.payload.id\nmsg.deviceId = msg.payload.deviceId\nmsg.branchId = msg.payload.branchId\nmsg.locale = msg.payload.locale\nmsg.question = msg.payload.question\nmsg.payload = msg.payload.question\n\nreturn msg;","outputs":1,"noerr":0,"x":279.1666717529297,"y":1016.7500152587891,"wires":[["8f663a92.cfa058","bf94868c.9b961"]]},{"id":"f81112f0.f2da78","type":"function","z":"22206cc.ed21b14","name":"Save conversation","func":"var timestamp = new Date().toUTCString();\nmsg.payload =\n{\n    ID : msg.id,\n    DEVICE_ID : msg.deviceId,\n    BRANCH_ID : msg.branchId,\n    LOCALE : msg.locale,\n    CONVERSATION : msg.payload,\n    CREATED_DATE : timestamp\n}\nreturn msg;","outputs":1,"noerr":0,"x":1262.2000579833984,"y":1189.750015258789,"wires":[[]]},{"id":"9abf4e12.8b721","type":"comment","z":"22206cc.ed21b14","name":"Tone Analysis","info":"","x":1011.7332916259766,"y":801.7499923706055,"wires":[]},{"id":"1a8a7423.720554","type":"comment","z":"22206cc.ed21b14","name":"NAO PRO Web App - https://hlb-nao-demo.mybluemix.net/nao-pro","info":" https://hlb-nao-demo.mybluemix.net/nao-pro","x":1743.733139038086,"y":1539.0834503173828,"wires":[]},{"id":"67805810.ca7348","type":"template","z":"22206cc.ed21b14","name":"Create response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\" : \"1.0\",\n    \"id\" : \"{{{id}}}\",\n    \"status\" : \"{{{status}}}\",\n    \"errorInfo\" : null,\n    \"locale\" : \"en-US\",\n    \"actions\" : \"{{{actions}}}\",\n    \"intentId\" : \"1\",\n    \"requestText\" : \"{{{requestText}}}\",\n    \"responseText\" : \"{{{responseText}}}\",\n    \"answer\" : \"{{{payload}}}\"\n}\n","x":520.1665649414062,"y":1859.7501373291016,"wires":[["c9c1a255.bf7b58","1dc8efe9.195ad"]]},{"id":"5fd2cc24.0416ec","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"payload","x":1109.89990234375,"y":1760.7979602813734,"wires":[]},{"id":"ef32322f.26efe8","type":"comment","z":"22206cc.ed21b14","name":"Response","info":"","x":875.6123809814453,"y":1572.635498046875,"wires":[]},{"id":"9edec075.7387b8","type":"function","z":"22206cc.ed21b14","name":"Response Body","func":"msg.statusCode = 200\nmsg.status = \"success\"\n//msg.question = \"not ready yet\"\n//msg.answer = \"not ready yet\"\n// try \n// {\n//     JSON.stringify(msg.payload);\n// } catch (e) {\n//     msg.statusCode = 107;\n//     msg.payload = \"Broadcast Error: Invalid JSON\";\n//     return msg;\n// }\n\n// if(msg.payload[0][\"devID\"] !== undefined && msg.payload[0][\"room\"] !== undefined)\n//     msg.validJSON = true;\n// else\n// {\n//     msg.statusCode = 108;\n//     msg.payload = \"No devID and/or message provided\";\n//     return msg;\n// }\n\n// //sets the device ID and message to broadcast from JSON\n// msg.deviceId = msg.payload[0][\"devID\"];\n// msg.room = msg.payload[0][\"room\"];\nreturn msg;","outputs":1,"noerr":0,"x":772.3123779296875,"y":1803.4041595458984,"wires":[["67805810.ca7348"]]},{"id":"d935648a.db2de8","type":"inject","z":"22206cc.ed21b14","name":"wav - null","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.61250305175781,"y":938.6354217529297,"wires":[["8f663a92.cfa058"]]},{"id":"7df13b9f.b80884","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"payload","x":379.6124725341797,"y":812.6354217529297,"wires":[]},{"id":"69d5b80d.dfe4c8","type":"function","z":"22206cc.ed21b14","name":"Hanlde errors","func":"// msg.statusCode = 200\n// msg.error = \"Error in the json\"\nmsg.payload=\"I do not understand the question\"\nreturn msg;","outputs":1,"noerr":0,"x":644.3061370849609,"y":1222.3979034423828,"wires":[[]]},{"id":"1b3f2327.4db0cd","type":"debug","z":"22206cc.ed21b14","name":"payload","active":false,"console":"false","complete":"true","x":599.6124725341797,"y":939.6354217529297,"wires":[]},{"id":"a9171354.5557d","type":"debug","z":"22206cc.ed21b14","name":"payload.question","active":false,"console":"false","complete":"payload.question","x":584.6124572753906,"y":1070.6354141235352,"wires":[]},{"id":"f2712eff.5e5d18","type":"catch","z":"22206cc.ed21b14","name":"Catch errors","scope":null,"x":655.3061370849609,"y":1159.5853424072266,"wires":[["69d5b80d.dfe4c8"]]},{"id":"739aaba0.f928f4","type":"comment","z":"22206cc.ed21b14","name":"Reply for errors","info":"","x":647.6124725341797,"y":1109.6354217529297,"wires":[]},{"id":"1588ca6.157bab6","type":"json","z":"22206cc.ed21b14","name":"","x":437.2999725341797,"y":1168.816665649414,"wires":[["a9171354.5557d","f3550182.72f308"]]},{"id":"bf94868c.9b961","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"question","x":495.79998779296875,"y":982.8166656494141,"wires":[]},{"id":"f3550182.72f308","type":"function","z":"22206cc.ed21b14","name":"Extract request body","func":"//msg.payload = msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":342.4666442871094,"y":1098.4833145141602,"wires":[["6130c3.a242ff3c"]]},{"id":"eddec239.32908","type":"comment","z":"22206cc.ed21b14","name":"Greetings REST API","info":"","x":116.99998474121094,"y":92.56666564941406,"wires":[]},{"id":"3f561bbe.c5e674","type":"comment","z":"22206cc.ed21b14","name":"Bluemix Object Store","info":"","x":1380.999984741211,"y":320.56666564941406,"wires":[]},{"id":"347fd7fb.fe04b8","type":"function","z":"22206cc.ed21b14","name":"Set user","func":"msg.user = msg.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":819.7343597412109,"y":1035.816665649414,"wires":[["6ec91d1d.b0107c"]]},{"id":"d466293b.d3f1d8","type":"http in","z":"22206cc.ed21b14","name":"answers - POST","url":"/api/v2/answers","method":"post","swaggerDoc":"","x":252.04684448242188,"y":1320.6353912353516,"wires":[["ac5bc008.7e1688"]]},{"id":"ac5bc008.7e1688","type":"json","z":"22206cc.ed21b14","name":"","x":441.0468444824219,"y":1321.6353912353516,"wires":[["f4cc591a.568f58"]]},{"id":"f4cc591a.568f58","type":"function","z":"22206cc.ed21b14","name":"Feed audio","func":"msg.id = msg.req.body.id\nmsg.deviceId = msg.req.body.deviceId\nmsg.branchId = msg.req.body.branchId\nmsg.locale = msg.req.body.locale\nmsg.transcription = msg.req.body.question\nmsg.payload = msg.req.body.question\n\nreturn msg;","outputs":1,"noerr":0,"x":614.0468444824219,"y":1323.6353912353516,"wires":[["347fd7fb.fe04b8","499b3770.8c0e18","ccb5f412.51ae8"]]},{"id":"499b3770.8c0e18","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"req.body","x":653.3405456542969,"y":1372.8040924072266,"wires":[]},{"id":"a3116920.4ad04","type":"function","z":"22206cc.ed21b14","name":"Get speech","func":"msg.payload = msg.speech;\n// msg.payload = new Buffer(msg.speech).toString(\"base64\");\nreturn msg;","outputs":1,"noerr":0,"x":1877.0468139648438,"y":1187.6353302001953,"wires":[["8e67cf37.191e"]]},{"id":"ccb5f412.51ae8","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"true","x":635.2468719482422,"y":1445.6353912353516,"wires":[]},{"id":"bc33f3f0.e575c","type":"delay","z":"22206cc.ed21b14","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300.5342407226562,"y":1261.404067993164,"wires":[["4db4ff90.50c678","8e67cf37.191e"]]},{"id":"db171a0e.15f9d","type":"function","z":"22206cc.ed21b14","name":"Set Headers","func":"msg.headers = {\n    'Access-Control-Allow-Origin' : '*',\n    'Access-Control-Allow-Methods' : 'GET, POST, OPTIONS, PUT, PATCH, DELETE',\n    'Access-Control-Allow-Headers' : 'X-Requested-With,content-type',\n    'Access-Control-Allow-Credentials' : 'true'\n}\nreturn msg;","outputs":1,"noerr":0,"x":2010.6343841552734,"y":1394.7503814697266,"wires":[["fea035fd.26fb48"]]},{"id":"267f5658.ceece2","type":"websocket out","z":"22206cc.ed21b14","name":"","server":"ea524d21.87d0e","client":"","x":2329.746810913086,"y":1759.5979766845703,"wires":[]},{"id":"46a08441.e45a14","type":"comment","z":"22206cc.ed21b14","name":"NAO webkit - http://hlb-nao-demo.mybluemix.net/nao-webkit","info":"http://hlb-nao-demo.mybluemix.net/nao-webkit","x":1745.046859741211,"y":1686.6353912353516,"wires":[]},{"id":"835c5d15.63a6b","type":"http in","z":"22206cc.ed21b14","name":"nao-webkit","url":"/nao-webkit","method":"get","swaggerDoc":"","x":1637.046859741211,"y":1951.6354522705078,"wires":[["1e39051c.331fe3","86a8f4ff.8f7e58"]]},{"id":"1e39051c.331fe3","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"false","x":1698.046859741211,"y":1905.6354522705078,"wires":[]},{"id":"fe34773.7bf4e88","type":"http response","z":"22206cc.ed21b14","name":"","x":2048.046859741211,"y":1952.635513305664,"wires":[]},{"id":"86a8f4ff.8f7e58","type":"template","z":"22206cc.ed21b14","name":"Webkit STT","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html ng-app=\"myApp\">\n<head>\n<meta charset=\"UTF-8\">\n<title>NAO webkit</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/nao-webkit\";\n\n    $(document).ready(function connect(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n          sendInit();\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n          setTimeout(function() {\n            connect();\n          }, 1)\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        if(typeof evt.data !== \"string\") {\n            output.src = window.URL.createObjectURL(evt.data);\n            output.play();            \n        }\n      };\n    });\n  </script>\n</head>\n<body style=\"font-size: 30px; font-family: helvetica; text-align: left; margin-top: 100px;\">\n    <h3>NAO Webkit App</h3>\n    <div id=\"text\">Connecting...</div>\n    <audio id=\"output\"></audio>\n    <!--<img onclick=\"recognize()\" src=\"http://i.imgur.com/cHidSVu.gif\" />-->\n    <img onclick=\"recognize()\" src=\"https://speechlogger.appspot.com/images/micoff2.png\" />\n\n    <h2>Conversation</h2>\n    <ul id=\"conversationlist\"></ul>\n  <script>\n      function sendInit() {\n          var deviceId = localStorage.ipadsimId;\n          if (deviceId === 'undefined') {\n              deviceId = \"ipadsim_\"+Math.round(Math.random()*10000); \n          }\n          var payload = {\n              \"deviceId\" : deviceId,\n              };\n          localStorage.ipadsimId = deviceId;\n          sock.send(JSON.stringify(payload));\n      }\n  </script>\n<script>\nfunction recognize() {\n\n\tif (window.hasOwnProperty('webkitSpeechRecognition')) {\n\t\n\t\tvar recognition = new webkitSpeechRecognition();\n\t\t\n\t\trecognition.continuous = false;\n\t\trecognition.interimResults = false;\n\t\t\n\t\trecognition.lang = 'si' //'en-US;;\n\t\trecognition.start();\n\t\t\n\t\trecognition.onresult = function(e) {\n      \t\trecognition.stop();\n      \t\tdisplayCustomerText(e.results[0][0].transcript);\n            \n            console.log(e.results[0][0].transcript);\n            postQuestion(e.results[0][0].transcript);\n    \t};\n\n\t\trecognition.onerror = function(e) {\n\t\t  \trecognition.stop();\n\t\t}\n  \t}\n}\n\nfunction displayCustomerText(requestText) {\n        var li = document.createElement('li');\n        var br = document.createElement('br'); \n        var customer = document.createTextNode(\"Customer: \");\n        var question = document.createTextNode(requestText);\n\n        // li.appendChild(br);\n        li.appendChild(customer);\n        li.appendChild(question);\n        conversationlist.appendChild(li)\n}\n\nfunction displayRobotText(responseText) {\n        var li = document.createElement('li');\n        var br = document.createElement('br'); \n        var robot = document.createTextNode(\"Robot: \");\n        var answer = document.createTextNode(responseText);\n\n        // li.appendChild(br);\n        li.appendChild(robot);\n        li.appendChild(answer);\n        conversationlist.appendChild(li);\n        li.appendChild(br);\n}\n</script>\n  <script>\n      function postQuestion(transcript) {\n          var xhr = new XMLHttpRequest();\n          xhr.open('POST', \"https://hlb-nao-demo.mybluemix.net/api/v2/answers\", true);\n          xhr.responseType = 'text';\n          xhr.setRequestHeader(\"content-type\", 'application/json');\n          xhr.setRequestHeader(\"Access-Control-Allow-Origin\", '*');\n          xhr.setRequestHeader(\"Access-Control-Allow-Methods\", \"PUT, GET, POST\");\n          xhr.setRequestHeader(\"Access-Control-Allow-Headers\", \"Origin, X-Requested-With, Content-Type, Accept\");\n        //   xhr.send(JSON.stringify({\"id\":guid() ,\"deviceId\":\"nao_webapp\", \"branchId\":\"branch_1\", \"locale\":\"en-us\", \"question\":$('#hi').text()}));\n          xhr.send(JSON.stringify({\"id\":guid() ,\"deviceId\":localStorage.ipadsimId, \"branchId\":\"branch_1\", \"locale\":\"en-us\", \"question\":transcript}));\n          \n          xhr.onload = function(e) {\n            if (this.status == 200) {\n                var text = this.responseText;\n                // console.log(text);\n\n                var json = JSON.parse(text);\n                // console.log(json.responseText);\n                displayRobotText(json.responseText);\n            }\n          }\n\n      }\n      function guid() {\n        function s4() {\n            return Math.floor((1 + Math.random()) * 0x10000)\n          .toString(16)\n          .substring(1);\n        }\n        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +\n        s4() + '-' + s4() + s4() + s4();\n      }\n  </script>\n</body>\n</html>","x":1867.046859741211,"y":1953.635513305664,"wires":[["af0c94c3.f4915","fe34773.7bf4e88"]]},{"id":"af0c94c3.f4915","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"false","x":1937.046859741211,"y":1893.6355743408203,"wires":[]},{"id":"a67881b3.ae457","type":"websocket in","z":"22206cc.ed21b14","name":"","server":"718221b2.34a6a","client":"","x":1563.2010162353517,"y":1333.5500818888347,"wires":[["528fa4ca.61cd34"]]},{"id":"528fa4ca.61cd34","type":"function","z":"22206cc.ed21b14","name":"JSON.parse","func":"msg.payload =  JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1767.2010345458984,"y":1333.2835845947266,"wires":[["8731d098.8ad9f8"]]},{"id":"8731d098.8ad9f8","type":"function","z":"22206cc.ed21b14","name":"Save Session","func":"var deviceIds = flow.get('deviceIds')||{};\n\nif (msg._session !== null) {\n\n    if (msg.payload.deviceId !== null && msg._session.id !== null) {\n    \n       if (msg.payload.deviceId in deviceIds) {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           flow.set('deviceIds',deviceIds);\n           \n       } \n       else {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           flow.set('deviceIds',deviceIds);\n       }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1970.2010345458984,"y":1334.283706665039,"wires":[["c8a8ffbd.d993d","c37154cd.b9746"]]},{"id":"8e67cf37.191e","type":"switch","z":"22206cc.ed21b14","name":"Select only webbots","property":"deviceId","propertyType":"msg","rules":[{"t":"regex","v":"web.*","vt":"str","case":false}],"checkall":"true","outputs":1,"x":1832.2009735107422,"y":1252.0833282470703,"wires":[["3947093b.d0be7e","153e7475.c76cfc"]]},{"id":"3947093b.d0be7e","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"deviceId","x":2111.2010345458984,"y":1177.5500030517578,"wires":[]},{"id":"153e7475.c76cfc","type":"function","z":"22206cc.ed21b14","name":"Append Session","func":"var deviceIds = flow.get('deviceIds')||{};\n\nif(deviceIds !== null) {\n    //msg.payload = \"ok\"\n    msg._session = { \"type\": \"websocket\", \"id\": deviceIds[msg.deviceId] };\n    // msg._session = \"\"\n} else {\n    \n}\n// msg.payload = deviceids\nreturn msg;","outputs":1,"noerr":0,"x":2027.2010345458984,"y":1251.6166534423828,"wires":[["c8a8ffbd.d993d","5b6d5e1e.7dc508"]]},{"id":"4db4ff90.50c678","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"deviceId","x":1763.5343475341797,"y":1292.8832550048828,"wires":[]},{"id":"5b6d5e1e.7dc508","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"_session","x":2315.446762084961,"y":1183.6353302001953,"wires":[]},{"id":"c37154cd.b9746","type":"debug","z":"22206cc.ed21b14","name":"","active":true,"console":"false","complete":"payload","x":2256.646957397461,"y":1321.6353302001953,"wires":[]},{"id":"b2e3e47f.65362","type":"switch","z":"22206cc.ed21b14","name":"Select only ipadsim","property":"deviceId","propertyType":"msg","rules":[{"t":"regex","v":"ipadsim.*","vt":"str","case":false}],"checkall":"true","outputs":1,"x":1628.500961303711,"y":1763.9834747314453,"wires":[["834c639e.cac8f8","74f2f94b.7137c8"]]},{"id":"74f2f94b.7137c8","type":"function","z":"22206cc.ed21b14","name":"Append Session","func":"var deviceIds = global.get('deviceIds')||{};\n\nif(deviceIds !== null) {\n    //msg.payload = \"ok\"\n    msg._session = { \"type\": \"websocket\", \"id\": deviceIds[msg.deviceId] };\n    // msg._session = \"\"\n} else {\n    \n}\n// msg.payload = deviceids\nreturn msg;","outputs":1,"noerr":0,"x":1901.500961303711,"y":1763.5167999267578,"wires":[["67b7bc2c.d2e8bc","267f5658.ceece2"]]},{"id":"834c639e.cac8f8","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"deviceId","x":1790.500961303711,"y":1717.4501495361328,"wires":[]},{"id":"67b7bc2c.d2e8bc","type":"debug","z":"22206cc.ed21b14","name":"","active":false,"console":"false","complete":"_session","x":2047.746810913086,"y":1717.5354766845703,"wires":[]},{"id":"d5eb0663.a129e","type":"function","z":"22206cc.ed21b14","name":"JSON.parse","func":"msg.payload =  JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1828.5010223388672,"y":1827.1836700439453,"wires":[["d7f63c23.68b49"]]},{"id":"d7f63c23.68b49","type":"function","z":"22206cc.ed21b14","name":"Save Session","func":"var deviceIds = global.get('deviceIds')||{};\n\nif (msg._session !== null) {\n\n    if (msg.payload.deviceId !== null && msg._session.id !== null) {\n    \n       if (msg.payload.deviceId in deviceIds) {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           global.set('deviceIds',deviceIds);\n           \n       } \n       else {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           global.set('deviceIds',deviceIds);\n       }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2031.5010223388672,"y":1828.1837921142578,"wires":[["41d3edb7.3f3c1c","267f5658.ceece2"]]},{"id":"41d3edb7.3f3c1c","type":"debug","z":"22206cc.ed21b14","name":"","active":true,"console":"false","complete":"payload","x":2327.9469451904297,"y":1815.535415649414,"wires":[]},{"id":"56060427.8cc744","type":"websocket in","z":"22206cc.ed21b14","name":"","server":"ea524d21.87d0e","client":"","x":1622.6842498779297,"y":1825.7334747314453,"wires":[["d5eb0663.a129e"]]},{"id":"6ec91d1d.b0107c","type":"debug","z":"22206cc.ed21b14","name":"payload","active":true,"console":"false","complete":"payload","x":922.7843475341797,"y":968.3166656494141,"wires":[]},{"id":"e82dd7ae.1cbec","type":"switch","z":"22206cc.ed21b14","name":"Selfie / QMS router","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"selfie","vt":"str"},{"t":"eq","v":"qms","vt":"str"},{"t":"nnull"}],"checkall":"true","outputs":3,"x":1214.434310913086,"y":984.1666107177734,"wires":[[],[],["6cec2eb3.794b4"]]},{"id":"a35857ec.946c3","type":"function","z":"22206cc.ed21b14","name":"Continue Conversation","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1575.434310913086,"y":992.1666412353516,"wires":[["6cec2eb3.794b4"]]},{"id":"c08d1fc1.234b08","type":"comment","z":"22206cc.ed21b14","name":"Selfie / QMS ws Endpoint","info":"","x":1655.984359741211,"y":549.1666717529297,"wires":[]},{"id":"26831877.83ee68","type":"websocket out","z":"22206cc.ed21b14","name":"Selfie / QMS Socket","server":"8f53e84e.dc797","client":"","x":2265.351058959961,"y":717.5000152587891,"wires":[]},{"id":"46babea2.7d623","type":"function","z":"22206cc.ed21b14","name":"Session Updates","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1917.984359741211,"y":716.6666107177734,"wires":[["26831877.83ee68"]]},{"id":"55a6042e.9f169c","type":"websocket in","z":"22206cc.ed21b14","name":"","server":"8f53e84e.dc797","client":"","x":1871.984359741211,"y":924.1666107177734,"wires":[["7d9e3d07.b26b4c"]]},{"id":"7d9e3d07.b26b4c","type":"function","z":"22206cc.ed21b14","name":"JSON.parse","func":"msg.payload =  JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1918.984359741211,"y":837.9001312255859,"wires":[["aa75e87.66d5d18"]]},{"id":"aa75e87.66d5d18","type":"function","z":"22206cc.ed21b14","name":"iPad Registration","func":"var deviceIds = flow.get('deviceIds')||{};\n\nif (msg._session !== null) {\n\n    if (msg.payload.deviceId !== null && msg._session.id !== null) {\n    \n       if (msg.payload.deviceId in deviceIds) {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           flow.set('deviceIds',deviceIds);\n           \n       } \n       else {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           flow.set('deviceIds',deviceIds);\n       }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1988.984359741211,"y":775.9002532958984,"wires":[["3e7ee53.04db21a","26831877.83ee68"]]},{"id":"3e7ee53.04db21a","type":"debug","z":"22206cc.ed21b14","name":"","active":true,"console":"false","complete":"payload","x":2338.430404663086,"y":866.2518768310547,"wires":[]},{"id":"18792089.bd723f","type":"switch","z":"7e6e19.d13c31e8","name":"mac id support","property":"payload.instances","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":130.066650390625,"y":457.88330078125,"wires":[["bbc55fd7.bc33e","ad9aff2c.b2844"],["e03cd71f.9607e8","c699eaa6.3ff958"]]},{"id":"8402493c.72e3f","type":"link in","z":"7e6e19.d13c31e8","name":"","links":["afa5ab97.537808"],"x":20,"y":458.9666748046875,"wires":[["18792089.bd723f"]]},{"id":"bbc55fd7.bc33e","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"false","x":130.88333129882812,"y":409.39996337890625,"wires":[]},{"id":"e03cd71f.9607e8","type":"debug","z":"7e6e19.d13c31e8","name":"","active":false,"console":"false","complete":"false","x":133,"y":509.9666748046875,"wires":[]},{"id":"c699eaa6.3ff958","type":"function","z":"7e6e19.d13c31e8","name":"Prepare mac payload","func":"var msgs = []\nmsgs.push({deviceId: msg.payload.macId, typeId: msg.payload.deviceType});\nmsg.payload=msgs;\nreturn msg;","outputs":1,"noerr":0,"x":366.63330078125,"y":500.01666259765625,"wires":[["81cb67b4.64559"]]},{"id":"3b3fe433.c78a04","type":"comment","z":"7e6e19.d13c31e8","name":"Start Device","info":"","x":870.5,"y":120,"wires":[]},{"id":"400d62c5.8bbef4","type":"comment","z":"7e6e19.d13c31e8","name":"Sttop Device","info":"","x":901,"y":1009,"wires":[]},{"id":"54378f7e.bed908","type":"comment","z":"7e6e19.d13c31e8","name":"CRUDS","info":"","x":145,"y":715,"wires":[]},{"id":"b4bbc92.e67c638","type":"mqtt in","z":"84cfc0d6.96368","name":"","topic":"/kraydel-device-2/x/y","qos":"1","broker":"4168f12b.77464","x":564.5000305175781,"y":293.00000762939453,"wires":[["d63edd9c.cf02"]]},{"id":"d63edd9c.cf02","type":"debug","z":"84cfc0d6.96368","name":"","active":true,"console":"false","complete":"false","x":821.8333435058594,"y":285.00000762939453,"wires":[]}]